@import "~assets/styles/base/base.scss";

@function repeater($item, $count) {
  $string: "";

  @for $i from 1 through $count {
    $string: $string + $item;
  }

  @return "#{$string}";
}

.form-text {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.file-upload {
  position: relative;

  input {
    position: relative;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 3.5rem;
    cursor: pointer;

    &:hover,
    &:focus {
      + .file-upload__target {
        color: $fc-focus-border-color;
        border-color: $fc-focus-border-color;
      }
    }
  }

  &__target {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 0.4rem;
    border: 3px dashed #ccc;
    text-align: center;
    transition: all ease-out 0.2s;
  }

  &__prompt {
    margin-top: 0.85rem;
    display: inline-block;
    color: #007bff;
    font-size: 0.875rem;
    font-weight: 700;

    &-icon {
      margin-top: -0.2rem;
      vertical-align: middle;
    }

    strong {
      color: #007bff;
    }

    &-msg {
      display: none;
    }
  }
}

.doc-list {
  margin-top: 1rem;
}

.droparea .file-upload__target {
  border-color: $fc-focus-border-color;
  background: #fff;
}

@media (min-width: 768px) {
  .file-upload {
    input {
      height: 5rem;
    }

    &__prompt {
      margin-top: 1.65rem;

      &-msg {
        display: inline;
      }
    }
  }
}
