<div class="form-text">
  <div>Maximum of {{maxFiles}} files, up to {{maxSize}}MB each.</div>
  <br> Acceptable file types: {{fileExt.slice().join(', ')}}
</div>

<div class="file-upload" draggable="true" ngClass="{{dragDropClass}}">
  <input type="file" #file [multiple]="(maxFiles > 1)" (change)="onFileChange($event)" />
  <div class="file-upload__target">
    <div class="file-upload__prompt">
      <i class="file-upload__prompt-icon material-icons">file_upload</i>
      <span><a href="javascript:void(0)" (click)="file.click()">Click to browse</a> or drag files here.</span>
    </div>
  </div>
</div>

<ul class="doc-list" *ngIf="files.length > 0">
    <li *ngFor="let f of files">
      <span class="cell icon">
        <i class="material-icons">insert_drive_file</i>
      </span>
      <span class="cell name" [title]="f.name || ''">
        <span class="cell__txt-content">{{f.name}}</span>
      </span>
      <span class="cell actions">
        <button class="btn btn-icon" type="button" title="Remove this file" (click)="removeFile(f)">
          <i class="material-icons">delete</i>
        </button>
      </span>
    </li>
</ul>

<div *ngIf="errors.length > 0" class="errors-list">
  <ul>
    <li *ngFor="let err of errors">
      <i class="material-icons">error</i>&nbsp;{{err}}</li>
  </ul>
</div>