<div class="flex-panel">
  <div class="flex-panel__header">
    <h3 class="title">Explore Applications</h3>
  </div>
  <div class="flex-panel__scroll">

    <div class="form-group">
      <label class="control-label">Posted Between</label>
      <div class="date-range">
        <div class="date-range__input">
          <label class="sr-only">Start Date</label>
          <app-date-input class="gtm-filter-published-from" 
            [(date)]="_publishFromFilter" 
            [minDate]="minDate"
            [maxDate]="_publishToFilter ? _publishToFilter : maxDate">
          </app-date-input>
        </div>
        <div class="date-range__spacer">&ndash;</div>
        <div class="date-range__input end-date">
          <label class="sr-only">End Date</label>
          <app-date-input class="gtm-filter-published-to" 
            [(date)]="_publishToFilter" 
            [maxDate]="maxDate"
            [minDate]="_publishFromFilter ? _publishFromFilter : minDate">
          </app-date-input>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Comment Period</label>
      <div class="select-badge-group">
        <div class="select-badge" *ngFor="let key of cpStatusKeys">
          <input type="checkbox" name="{{key}}" id="_{{key}}" [(ngModel)]="_cpStatusFilters[key]" [disabled]="isLoading" />
          <label for="_{{key}}">{{commentPeriodService.getStatusString(key)}}</label>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label">Purpose</label>
      <div class="select-badge-group">
        <div class="select-badge" *ngFor="let key of purposeKeys">
          <input type="checkbox" name="{{key}}" id="_{{key}}" [(ngModel)]="_purposeFilters[key]" [disabled]="isLoading" />
          <label for="_{{key}}">{{key | titlecase}}</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Application Status</label>
      <div class="select-badge-group">
        <div class="select-badge" *ngFor="let key of appStatusKeys">
          <input type="checkbox" name="{{key}}" id="_{{key}}" [(ngModel)]="_appStatusFilters[key]" [disabled]="isLoading" />
          <label for="_{{key}}">{{applicationService.getShortStatusString(key)}}</label>
        </div>
      </div>
    </div>

    <div class="form-btns">
      <button class="btn btn-primary gtm-apply-filters explore-btn-lg-device" type="button" title="Apply filters"
        (click)="applyAllFilters()"
        [disabled]="isLoading">
        Explore
      </button>
      <button class="btn btn-primary gtm-apply-filters explore-btn-sm-device" type="button" title="Apply filters"
        (click)="applyAllFilters();hideSidePanel.emit()"
        [disabled]="isLoading">
        Explore
      </button>
      <button class="btn btn-light" type="button" title="Clear filters"
        (click)="clearAllFilters()"
        [disabled]="isLoading">
        Clear
      </button>
    </div>

  </div>
</div>

