<tr *ngFor="let contact of contacts | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
  class="clickable-row">
    <td data-label="Nation Name" scope="row" class="col-8">{{contact.name}}</td>
    <td data-label="Province" scope="row" class="col-4">{{contact.province}}</td>
    <!-- <td data-label="Link to Nation Information" scope="row" class="col-3">
      <button type="button" (click)="goToItem(contact)" class="btn btn-light">{{contact.website}}</button>
    </td> -->
</tr>
