.bg-dark {
    color: $bg-dark-color;
    background-color: $bg-dark;
}

.bg-default {
    background-color: $bg-default;
}

.bg-dark-link {
    color: $bg-dark-link-color;
}

.clickable {
    cursor: pointer !important;
    color: $link-color !important;

    &:focus,
    &:hover {
      text-decoration: underline !important;
    }
}

.paragraph-link {
  color: $link-color !important;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $light-link-color !important;
    text-decoration: none;
  }
}

.hero-link {
  color: #4DA3FF !important;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: #4DA3FF !important;
    text-decoration: none;
  }
}

.table-instructions {
  font-style: italic;
  margin: 1rem 0;
}




// Named Anchors
.pg-anchor[id]:before {
    content:" ";
    display:block;
    height: 98px;
    margin:-98px 0 0;
}

.amp {
    font-size: 72%;
    font-weight: 400;
}

.no-scroll {
    overflow: hidden;
}

// had to put this here as it didn;t work in the individual components
.tab-section {
    a {
        text-decoration: underline !important;
    }
    a:hover {
        text-decoration: none !important;
    }
}
