@import "~assets/styles/base/base.scss";

$popup-border-radius: 0.2rem;
$popup-title-color: #fff;
$popup-title-bg: #003366;

.popup-content {
  padding: 1rem;
}

.popup-body {
  border-bottom-right-radius: $popup-border-radius;
  border-bottom-left-radius: $popup-border-radius;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    font-size: inherit;
  }
}

// Title Section Contents
.file-number {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.applicant-name {
  line-height: 1.4rem;
  font-size: 1.25rem; // 18px
  font-weight: 600;
}

.purpose {
  color: #999;
  line-height: 1.4rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
}

// Status 
.status-container {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.875rem;

  li {
    @include flex-box();
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
  }

  li + li {
    margin-top: 0.2rem;
  }

  i {
    @include flex(0 0 auto);
    margin-right: 0.2rem;
    font-size: 21px;
  }

  span {
    @include flex(1 1 auto);
  }
}


.app-link {
  color: #fff;
}

.meta-container {
  position: relative;
  overflow: hidden;

  li {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li.app-description {
    margin-bottom: 0.5em;
  }

  li:not(.app-description) {
    white-space: nowrap;

    + li {
      margin-top: 0.1em;
    }
  }

  .key {
    padding-right: 0.25em;
    font-weight: 700;
  }
}

.popup-body {
  line-height: 1.4em;
  font-size: 0.875em;
}

.app-link {
  margin-top: 0.875rem;
  font-size: 0.875rem;
}

hr {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}

@media (max-width: 1023px) {
  .popup-content {
    font-size: 0.875rem;
  }
}

@media (min-width: 1024px) {
  .popup-content {
    font-size: 1rem;
  }
}