<div class="app-detail-title">
  <span class="client-name__label">Client Name</span>
  <span class="client-name__value">{{app?.client}}</span>
</div>
<div class="app-details">
  <div>
    <span class="value">{{app?.description || '-'}}</span>
  </div>
  <hr class="mt-3 mb-3">
  <ul class="nv-list mb-3">
    <li>
      <span class="name">Crown Lands File #:</span>
      <span class="value">{{app?.cl_file || '-'}}</span>
    </li>
    <li>
      <span class="name">Disposition Transaction ID:</span>
      <span class="value">{{app?.tantalisID || '-'}}</span>
    </li>
    <li>
      <span class="name">Location:</span>
      <span class="value">{{app?.location || '-'}}</span>
    </li>
  </ul>
  <a class="btn btn-primary" [routerLink]="['/a', app?._id]" title="View more information about this application">
    View Application Details
  </a>
</div>