<div class="popup-content">
  <div class="popup-title">
    <span class="client-name__label">Applicant</span>
    <span class="client-name__value">{{app?.client || '-'}}</span>
  </div>
  <div class="popup-body">
    <div class="app-details">
      <div class="meta-container">
        <ul>
          <li class="app-description" *ngIf="app?.description">
            <div class="value" [clamp]="3" [innerHTML]="app.description"></div>
          </li>
          <li>
            <span class="key">EAO Project Number:</span>
            <span class="value">{{(app && app['clFile']) || '-'}}</span>
          </li>
          <li>
            <span class="key">Disposition Transaction:</span>
            <span class="value">{{app?.tantalisID || '-'}}</span>
          </li>
          <li>
            <span class="key">Location:</span>
            <span class="value">{{app?.location || '-'}}</span>
          </li>
        </ul>
      </div>

      <hr>

      <!-- Status -->
      <ul class="status-container">
        <li>
          <i class="material-icons" title="{{app?.cpStatus}}">
            {{commentPeriodService.isOpen(app?.currentPeriod) ? 'comment' : 'highlight_off'}}
          </i><span>{{app?.cpStatus}}</span>
        </li>
        <li *ngVar="applicationService.getStatusCode(app?.status) as appStatusCode">
          <!-- Application Under Review -->
          <i class="material-icons" title="{{app?.appStatus}}"
            *ngIf="applicationService.isAccepted(appStatusCode)">
            access_time
          </i>
          <!-- Decision: Allowed -->
          <i class="material-icons" title="{{app?.appStatus}}"
            *ngIf="applicationService.isAllowed(appStatusCode)">
            error_outline
          </i>
          <!-- Tenure: Disposition in Good Standing / Decision: Offered / Decision: Offer Accepted -->
          <i class="material-icons" title="{{app?.appStatus}}"
            *ngIf="applicationService.isDispGoodStanding(appStatusCode)
              || applicationService.isOffered(appStatusCode)
              || applicationService.isOfferAccepted(appStatusCode)">
            check
          </i>
          <!-- Application Cancelled / Application Abandoned / Decision: Offer Not Accepted -->
          <i class="material-icons" title="{{app?.appStatus}}"
            *ngIf="applicationService.isCancelled(appStatusCode)
            || applicationService.isAbandoned(appStatusCode)
            || applicationService.isOfferNotAccepted(appStatusCode)">
            cancel
          </i>
          <!-- Decision: Not Approved / Tenure: Suspended-->
          <i class="material-icons" title="{{app?.appStatus}}"
            *ngIf="applicationService.isDisallowed(appStatusCode)
            || applicationService.isSuspended(appStatusCode)">
            warning
          </i>
          <!-- Unknown Application Status -->
          <i class="material-icons" title="{{app?.appStatus}}"
            *ngIf="applicationService.isUnknown(appStatusCode)">
            warning
          </i>
          <span>{{app?.appStatus}}</span>
        </li>
      </ul>
      <a class="app-link btn btn-primary" [routerLink]="['/a', app?._id]" title="View more information about this application">
        View Application Details
      </a>
    </div>
  </div>
</div>