.card {
    border: none;
}

.card-header {
    padding: 0.5rem 1rem;
    color: $card-header-color;
    background: $card-header-bg;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
}

.card-body {
    border: none;
    padding: 1rem;
}