@import "~assets/styles/base.scss";

// Map Widget Overrides
.map {

    // Popup Widget
    .esri-popup {
        color: $bg-dark-color;

        .esri-widget {
            font-family: $map-search-font-family;
            color: $map-popup-color;
        }

        &__main-container,
        &__pointer-direction {
            background: $map-popup-bg;
        }

        &__content {
            margin: 0 !important;
            padding: 1rem;
            font-size: $map-popup-font-size;
        }

        &__button {
            color: $bg-dark-color; 

            &:active,
            &:focus,
            &:hover {
                color: $gold;
            }
        }

        // Popup Header
        &__header {
            background: $map-popup-header-bg;

            &-title {
                margin: 0 !important;
                padding: 1rem;
            }

            &-buttons {
                .esri-popup__button {
                    padding: 1rem 0.5rem;
                }
            }
        }

        // Feature Menu
        &__feature-menu {
            background: $map-popup-bg;
            font-size: $map-popup-font-size;

            &-header {
                background: $map-popup-header-bg;
            }

            &-item {
                border-color: $map-popup-bg;

                [class*="esri-icon"] {
                    font-size: $map-popup-font-size;
                }

                &:hover {
                    background-color: rgba($map-popup-menu-active-bg, 0.8);
                }

                &:focus {
                    background-color: rgba($map-popup-menu-active-bg, 0.8);
                }
            }

            &-item--selected {
                border-color: $map-popup-menu-active-bg;
                background-color: $map-popup-menu-active-bg;

                &:hover,
                &:focus {
                    background-color: $map-popup-menu-active-bg;
                }
            }
        }

        // Footer
        &__footer {
            background: $map-popup-footer-bg;
        }
    }

    // Search Widget
    .esri-ui-top-left {
        right: 0;
        z-index: 1000;
    }

    .esri-search {
        width: 100%;
        font-family: $map-search-font-family;

        &__suggestions-menu {
            li {
                font-size: $map-search-font-size;
            }
        }
        
        &__warning-body {
            font-size: $map-search-font-size;

            [class*="esri-icon"] {
                font-size: 1.25rem;
                line-height: 1.25rem;
            }
        }

        input {
            padding-left: 1rem;
            height: $map-search-height;
            font-family: $map-search-font-family;
            font-size: $map-search-font-size;
            font-weight: 700;
            box-shadow: none;
        }

        .esri-widget-button {
            width: $map-search-height;
            height: 3rem;
        }

        .esri-search__submit-button {
            border-left: none;
        }
    }

    &.esri-view-height-less-than-medium {
        .esri-popup__main-container {
            max-height: 500px;
        }
    }
}

.map-popup-btns {
    margin-top: 1.5rem;

    .btn {
        padding: 0.25rem;
        color: $map-popup-btn-color;
        border: 1px solid $map-popup-border-color;
        background: transparent;
        font-size: 0.85rem;
        font-weight: 600;

        &:active,
        &:focus,
        &:hover {
            border-color: $gold;
            background: $gold;
        }

        &.slide-r-btn {
            span {
                margin-top: 0.25rem;
            }
        }
    }
}

.map-popup-desc {
    max-height: 20rem;
    line-height: calc(#{$map-popup-font-size} * 1.5);
}

.map-popup-meta {
    list-style-type: none;
    padding-left: 0 !important;

    li { 
        @include flex-box();
        font-size: $map-popup-font-size !important;

        .meta-name {
            @include flex(0 0 auto);
            padding-right: 0.5rem;
            font-weight: 600;
        }

        .meta-value {
            @include flex(1 1 auto);
        }
    }
}

@media (min-width: 1200px) {
    .map {
        .esri-ui-top-left {
            right: auto;
        }

        .esri-search {
            width: 30rem; 

            input {
                width: 100%;
            }
        }
    }
}