@import "~assets/styles/base.scss";
.feature-block {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    background-size: 200%;
    background-color: $feature-block-bg;
    color: $feature-block-color;
    text-align: center;
    h3 {
        margin-bottom: 1rem;
        color: inherit;
        font-size: 1.5rem;
        font-weight: 300;
    }
    h4 {
        margin-bottom: 1rem;
        color: inherit;
        font-size: 1.25rem;
        font-weight: 300;
    }
    p {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        line-height: 1.4rem;
    }
    p+p {
        margin-bottom: 0;
    }
    .btn {
        padding: 0.65rem;
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .fb-container {
        .row {
            margin-right: -0.5rem;
            margin-left: -0.5rem;
        }
        .col-md-4 {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }
}

@media (min-width: 992px) {
    .feature-block {
        padding-top: 2rem;
        padding-bottom: 2rem;
        h3 {
            margin-bottom: 1.75rem;
            font-size: 1.75rem;
        }
        h4 {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
        p {
            margin-bottom: 2rem;
        }
        .btn {
            padding: 0.5rem 1rem;
        }
    }
}