// Form Label & Validation Variants
.control-label {
  margin-bottom: 0.3rem;
  font-size: 0.875rem;
  font-weight: 700;

  &:after {
    white-space: pre;
  }
}

.form-text {
  margin-top: 0.4rem;
  color: #999;
  font-size: 0.85rem;
}

.invalid-feedback {
  margin-top: 0.4rem;
}

.form-control-container {
  position: relative;

  .validation-icon {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    bottom: 0.2rem;
    padding-top: 0.4rem;
    width: 2.5rem;
    background: #fff;
    text-align: center;
  }
}

.optional {
  .control-label:after {
    white-space: pre;
    content: " (optional)";
    font-weight: normal;
  }
}

.required {
  .control-label:after {
    white-space: pre;
    content: " *";
    color: red;
  }
}

// Fieldset/Legend
legend {
  float: left; // position legend inside the bounding box of the fieldset
  font-size: 1rem;
  font-weight: bold;
}

// Form Items
.form-control {
  background: $fc-bg;
  font-size: 0.9375rem;

  &:focus {
    border-color: $fc-focus-border-color;
  }
}

.form-check {
  label {
    cursor: pointer;
  }

  input {
    margin-top: 0.35rem;
  }
}

// Input types
input {
  &.form-control {
    height: $fc-height;
  }
  &[type="tel"],
  &[type="text"],
  &[type="email"],
  &[type="number"] {
    @include placeholder {
      color: $fc-placeholder-color;
    }
    height: $fc-height;
    padding: 0.75rem;
    box-shadow: $fc-inner-shadow inset;
  }
}

select {
  &.form-control {
    &:not([size]):not([multiple]) {
      height: $fc-height;
      padding: 0 0.5rem;
    }
  }
}

// Number
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Textarea
textarea.form-control {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  @include placeholder {
    color: $fc-placeholder-color;
  }
  resize: vertical;
  box-shadow: $fc-inner-shadow inset;
}