
// Form Label & Validation Variants
.control-label {
  font-weight: bold;

  &:after {
    white-space: pre;
  }
}

.optional {
  .control-label:after {
    white-space: pre;
    content: " (optional)";
    font-weight: normal;
  }
}

.required {
  .control-label:after {
    white-space: pre;
    content: " *";
    color: red;
  }
}


// Form Items
.form-control {
  border-color: $fc-border-color;
  background: $fc-bg;
  font-size: 0.9375rem;

  &:focus {
    border-color: $fc-focus-border-color;
  }
}

.form-check {
  cursor: pointer;

  input {
    margin-top: 0.35rem;
  }
}


// Input types
input {
  &.form-control {
    height: $fc-height;
  }
  &[type="text"],
  &[type="email"],
  &[type="number"] {
    @include placeholder {
      color: $fc-placeholder-color;
    }
    height: $fc-height;
    padding: 0.75rem;
    box-shadow: $fc-inner-shadow inset;
  }
}

select {
  &.form-control {
    &:not([size]):not([multiple]) {
      height: $fc-height;
      padding: 0 0.5rem;
    }
  }
}


// Textarea
textarea {
  @include placeholder {
    color: $fc-placeholder-color;
  }
  resize: vertical;
  box-shadow: $fc-inner-shadow inset;
}