// Form Label & Validation Variants
.control-label {
  font-weight: bold;

  &:after {
    white-space: pre;
  }
}

.optional {
  .control-label:after {
    white-space: pre;
    content: " (optional)";
    font-weight: normal;
  }
}

.required {
  .control-label:after {
    white-space: pre;
    content: " *";
    color: red;
  }
}

// Fieldset/Legend
legend {
  float: left; // position legend inside the bounding box of the fieldset
  font-size: 1rem;
  font-weight: bold;
}

// Form Items
.form-control {
  border-color: $fc-border-color;
  background: $fc-bg;
  font-size: 0.9375rem;

  &:focus {
    border-color: $fc-focus-border-color;
  }
}

.form-check {
  cursor: pointer;

  input {
    margin-top: 0.35rem;
  }
}

// Input types
input {
  &.form-control {
    height: $fc-height;
  }
  &[type="text"],
  &[type="email"],
  &[type="number"] {
    @include placeholder {
      color: $fc-placeholder-color;
    }
    height: $fc-height;
    padding: 0.75rem;
    box-shadow: $fc-inner-shadow inset;
  }
}

select {
  &.form-control {
    &:not([size]):not([multiple]) {
      height: $fc-height;
      padding: 0 0.5rem;
    }
  }
}

// Number
input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Textarea
textarea {
  @include placeholder {
    color: $fc-placeholder-color;
  }
  resize: vertical;
  box-shadow: $fc-inner-shadow inset;
}