@import "~assets/styles/base/base.scss";

.hero-banner {
  position: relative;
  background-color: rgba($header-bg, 1);
  background-image: url("/assets/images/prc-hero-banner-img.jpg");
  background-position: center bottom;
  background-size: 350%;
  box-shadow: 0 0 4rem #00264d inset;

  .container {
    min-height: 20rem;
    @media (max-width: 767px) {
      padding: 2rem 1rem 2.5rem;
    }
  }
}

.hero-banner-alt {
  position: relative;
  background-color: rgba($header-bg, 1);

  .container {
    min-height: 20rem;
    @media (max-width: 767px) {
      padding: 2rem 1rem 2.5rem;
    }
  }

  .hero-banner__content {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
}

.hero-banner__content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  vertical-align: middle;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    margin-bottom: 1.15rem;
    line-height: 2.15rem;
    font-size: 2.25rem;
    @media (max-width: 767px) {
      font-size: 1.8rem;
      font-weight: bold;
    }
    .wb {
      display: block;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.65rem;
    max-width: 860px;
    font-weight: 300;
    orphans: 3;
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 767px) {
    .btn {
      i {
        display: none;
      }
      span {
        display: block;
        transform: none;
      }
    }
  }
}

.hero-banner__actions {
  margin-top: 1.75rem;
}

.hero-banner__actions-title {
  display: block;
  margin-bottom: 0.5rem;
}

.hero-banner__actions-buttons {
  .btn {
    border: 2px solid #e9a603;
    padding: 0.5rem;
    text-transform: none;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    color: #e9a603;
    margin-bottom: 10px;

    @media (min-width: 400px) {
      &:first-of-type {
        margin-right: 20px;
      }
    }

    &:hover {
      color: #036;
    }

    + span {
      @include flex(0 0 auto);
      padding: 0.65rem 0.4rem;
      vertical-align: middle;
    }
  }
}

@media (min-width: 400px) {
  .hero-banner {
    background-size: 300%;
  }
}

@media (min-width: 567px) {
  .hero-banner {
    .container {
      min-height: 20rem;
    }
  }
}

@media (min-width: 768px) {
  .hero-banner {
    background-size: 200%;

    .container {
      padding-top: 67px;
      min-height: 30rem;
    }
  }

  .hero-banner__content {
    padding-top: 8rem;
    padding-bottom: 6rem;

    h1 {
      line-height: 2.8rem;
      font-size: 2.65rem;
    }

    p {
      line-height: 1.75;
      font-size: 1.35rem;
    }
  }
}

@media (min-width: 1024px) {
  .hero-banner {
    background-size: 150%;
  }

  .hero-banner__content {
    h1 {
      .wb {
        display: inline;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero-banner{
    background-size: 120%;
  }
}

@media (min-width: 1600px) {
  .hero-banner {
    background-position: center -15rem;
  }
}

@media (min-width: 1900px) {
  .hero-banner {
    background-size: 100%;
  }
}
