@import "~assets/styles/base.scss";
.hero-banner {
    position: relative;
    height: 14rem;
    padding-top: 0;
    background-position: center;
    background-size: cover;
    background-image: url("~assets/images/map.jpg");
    background-repeat: no-repeat;
    &__content {
        // display: table-cell;
        // vertical-align: middle;
        color: $font-gray;
        h1 {
            font-size: 2rem;
            line-height: 2rem;
            span {
                display: inline-block;
            }
        }
        h2 {
            font-size: 1.5rem;
            line-height: 1.5rem;
            span {
                display: inline-block;
            }
        }
        p {
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.4rem;
            margin-bottom: 1.5rem;
        }
        strong {
            color: $gold;
            font-weight: 700;
        }
        .badge {
            color: $gold;
        }
        &--cta-btns {
            @include clearfix();
            margin-top: 2rem;
            .btn {
                padding: 0.5rem;
                min-width: 7rem;
                text-transform: uppercase;
                font-size: 0.85rem;
                font-weight: 700;
                +span {
                    display: inline-block;
                    margin: 0.25rem;
                }
            }
        }
    }
    a:not[class^="btn"] {
        color: $gold;
    }
    &.auto-size {
        height: auto;
        min-height: auto;
    }
}

@media (min-width: 575px) {}

@media (min-width: 768px) {
    .hero-banner {
        height: 17rem;
        padding-top: 2rem;
        &__content {
            h1 {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
            h2 {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
            p {
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
            &--cta-btns {
                margin-top: 2.4rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .hero-banner {
        height: 22rem;
        padding-top: 4rem;
        &__content {
            h1 {
                font-size: 2.8rem;
                line-height: 2.8rem;
            }
            h2 {
                line-height: 2rem;
                font-size: 2rem;
            }
            &--cta-btns {
                margin-top: 3rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        height: 24rem;
        &__content {
            &--cta-btns {
                margin-top: 4rem;
            }
        }
    }
}

// @media (min-width: 1200px) and (min-height: 900px) {
//     .hero-banner {
//         height: 40rem;
//         background-position: center 4rem;
//         background-size: 120%;
//     }
// }
// @media (min-width: 1600px) and (min-height: 900px) {
//     .hero-banner {
//         background-position: center -4rem;
//         background-size: 120%;
//     }
// }