#map {
  // see applist-map.component.ts:_clusterCreate()
  .my-cluster {
    margin-left: -20px !important;
    margin-top: -18px !important;
    width: 40px !important;
    height: 36px !important;
    border-radius: 5px;
    background-color: greenyellow;
    opacity: 0.8 !important;
    text-align: center;
    font-size: 24px;
  }
  /*
     * small = 1-9 markers in cluster
     * medium = 10-99 markers in cluster
     * large = 100+ markers in cluster
     */
  .marker-cluster-small,
  .marker-cluster-medium,
  .marker-cluster-large {
    // background-color: rgba(181, 226, 140, 0.6) !important; // greenish
    // background-color: rgba(241, 211, 87, 0.6) !important; // yellowish
    // background-color: rgba(253, 156, 115, 0.6) !important; // orangeish
    background-color: rgba(135, 206, 250, 0.8) !important; // lightskyblue
    div {
      // background-color: rgba(110, 204, 57, 0.6) !important; // greenish
      // background-color: rgba(240, 194, 12, 0.6) !important; // yellowish
      // background-color: rgba(241, 128, 23, 0.6) !important; // orangeish
      background-color: rgba(30, 144, 255, 0.8) !important; // dodgerblue
      color: #fff;
    }
  }
}