@import "~assets/styles/base.scss";

.nv-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
    background: transparent; // Have to set some overrides here on existing styling
    font-size: 0.875rem; // 14px

    + li {
      margin-top: 0.1rem;
    }
  }

  &__item {
    display: table-row;
      &--name,
      &--value {
        display: table-cell;
      }

      &--name {
        width: 5rem;
        padding-right: 1.5rem;
        font-weight: 700;
      }
    }
  }