.modal-header {
  background-color: $modal-header-bg;
  
  .modal-title {
    font-weight: 600;
  }

  .close {
    cursor: pointer;
  }
}

.modal-body {
  background-color: $modal-bg;
  padding: 2rem;
}

.modal-footer {
  background-color: $modal-footer-bg;
}