.modal-header {
  @include flex-box();
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;

  .modal-title {
    @include flex(1 1 auto);
    margin-top: 0.4rem;
  }

  .close-btn {
    @include flex(0 0 auto);
    margin-top: 0;
    margin-right: -0.75rem;
  }
}

.modal-footer {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.modal-title {
  letter-spacing: -0.03rem;
  line-height: 1.65rem;
}

.modal-body {
  padding: 1.5rem;
}