@import "~assets/styles/base.scss";

/* ref: https://www.w3schools.com/howto/howto_css_switch.asp */

.switchWrapper {
    div {
        display: inline-block;
    }
    .switch {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
        margin: 0;
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        /* rounded sliders */
        .slider.round {
            border-radius: 24px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
        input {
            /* hide default HTML checkbox */
            display: none;
        }
        input:checked+.slider {
            background-color: #2196F3;
        }
        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
        }
    }
}