.nav-tabs {
    @include flex-flow(row nowrap);
    margin-bottom: 2.5rem;
    border-bottom: 2px solid $tab-nav-border-color;
    background-color: $tab-nav-bg;

    .nav-item {
        margin-bottom: -2px;
        display: inline-block;
        width: auto;
    }

    .nav-link {
        position: relative;
        padding: 0.75rem;
        color: rgba($tab-color, 0.8);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: transparent;
        font-size: 1.5rem;
        font-weight: bold;
        transition: all ease-in 0.2s;

        &:hover {
            background-color: $tab-hover-bg;
            box-shadow: 0 -2px 0 $tab-nav-border-color inset;
        }

        &.active {
            color: $tab-color;
            background-color: $tab-active-bg;
            box-shadow: 0 2px 0 $tab-nav-border-color inset, 2px 0 $tab-nav-border-color inset, -2px 0 $tab-nav-border-color inset;
        }
    }
}
