.table {
  width: 100%;
  table-layout: fixed;

  td, th {
    text-align: left;
    flex: 1;

    @media screen and (max-width: 600px) {
      text-align: left!important;
    }

    &:first-child {
      @media screen and (min-width: 600px) {
        padding-left: 1rem;
      }
    }

    &:last-child {
      @media screen and (min-width: 600px) {
        padding-right: 1rem;
      }
    }
  }

  tr {
    display: flex;
  }

  thead {
    background: $table-header-bg;
    border-bottom: 2px solid #fff;

    tr {
      align-items: center;
    }

    th {
      padding: 0.5rem;
      border-bottom: 3px solid #eee;
      vertical-align: middle;
      text-shadow: none;
      font-size: 0.875rem;
      font-weight: 600;

      &.sortable {
        transition: border-color ease-out 0.2s;
        cursor: pointer;
        user-select: none;

        &:hover {
          border-bottom-color: $table-header-sort-active;
        }

        &.sort-asc,
        &.sort-desc {
          color: #000;
          border-bottom-color: $table-header-sort-active;
          background: transparent;
          text-shadow: none;
        }
      }
    }
  }

  tbody {
    tr {
      background: $table-row-bg;

      &:nth-child(even){
        background: $table-alt-row-bg;
        &:hover {
          background: #e2f1ff;
        }
      }
    }

    td {
      padding: 1.25rem 0.5rem;
      vertical-align: top;
    }
  }

  + pagination-template {
    margin-top: 2rem;
  }
}

th {
  &.sortable {
    cursor: pointer;
  }

  .sort {
    position: relative;
    margin-left: 0.15rem;
    width: calc(#{$table-sort-icon-size} * 2);
    height: calc(#{$table-sort-icon-size} * 2);
    display: inline-block;

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      display: block;
      border-color: $table-sort-icon-color transparent;
      border-style: solid;
    }

    &:before {
      top: -1px;
      border-width: 0 $table-sort-icon-size $table-sort-icon-size $table-sort-icon-size;
    }

    &:after {
      content: ' ';
      bottom: -1px;
      border-width: $table-sort-icon-size $table-sort-icon-size 0 $table-sort-icon-size;
    }

    &.sort-asc,
    &.sort-desc {
      &:before,
      &:after {
        border-color: $table-sort-icon-active-color transparent;
      }
    }

    &.sort-asc {
      &:before {
        top: 25%;
      }

      &:after {
        display: none;
      }
    }

    &.sort-desc {
      &:before {
        display: none;
      }

      &:after {
        bottom: 25%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
    thead {
        background: none;
    }
  }

  .table thead tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
  }

  .table thead:before {
    content: 'Sort by:';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
    display: block;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 20px;
    border-bottom: 2px solid #003367;
    padding-bottom: 12px;
    background: none;
  }

  .table tbody tr:nth-child(even) {
    background: none;
  }

  .table tbody td {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 34px;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .table td:first-child {
    border-top: 0;
  }

  .table thead th.sortable {
    transition: border-color ease-out 0.2s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex: 50%;
    user-select: none;
    max-width: 50%;
    border-color: #fff;
  }

  .table tbody tr:hover {
    background: #e2f1ff;
  }

}
