<div class="hero-banner hb-sm">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <h1>Frequently Asked Questions</h1>
        <p>Learn more about land use planning in British Columbia</p>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section>
        <h2>What is modernized land use planning?</h2>
        <p>Land use planning provides the vision, goals and objectives to guide sustainable resource stewardship and management of
        provincial public land. Modernizing land use planning is an approach led by the B.C. government in partnership with
        Indigenous governments and with engagement of communities, local government, industry, and other stakeholders.</p>
      </section>
      <section>  
        <h2>What are land use plans used for?</h2>
        <p>Completed land use plans provide direction to support decisions about how the land is best used. Land use plans help to
        maintain environmental and cultural values and create economic opportunities through increased certainty.</p>
      </section>
      <section>
        <h2>Why is the Province modernizing land use planning?</h2>
        <p>The B.C. government is committed to collaborating with Indigenous governments in natural resource management that is
        informed by the United Nations Declaration on the Rights of Indigenous Peoples and the Truth and Reconciliation
        Commission of Canada’s Calls to Action. The B.C. government is also committed to ensuring communities and stakeholders
        are engaged in land and resource planning throughout the province. Modernizing land use planning is an opportunity to
        fulfill these commitments while strengthening B.C.’s growing economy and adapting our resource management to the effects
        of climate change.</p>
      </section>
      <section>
        <h2>What is the Province’s approach to modernizing land use planning?</h2>
        <p>Both the B.C. government and Indigenous government(s) need to mutually agree to initiate a land use planning process.
        Each process will be designed and delivered in partnership with Indigenous governments and will include extensive
        engagement with the public and stakeholders to ensure all regional interests are identified. Unlike the large planning
        tables of past land use planning in B.C., modernized land use planning engagement will be targeted to make the most
        efficient use of time and resources.</p>
      </section>
      <section>
        <h2>Where will land use planning occur?</h2>
        <p>Land use planning will focus on priority areas to resolve current land and resource management challenges on provincial
        public lands and marine areas. It will not include federal lands and water, private lands, or agricultural land
        reserves.</p>
        <p>An initial set of selected land use planning projects will begin in 2019-20. Additional priority projects, identified
        through discussions between the B.C. government, Indigenous governments, community groups and industry, will be
        evaluated and considered in future years.</p>
      </section>
      <section>
        <h2>How will Indigenous governments’ land use plans be considered in modernized land use planning?</h2>
        <p>Indigenous people in B.C. have been stewards of the land for thousands of years and possess extensive knowledge of
        forests, lands, waters, and ecosystems. As such, many Indigenous governments have developed land use plans for their
        traditional territories.</p>
        <p>Modernizing land use planning requires the B.C. government and Indigenous government(s) to jointly develop land use
        plans. Entering into a government-to-government land use planning process means both governments are willing to work
        towards a single plan that has support from both governments.</p>
      </section>
    </main>
  </div>
</section>