<div class="hero-banner hb-sm">
  <div class="hero-banner__container">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1 tabindex="-1">Frequently Asked Questions</h1>
          <p>Learn more about land and water planning in British Columbia</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section>
        <p>
          Visit the B.C. government’s land and water planning program pages
          for more information and frequently asked questions:
        </p>
        <ul>
          <li><a href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/land-use-planning/modernizing-land-use-planning">Land Use Planning</a></li>
          <li><a href="https://www2.gov.bc.ca/gov/content/industry/forestry/managing-our-forest-resources/forest-landscape-plans">Forest Landscape Planning</a> and <a href="https://www2.qa.gov.bc.ca/assets/download/6BCE6C41FAB4401783D6558D41EBA373">common questions about Forest Landscape Planning</a></li>
          <li><a href="https://www2.gov.bc.ca/gov/content/environment/air-land-water/water/water-planning-strategies">Water planning and strategies</a></li>
        </ul>
      </section>
    </main>
  </div>
</section>
