@import "~assets/styles/base/base.scss";

.skip-link {
  display: flex;
  color: #e9a603;
  background: #313131;
  border-radius: 5px;
  border: 4px solid #e9a603;
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-decoration: none;
  
  &:focus {
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    padding: 0.25rem 0.5rem;
    z-index: 2000;

    @media (max-width: 1200px) {
      top: 60px;
    }
  }
}

.app-header {
  position: relative;
  padding: 0 1.5rem;
  background: $header-bg;
  color: $header-font-color;
  z-index: 1005;

  .header-container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 0.5rem 0;
    box-sizing: border-box;

    &.map-page {
      width: 100%;
    }

    @media (max-width: 450px) {
      margin: 0;
    }

    .header-introduction {
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      display: flex;
      flex-wrap: nowrap;

      .header-title {
        display: inline-block;
        color: $header-font-color;
        font-weight: 800;
        font-size: 1.75rem;
        padding-right: 0.25rem;

        &:hover {
          text-decoration: none;
        }
      }

      @media (max-width: 1200px) {
        width: 100%;
      }

      // Navbar Toggle Button
      .navbar-toggler {
        padding: 0.5rem 0.4rem;
        margin-left: auto;
        border: 2px solid grey !important;
        color: $header-font-color !important;
        font-size: medium;
        font-weight: 600;
        outline: none; // override user agent stylesheet default
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        @media (min-width: 1200px) {
          display: none;
        }

        i {
          + span {
            display: none;
            margin-left: 0.25rem;
            font-size: $mn-font-size;
            font-weight: 700;
            vertical-align: middle;
          }
        }
      }
    }

    .navbar {

      &.navbar-expand-xl {

        @media (max-width: 1200px) {
          width: 100%;

          a {
            width: 100%;
          }
        }
      }
    }
  }
}

.alert-danger{
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    height: 50px;
    opacity: 0;
    display:none;
}
.showForIEorEdge{
    opacity: 0.78;
    display: block;
}
.md-24{
    display: inline-flex;
    vertical-align: bottom;

}

@media (min-width: 1200px) {
  .app-header {
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d4d4d4;
    transition: all linear 0.3s;
  }
}

// NAVBAR
.navbar {
  padding: 0;
  background-color: transparent;
  z-index: 1000;

  .navbar-nav {
    margin-top: 0.5rem;

    .nav-item {
      display: flex;
      flex-direction: row;

      .nav-link {
        position: relative;
        z-index: 1001; // +1 to keep above dropdown menus
        padding: 0.875rem 0.5rem;
        color: $header-font-color;
        text-transform: uppercase;
        font-size: $mn-font-size;
        font-weight: 700;
        cursor: pointer;
        height: 50px;

        span {
          font-size: 1rem;
          text-transform: none;
          font-weight: normal;
        }

        .icon {
          padding-right: 0.313rem;
        }

        &:hover {
          background-color: #eecf7f;
        }

        &.current {
          background-color: #e7e7e7;
          box-shadow: -3px 0 #000;
        }
      }
    }

    .dropdown {
      display: flex;
      flex-direction: column !important;
      justify-content: center;

      &.show {
        .dropdown-toggle {
          width: 100%;
          color: $header-font-color;
        }
      }
    }

    .dropdown-menu {
      padding-top: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;

      .dropdown-item {
        color: #313132;
        font-size: $mn-dropdown-menu-size;
        white-space: normal;
        cursor: pointer;

        strong {
          font-weight: 600;
        }

        .dd-item-desc {
          display: block;
          font-size: small;
        }

        &:focus,
        &:hover {
          background-color: #eecf7f;
        }

        &.current {
        background-color: #e7e7e7;
          box-shadow: -3px 0 #000;
        }
      }
    }
  }
}

// NAVBAR Desktop
@media (min-width: 1200px) {
  .navbar {
    background: transparent;

    .navbar-nav {
      margin-top: 0;

      .nav-link {
        padding: 0 1rem !important;
        border-top: none;

        span {
          display: inline-flex;
          height: 100%;
          vertical-align: middle;
          align-items: center;
          justify-content: center;
        }

        &.current {
          background-color: #e7e7e7;
          box-shadow: 0 2px #000 !important;
        }
      }

      .dropdown {

        .dropdown-menu {
          display: none;
          margin: 0;
          padding: 0.5rem;
          min-width: 16rem;
          background-color: $primary;

          &.dm-sm {
            min-width: 12rem;
          }

          &.dropdown-menu-right {
            background-color: #fff !important;
          }

          .dropdown-item {
            padding: 0.5rem;
          }
        }

        &.show {

          .dropdown-toggle {
            color: #313132;
          }

          .dropdown-menu {
            display: block !important;
          }
        }

        &:hover,
        &:focus {

          >a,
          >a:hover,
          >a:focus {
            // background-color: $header-bg;
            border: none;
          }

          .dropdown-menu {
            display: block;
          }
        }
      }
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

