@import "~assets/styles/base/base.scss";

.app-footer {
    border-top: 4px solid $gold;
    background: $footer-bg;
    color: $footer-color;

    .container {
        padding: 1.5rem;
    }

    section {
        text-align: center;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $bg-dark-border-color;

        &.last {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    h4 {
        margin-bottom: 1rem;
        font-size: medium;
        font-weight: bold;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.5;
    }

    ul {
        padding: 0;
        font-size: 0.875rem;
        list-style-type: none;

        li {
            margin-bottom: 0.25rem;
        }
    }

    .nav-links {
        margin: 0;
    }

    a {
        color: $footer-color;

        &:focus,
        &:hover {
            color: $gold;
        }
    }
}

@media (min-width: 768px) {
    .app-footer {
        section {
            text-align: left;
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        h4 {
            padding-bottom: 1rem;
            border-bottom: 1px solid $bg-dark-border-color;
        }
    }
}

.app-footer {
    .footer-admin {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid $bg-dark-border-color;

        .gov-links {
            text-align: center;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0;
                line-height: 1;

                &:after {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    margin-left: 0.5rem;
                    margin-right: 0.25rem;
                    content: '|';
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .app-footer {
        .footer-admin {
            .gov-links {
                text-align: left;
            }
        }
    }
}