@import "~assets/styles/base/base.scss";

.app-footer {
  background: $footer-bg;
  color: $footer-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.5rem;

  .footer-top-row {
    width: 1140px;
    gap: 3rem;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    h2 {
      width: 100%;
      margin-bottom: 1rem;
      color: #fed262;
    }

    @media (max-width: 720px) {
      flex-wrap: wrap;
    }

    .footer-square {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border: none;
      width: 30%;

      @media (max-width: 720px) {
        width: 100%;
      }

      section {
        width: 100%;
        line-height: 2;

        ul {
          padding: 0;
          font-size: 0.875rem;
          list-style-type: none;

          li {
            margin-bottom: 0.25rem;

            a, a:visited {
              color: #fff;
              text-decoration: underline;

              &:hover, &:active, &:focus {
                color: $gold;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

// Small footer for the map page
.app-footer--sm {
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  position: absolute;
  color: #fff;
  font-size: 0.65rem;

  @media (min-width: 768px) {
    font-size: 0.825rem;
  }

  .container {
    max-width: 100%;
    padding: 0 0.5rem;

    @media (min-width: 768px) {
      padding: 0 1rem;
    }

    .footer-admin {
      text-align: center;
      margin: 0;
      margin-bottom: 1rem;
      padding-top: 0.4rem;
      padding-bottom: 0;
      border: none;

      ul.gov-links {
        text-align: center;
        padding: 0;
        width: 1140px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
          display: inline-block;
          margin: 0;
          line-height: 1;

          a {
            color: $footer-color;
            text-decoration: underline;

            &.feedback-link {
              color: $gold;
            }

            &:focus,
            &:hover {
              color: $gold;
              text-decoration: none;
            }
          }

          &:after {
            position: relative;
            top: -1px;
            display: inline-block;
            margin-left: 0.5rem;
            margin-right: 0.25rem;
            content: '|';
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
