@import "~assets/styles/base.scss";
.tab-section {
    >div {
        margin: 1em;
    }
    h4 {
        margin-bottom: 0;
        color: $primary;
    }
    .list-group {
        // max-height: 50rem;
        // overflow-y: auto;
    }
    .list-group-item {
        margin-bottom: 1rem;
        border: 1px #eee solid;
        border-radius: 5px;
        background-color: #f7f7f7;
        &:nth-child(odd) {
            // border: #f0f0f0 2px solid;
            // background-color: #f7f8fa; // #f0f0f0;
        }
        &:nth-child(even) {
            // border: #e7e7e7 2px solid;
            // background-color: #f4f4f4; // #e7e7e7;
        }
        .comment-author {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: large;
            color: #003366;
        }
        .comment-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: small;
        }
        button {
            cursor: pointer;
        }
    }
}