@import "~assets/styles/base.scss";
.tab-section {
    max-height: 74vh;
    overflow-y: auto;
    >div {
        margin: 1em;
    }
    .period-date {
        width: fit-content;
        border: 1px #f2e9bf solid;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: $primary;
        background-color: #fffae7;
    }
    .title {
        font-size: larger;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    .list-group {
        // max-height: 86vh;
        // overflow-y: auto;
    }
    .list-group-item {
        margin-bottom: 1rem;
        border: 1px #eee solid;
        border-radius: 5px;
        background-color: #f7f7f7;
        &:nth-child(odd) {
            // border: #f0f0f0 2px solid;
            // background-color: #f7f8fa; // #f0f0f0;
        }
        &:nth-child(even) {
            // border: #e7e7e7 2px solid;
            // background-color: #f4f4f4; // #e7e7e7;
        }
        .comment__author {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: large;
            color: #003366;
        }
        .comment__date {
            padding-left: 0.25rem;
        }
        .comment__text {
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: small;
        }
        button {
            // padding: 0rem 0.5rem;
            // cursor: pointer;
        }
    }
}