<div class="tab-pane" id="comments" role="tabpanel">
    <section class="tab-section" *ngIf="application">
        <div *ngIf="comments?.length == 0">
            <em>No comments have been received for this application at this time.</em>
        </div>

        <div *ngIf="comments?.length > 0">
            <div>
                <h4>Comment Period Description</h4>
                <p>{{application.currentPeriod?.description}}</p>
            </div>

            <div class="list-group">
                <ng-template ngFor let-item [ngForOf]="comments">
                    <div class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="comment-author">
                                <div *ngIf="item.commentAuthor && item.commentAuthor.tags; else anonymous">
                                    {{item.commentAuthor.contactName}}
                                    <span *ngIf="item.commentAuthor.orgName">({{item.commentAuthor.orgName}})</span>
                                    <span *ngIf="item.commentAuthor.location">, {{item.commentAuthor.location}}</span>
                                </div>
                                <ng-template #anonymous>
                                    <em>Anonymous</em>
                                </ng-template>
                            </div>
                            <div>
                                {{(item.dateAdded | date:'longDate') || '-'}}
                            </div>
                        </div>
                        <p class="mb-1 comment-text">{{item.comment}}</p>
                        <div class="d-flex w-100 justify-content-end">
                            <!-- <div class="material-icons" *ngIf="item._documents.length > 0">attachment</div> -->
                            <button class="btn btn-primary" (click)="viewDetails(item._id)">View full comment</button>
                            <!-- <div class="clickable" (click)="viewDetails(item._id)">View full comment</div> -->
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </section>
</div>