<div class="tab-pane" id="docs" role="tabpanel">
    <h4 class="tab-intro">Application Comments</h4>

    <section class="doc-section">
        <div class="row" *ngIf="!comments || comments.length == 0">
            <em>If this application had comments, they would display here.</em>
        </div>

        <div class="row" *ngIf="comments && comments.length > 0">
            <!-- TODO: change to listgroup or table -->
            <div class="d-flex w-100 justify-content-between">
                <div><u>&nbsp;#&nbsp;</u></div>
                <div><u>&nbsp;Contact Name&nbsp;</u></div>
                <div><u>&nbsp;Date Added&nbsp;</u></div>
            </div>
            <ng-template ngFor let-item [ngForOf]="comments">
                <div class="d-flex w-100 justify-content-between" style="margin-bottom: 1 rem;">
                    <div>
                        {{item.commentNumber || '-'}}
                    </div>
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{item.commentAuthor?.contactName || '-'}}
                    </div>
                    <div>
                        {{(item.dateAdded | date) || '-'}}
                    </div>
                </div>
            </ng-template>
        </div>
    </section>
    
</div>