@import "~assets/styles/base.scss";

.app-list {
    &__container {
        @include flex-box();
        @include flex-flow(column nowrap);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1001; // app-filters is 1002
        padding-right: 4rem;
        overflow: hidden;
        transition: all ease-out 0.2s;
        &.collapse {
            margin-left: (60px + 2px);
            transform: translateX(-100%);
            &.show {
                margin-left: 0;
                transform: translateX(0);
            }
        }
    }
    &__toggle {
        position: absolute;
        top: 5px;
        right: (10px + 2px);
        width: 44px;
        height: 44px;
        .btn {
            width: 100%;
            height: 100%;
            padding: 0;
            border-radius: 2px;
            box-shadow: unset;
            cursor: pointer;
        }
    }
    &__body {
        @include flex(1 1 auto);
        background-color: $white;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__list {
        @include flex(1 1 auto);
        .list-group-item {
            border-radius: 0;
            padding: 0.75rem;
            white-space: nowrap;
            &__detail {
                line-height: 0;
                label {
                    margin-bottom: 0;
                    font-size: 11px;
                    color: $primary;
                    font-weight: bold;
                }
                .value {
                    margin-bottom: 0;
                    color: #666;
                    font-size: 12px;
                }
                .value-large {
                    margin-bottom: 0;
                    color: #666;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            &__buttons {
                line-height: 0;
                .badge {
                    // width: 255px;
                    text-transform: none;
                    line-height: 1.5;
                    border: 1px solid transparent;
                    font-size: 12px;
                }
                .material-icons:hover {
                    color: $gold;
                    font-weight: bold;
                }
            }
            &.active {
                label {
                    color: inherit !important;
                }
                p {
                    color: inherit !important;
                }
                .badge-primary {
                    border-color: $white !important;
                }
                a {
                    color: inherit !important;
                }
                .material-icons:hover {
                    color: $gold !important;
                    font-weight: bold !important;
                }
            }
        }
        // .list-group-item:first-child {
        //     border-top: 0;
        // }
        // .list-group-item:last-child {
        //     border-bottom: 0;
        // }
    }
    &__options {
        font-size: small;
        background-color: $white;
        cursor: pointer;
        input[type="checkbox"] {
            vertical-align: middle;
        }
        label {
            margin-left: 0.5rem;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }
}

@media (min-width: 362px) {
    .app-list {
        &__list {
            .list-group-item {
                &__detail {
                    label {
                        font-size: 13px;
                    }
                    .value {
                        font-size: 14px;
                    }
                    .value-large {
                        font-size: 16px;
                    }
                }
                &__buttons {
                    line-height: 0;
                    .badge {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .app-list {
        &__container {
            max-width: 25rem;
        }
    }
}