<div class="app-list__container" id="applist-list" name="List of Crown Land applications, limited by filters and bound by map view">

    <div class="app-list__body" *ngVar="matchesVisibleCount(allApps) as numMatchesVisible">
      <div class="app-list__list" *ngIf="gotChanges">

        <div class="no-results" *ngIf="numMatchesVisible == 0">
          No matching applications
        </div>

        <ng-template ngFor let-item [ngForOf]="allApps">
          <div class="app-card list-group-item" [class.active]="isCurrentApp(item)"
            (click)="toggleCurrentApp(item);$event.stopPropagation();"
            *ngIf="item.isMatches && item.isVisible">

            <!-- Application Details -->
            <ul class="app-card__details">
              <li>
                <span class="key">Client</span>
                <span class="value client-name">{{item.client || 'Unknown Client'}}</span>
              </li>
              <li>
                <span class="key">Purpose / Subpurpose</span>
                <!-- TODO: Need a better way of handling values that are not available - see also below -->
                <span class="value">
                  <span *ngIf="item.purpose || item.subpurpose">{{item.purpose | titlecase}} / {{item.subpurpose | titlecase}}</span>
                  <span *ngIf="!item.purpose || !item.subpurpose">Not Available</span>
                </span>
              </li>
              <li>
                <span class="key">Disposition Transaction ID</span>
                <span class="value">{{item.tantalisID}}</span>
              </li>
              <li>
                <span class="key">Crown Land File #</span>
                <!-- TODO: Need a better way of handling values that are not available - see also above -->
                <span class="value">{{item.cl_file || 'Not Available'}}</span>
              </li>
              <li>
                <span class="key">Status</span>
                <span class="value">{{item['appStatus']}}</span>
              </li>
            </ul>

            <!-- Application Card Actions -->
            <div class="app-card__actions d-flex justify-content-between">
              <div class="badges">
                <div class="comment-status-badge badge"
                  [ngClass]="{
                    'badge-primary': commentPeriodService.isNotStarted(item.currentPeriod),
                    'badge-secondary': commentPeriodService.isNotOpen(item.currentPeriod),
                    'badge-danger': commentPeriodService.isClosed(item.currentPeriod),
                    'badge-success': commentPeriodService.isOpen(item.currentPeriod)}">
                  {{item['cpStatus']}}
                  <span class="date" *ngIf="commentPeriodService.isNotStarted(item.currentPeriod)">
                    :&nbsp;{{item.currentPeriod.startDate | date:'mediumDate'}}
                  </span>
                  <span class="date" *ngIf="commentPeriodService.isClosed(item.currentPeriod)">
                    :&nbsp;{{item.currentPeriod.endDate | date:'mediumDate'}}
                  </span>
                  <span class="date" *ngIf="commentPeriodService.isOpen(item.currentPeriod)">
                    :&nbsp;{{item.currentPeriod.startDate | date:'MMM d'}} - {{item.currentPeriod.endDate | date:'MMM d'}}
                  </span>
                </div>
              </div>
              <a class="app-details-link btn" (click)="$event.stopPropagation()" [routerLink]="['/a', item._id]" title="Go to application details">
                <i class="material-icons md-24">arrow_forward</i>
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  
    <div class="app-list__options" *ngVar="matchesVisibleCount(allApps) as numMatchesVisible">
      <div *ngIf="gotChanges">
        <div class="text-right" [innerHTML]="!numMatchesVisible ? 'No Results' : 'Showing results 1 - ' + numMatchesVisible"></div>
        <div class="form-check" aria-labelledby="updateResultsCheckbox">
          <label class="form-check-label" for="updateResultsCheckbox" (click)="$event.stopPropagation()">
            <input class="form-check-input" type="checkbox" id="updateResultsCheckbox" [(ngModel)]="configService.doUpdateResults" (change)="updateResultsChange.emit()" />
            Update results when map moves
          </label>
        </div>
      </div>
    </div>
  
  </div>