@import "~assets/styles/base/base.scss";

:host {
  @include flex(1 1 auto);
  display: block;
  background: $bg-default;
}

.app-comments {
  min-height: 80vh;

  .project {
    background: #fff;

    .hero-banner-alt {
      background-size: cover;
      background-position: center;
      background-color: #001330;
    
      h1 {
        display: inline-block;
        font-size: 2.75rem;
        line-height: 3rem;
      }
    
      h2 {
        font-size: 1.625rem;
        font-weight: normal !important;
      }
    
      h3 {
        font-size: 1.25rem;
        font-weight: normal !important;
      }
    
      .hero-banner__container {
        background-color: rgba($primary, 0.56);
        margin: 0;     
        padding: 0 2rem;
        max-width: 100%;

        

        .container {
          padding: 0 0 4rem;
          @media (max-width: 760px) {
            padding-top: 3rem !important;
          }
          
        }
    
        .hero-banner__content {
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          background-color: rgba($primary, 0.8);
          border-radius: 0 0 0.5rem 0.5rem; // round on corners not touching the top to avoid seams
          padding: 3rem 2rem 2.5rem;

          @media (max-width: 760px) {
            border-radius: 0.5rem;
          }
      
          .header-section {
            margin: 2rem 0 1rem;
      
            .hero-paragraph p {
              font-size: 1.25rem;
              line-height: 2.125rem;
            }
          }
      
          .basic-info {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .basic-info-subsection {
              display: block;
              gap: 0.5rem
            }
      
            >div {
              padding: 0;
              margin-top: 0.2rem;
              display: flex;
              margin-bottom: 0.5rem;
              flex-wrap: wrap;
      
              label {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: #fcba18;
                font-size: 1rem;
                padding: 0;
                border-radius: 5px;
                height: 44px;
                margin: 0;
        
                @media (max-width: 760px) {
                  width: 100%;
                  justify-content: flex-start;
                }
              }
      
              p.agreements-value .agreement-link {
                color: #fff;
              }

              p.nations-value {
                display: inline-flex;
              }
              
              p.agreements-value, p.nations-value {
                line-height: 1.75rem;
                align-items: center;
                font-size: 1rem;
                margin: auto 0 auto 10px;
              }
            }
          }

          div.buttons-row {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
      
            button {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
      
              @media (max-width: 760px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .comment-period-content-container {
    background-color: #fff;
    min-height: 6.25rem;
    padding: 4rem 0;
  
    @media (max-width: 760px) {
      padding: 2rem;
    }

    .comment-period-paragraph {
      line-height: 1.9rem;
      margin: 0;
      margin-bottom: 2.25rem;
      padding: 0;
    }

    .doc-list {
      color: black;
      margin-top: 1rem;
  
      li {
        @include flex-box();
        @include flex-direction(row);
        background: #f7f8fa;
      
        +li {
          margin-top: 2px;
        }
      }
  
      .clickable-row {
        cursor: pointer;
  
        .cell {
          padding: 0.25rem;
          overflow: hidden;
          text-overflow: ellipsis;
        
          // Text Content
          &__txt-content {
            margin-top: 0.5rem;
            display: inline-block;
            white-space: nowrap;
          }
        
          // Icon Column
          &.icon {
            @include flex(0 0 auto);
            padding-left: 0.75rem;
            padding-right: 0;
        
            i {
              margin-top: 0.5rem;
              font-size: 1.35rem;
              color: #999;
              cursor: default;
            }
          }
        
          // Name Column
          &.name {
            @include flex(1 1 auto);
            font-size: 0.875rem;
          }
        
          // Actions Column
          &.actions {
            @include flex(0 0 auto);
          }
        }
      }
    }
  }

  .doc-list, .list-group {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .open-house-paragraph {
    font-size: 0.938rem;
    line-height: 1.5rem;
  }

  .related-documents, .open-houses {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

.modal-dialog {
  width: 80vw !important;
}