<div class="comments">
    <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="header-section m-4">
        <h1>
            {{commentPeriodHeader}}
        </h1>
        <h2>
            {{commentPeriod.dateStarted | date:'mediumDate'}} - {{commentPeriod.dateCompleted | date:'mediumDate'}}
        </h2>
        <p>
            This Public Comment Period is regarding the <b>{{commentPeriod.informationLabel}}</b>
        </p>
    </div>

    <div class="mx-4">
        <div *ngIf="comments?.length === 0">
            <em>No comments have been received for this project at this time.</em>
        </div>
        <app-item-table [listType]="listType" [items]="comments" [pageSize]='pageSize' [currentPage]='currentPage'
            [totalComments]='totalComments' (onPageNumUpdate)='getPaginatedComments($event)'></app-item-table>
    </div>
</div>