@import "~assets/styles/base/base.scss";

h4,
h5 {
  font-weight: 600;
}

h5 {
  margin-bottom: 1rem;
}

.modal-title {
  em {
    color: $gray5;
    font-style: normal;
    font-weight: 400;
  }
}

// First Step - Contact Information
.contact-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact-info__name {
  font-weight: 600;
}

.confirm-check {
  margin-top: 1rem;
  margin-bottom: 0;

  label {
    font-weight: 600;
  }
}

// Contact Information Form
.contact-form {
  .modal-body {
    padding-top: 0;
  }

  .contact-prompt {
    margin-right: -1.5rem;
    margin-bottom: 1.5rem;
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    color: #fff;
    background: $primary1;
    background-image: url("~assets/images/outline-info-inverted-24px.svg");
    background-position: 2rem center;
    background-repeat: no-repeat;
    background-size: 2rem;
  }
}

// Progress Indicator
.modal-dialog {
  .progress-new {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
  }
}

.progress-content {
  text-align: center;

  h4 {
    margin-bottom: 1rem;
  }
}

.progress-content__msg {
  margin-bottom: 1rem;
}

// Thank You Step
.thank-you-content {
  text-align: center;

  .modal-header {
    padding-bottom: 0;
    border: none;
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 3rem;
  }

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1.75em;
  }

  .btn {
    font-size: 0.875rem;
    font-weight: 700;
  }
}

.thank-you-icon {
  display: inline-block;
  width: 96px;
  height: 96px;
  border: 6px solid #007bff;
  border-radius: 48px;
  background-image: url('~assets/images/baseline-check-primary0-24px.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 72px;
}

// Disabled state transitions do not work correctly in IE
.btn {
  transition: background-color linear 0.2s;
}
