<tr
  (click)="goToProject(project)"
  *ngFor="let project of projects | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }">
  <td scope="row" data-label="Name" class="col-2">{{project.name || '-'}}</td>
  <!-- TODO: Get proponent name in here. -->
  <td scope="row" data-label="Proponent" class="col-2">{{project.proponent.name || '-'}}</td>
  <td scope="row" data-label="Type" class="col-2">{{project.type || '-'}}</td>
  <td scope="row" data-label="Region" class="col-2">{{project.region || '-'}}</td>
  <td scope="row" data-label="Phase" class="col-2">{{project.currentPhaseName || '-'}}</td>
  <td scope="row" data-label="Decision" class="col-2">{{project.eacDecision}}</td>
</tr>
