<tr
  (click)="goToProject(project)"
  *ngFor="let project of projects | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }">
  <td scope="row" data-label="Name" class="col-3">{{project.name || '-'}}</td>
  <td scope="row" data-label="Partner" class="col-2">{{project.partner || '-'}}</td>
  <td scope="row" data-label="Regional Districts" class="col-3">{{project.overlappingRegionalDistricts || '-'}}</td>
  <td scope="row" data-label="Engagement Status" class="col-2">{{project.engagementStatus}}</td>
  <td scope="row" data-label="Project Phase" class="col-2">{{project.projectPhase || '-'}}</td>
</tr>
