.modal-dialog {
    .modal-header {
        button {
            cursor: pointer;
        }
    }
    .modal-body {
        padding: 30px;
    }
    .modal-footer {
        button {
            cursor: pointer;
        }
    }
    .page1 {
        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }
        .form-group.optional .control-label:after {
            content: "(optional)";
        }
        .fb-upload-container {
            border: 1px #495057 solid;
            padding: 1em;
        }
    }
    .page2 {
        textarea {
            min-height: 5rem;
        }
    }
    .page3 {
        // .modal-body {
        //     text-align: center;
        // }
        img {
            width: 100px;
            height: 100px;
            margin: 1rem;
        }
    }
}