<div class="modal-dialog modal-lg">
  <div class="modal-content page1" *ngIf="this.currentPage === 1">
    <div class="modal-header">
      <h4 class="modal-title">Conditions</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h5>How It Works</h5>
      <p>All accepted comments submitted to the Public Review and Comment Website will be published online within seven days
        of receipt. Commenters can choose whether they want their name to be published along with their comments or whether
        they wish to remain anonymous. Comments are not accepted if &ndash; in the view of the Authorizing Agency &ndash;
        they are profane, abusive, or do not relate to the matter being consulted upon as stated in our Moderation Policy.</p>
      <p>All comments will be considered in the decision process. The decision maker may also respond with follow up questions
        if appropriate (e.g. if the decision maker wants more information).</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="accept()">Accept</button>
    </div>
  </div>

  <div class="modal-content page2" *ngIf="this.currentPage === 2">
    <div class="modal-header">
      <h4 class="modal-title">Add Comment</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form class="add-comment">
        <fieldset>
          <h5>Personal Information</h5>
          <div class="row">
            <div class="form-group col-lg-6 required">
              <label class="control-label">
                <strong>Name</strong>
              </label>
              <input class="form-control" placeholder="Firstname Lastname" type="text" required aria-required="true" />
            </div>
            <div class="form-group col-lg-6 required">
              <label class="control-label">
                <strong>Location</strong>
              </label>
              <input class="form-control" placeholder="City" type="text" required aria-required="true" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12 required">
              <div class="checkbox">
                <label>
                  <input type="checkbox" />&nbsp;Make me anonymous.
                  <small>Checking this option will hide your name and location on the public site. Your email and phone are never
                    public.
                  </small>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6 required">
              <label class="control-label">
                <strong>Email</strong>
              </label>
              <input class="form-control" placeholder="first.last@email.com" type="email" required aria-required="true" />
            </div>

            <div class="form-group col-lg-6 optional">
              <label class="control-label">
                <strong>Phone</strong>
              </label>
              <input class="form-control" placeholder="xxx-xxx-xxxx" type="tel" required aria-required="true" />
            </div>
          </div>

          <h5>Comment</h5>
          <div class="row">
            <div class="form-group col-12">
              <!-- <label class="control-label"><strong>Your Comment</strong></label> -->
              <textarea class="form-control" rows="10"></textarea>
            </div>
          </div>

          <h5>Attachments</h5>
          <div class="row">
            <div class="upload-attachments form-group no-margin col-12">
              <!-- <label class="control-label"><strong>Your Attachments</strong></label> -->
              <ngb-alert type="danger" *ngIf="showAlert" (close)="showAlert=false">
                All attachments must be no larger than
                <strong>5MB</strong>.
              </ngb-alert>

              <!-- UPLOAD CONTAINER -->
              <div class="fb-upload-container">
                <div class="fb-upload-target-container">
                  <div class="fb-upload-target pcp" id="dropzone" ngf-drop ngf-select ngf-allow-dir="true" ng-model="s.comment.files" ngf-drag-over-class="fb-upload-target-hover"
                    ngf-multiple="true">
                    <div class="fb-upload-target-content">
                      <span class="glyphicon glyphicon-open icon-default"></span>
                      <span class="fb-upload-target-msg">
                        <strong>Drag &amp; Drop</strong> or
                        <strong>Browse Files</strong> to upload.
                      </span>
                      <span class="fb-upload-req-msg">Total size is limited to 5MB.</span>
                    </div>
                    <div class="fb-upload-target-border"></div>
                  </div>

                  <!-- UPLOAD STATUS -->
                  <div class="fb-upload-target-status" ng-if="uploadService.actions.busy || uploadService.actions.completed"></div>
                </div>
                <div class="m-t-1" ng-if="s.fileList.length > 0">
                  <!-- <x-file-upload-listing file-list="s.fileList"></x-file-upload-listing> -->
                </div>
              </div>
              <!-- /UPLOAD CONTAINER -->
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
      <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </div>

  <div class="modal-content page3" *ngIf="this.currentPage === 3">
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div style="text-align: center;">
        <h1>Thank you for your comment!</h1>
        <img src="assets/images/check.png">
      </div>
      <h5>What happens next?</h5>
      <p>We publish all comments received within seven days of receipt, except comments that we deem to be inappropriate for
        publication. Comments may be considered inappropriate for publication if &ndash; in the view of the Authorizing Agency
        &ndash; they are profane, abusive, or do not relate to the matter being consulted upon as stated in our Moderation
        Policy.
      </p>
      <p>All comments will be considered in the decision process. The decision maker may also respond with follow up questions
        if appropriate (e.g. if the decision maker wants more information).</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>

</div>