<div class="modal-dialog modal-lg">
  <div class="spinner-container full-screen" *ngIf="loading" [@visibility]>
    <div class="spinner-new rotating"></div>
  </div>

  <div class="modal-content page1" *ngIf="this.currentPage === 1">
    <div class="modal-header">
      <h4 class="modal-title">Conditions</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h5>How It Works</h5>
      <p>All accepted comments submitted to the Public Review and Comment Website will be published online within seven days
        of receipt. Commenters can choose whether they want their name to be published along with their comments or whether
        they wish to remain anonymous. Comments are not accepted if &ndash; in the view of the Authorizing Agency &ndash;
        they are profane, abusive, or do not relate to the matter being consulted upon as stated in our Moderation Policy.</p>
      <p>All comments will be considered in the decision process. The decision maker may also respond with follow up questions
        if appropriate (e.g. if the decision maker wants more information).</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="p1_accept()">I Agree</button>
    </div>
  </div>

  <!-- FIRST PAGE OF FORM -->
  <form (ngSubmit)="p2_submit()" #commentForm1="ngForm">
    <div class="modal-content page2" *ngIf="this.currentPage === 2">
      <div class="modal-header">
        <h4 class="modal-title">Personal Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <fieldset>
          <div class="row">
            <div class="form-group col-lg-6 required">
              <label for="contactName" class="control-label">Name</label>
              <input type="text" class="form-control" id="contactName" name="contactName" maxlength="50" placeholder="First Last" required
                aria-required="true" [(ngModel)]="comment.commentAuthor.contactName" #name="ngModel" />
              <div [hidden]="name.valid || name.untouched" class="alert alert-danger">Name is required</div>
            </div>

            <div class="form-group col-lg-6 required">
              <label for="location" class="control-label">Location</label>
              <input type="text" class="form-control" id="location" name="location" maxlength="50" placeholder="City" required aria-required="true"
                [(ngModel)]="comment.commentAuthor.location" #location="ngModel" />
              <div [hidden]="location.valid || location.untouched" class="alert alert-danger">Location is required</div>
            </div>

            <div class="form-group col-lg-12 optional">
              <label for="organization" class="control-label">Organization</label>
              <input type="text" class="form-control" id="organization" name="organization" maxlength="100" placeholder="Org Name" [(ngModel)]="comment.commentAuthor.orgName"
                #organization="ngModel" />
            </div>

            <div class="form-check col-12">
              <input type="checkbox" class="form-check-input" id="requestedAnonymous" name="requestedAnonymous" [(ngModel)]="comment.commentAuthor.requestedAnonymous"
                #requestedAnonymous="ngModel" />
              <label for="requestedAnonymous" class="form-check-label">Make me anonymous. (Checking this option will hide your name, organization and location on the public site.
                Your email and phone are never public.)</label>
            </div>

            <div class="form-group col-lg-6 required">
              <label for="email" class="control-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="first.last@email.com" required aria-required="true"
                [(ngModel)]="comment.commentAuthor.internal.email" #email="ngModel" />
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
            </div>

            <div class="form-group col-lg-6 optional">
              <label for="phone" class="control-label">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="xxx-xxx-xxxx" [(ngModel)]="comment.commentAuthor.internal.phone"
                #phone="ngModel" />
            </div>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="p2_back()">Back</button>
        <button [disabled]="!commentForm1.form.valid" type="submit" class="btn btn-primary">Next</button>
      </div>
    </div>
  </form>

  <!-- SECOND PAGE OF FORM -->
  <form (ngSubmit)="p3_submit()" #commentForm2="ngForm">
    <div class="modal-content page3" *ngIf="this.currentPage === 3">
      <div class="modal-header">
        <h4 class="modal-title">Your Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <fieldset>
          <div class="row">
            <div class="form-group col-12 required">
              <label for="comment" class="control-label">Comment</label>
              <textarea class="form-control" id="comment" name="comment" rows="10" required aria-required="true" [(ngModel)]="comment.comment"
                #comment2="ngModel"></textarea>
              <div [hidden]="comment2.valid || comment2.pristine" class="alert alert-danger">Comment is required</div>
            </div>
          </div>

          <div class="row">
            <div class="upload-attachments form-group no-margin col-12 optional">
              <label for="attachments" class="control-label">Attachments</label>

              <ngb-alert type="danger" *ngIf="showAlert" (close)="showAlert=false">
                All attachments must be no larger than
                <strong>5MB</strong>.
              </ngb-alert>

              <!-- UPLOAD CONTAINER -->
              <div class="fb-upload-container">
                <div class="fb-upload-target-container">
                  <div class="fb-upload-target pcp" id="dropzone" ngf-drop ngf-select ngf-allow-dir="true" ng-model="s.comment.files" ngf-drag-over-class="fb-upload-target-hover"
                    ngf-multiple="true">
                    <div class="fb-upload-target-content">
                      <mat-icon>file_upload</mat-icon>
                      <span class="fb-upload-target-msg">
                        <strong>Drag &amp; Drop</strong>&nbsp;or&nbsp;
                        <strong>Browse Files</strong> to upload.
                      </span>
                      <span class="fb-upload-req-msg">&nbsp;Total size is limited to 5MB.</span>
                    </div>
                    <div class="fb-upload-target-border"></div>
                  </div>

                  <div class="fb-upload-target-status" ng-if="uploadService.actions.busy || uploadService.actions.completed"></div>
                </div>
                <div class="m-t-1" ng-if="s.fileList.length > 0">
                  <!-- <x-file-upload-listing file-list="s.fileList"></x-file-upload-listing> -->
                </div>
              </div>
              <!-- /UPLOAD CONTAINER -->
            </div>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="p3_back()">Back</button>
        <button [disabled]="!commentForm2.form.valid || commentForm2.form.submitted" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <div class="modal-content page4" *ngIf="this.currentPage === 4">
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div style="text-align: center;">
        <h3>Thank you for your comment!</h3>
        <img src="assets/images/check.png">
      </div>
      <h5>What happens next?</h5>
      <p>We publish all comments received within seven days of receipt, except comments that we deem to be inappropriate for
        publication. Comments may be considered inappropriate for publication if &ndash; in the view of the Authorizing Agency
        &ndash; they are profane, abusive, or do not relate to the matter being consulted upon as stated in our Moderation
        Policy.
      </p>
      <p>All comments will be considered in the decision process. The decision maker may also respond with follow up questions
        if appropriate (e.g. if the decision maker wants more information).</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>

</div>