.modal-dialog {
    .modal-header {
        background-color: #f1f1f1;
        button {
            cursor: pointer;
        }
    }
    .modal-body {
        padding: 30px;
        // max-height: 75vh; // worst-case (Galaxy S5)
        overflow-y: auto;
    }
    .modal-footer {
        background-color: #f1f1f1;
        button {
            cursor: pointer;
        }
    }
    .page1,
    .page2,
    .page3 {
        .form-group.required .control-label:after {
            white-space: pre;
            content: " *";
            color: red;
        }
        .form-group.optional .control-label:after {
            white-space: pre;
            content: " (optional)";
            font-weight: normal;
        }
        .control-label {
            font-weight: bold;
        }
        .form-check {
            padding-left: 35px;
        }
        .form-check * {
            cursor: pointer;
        }
        input[type="checkbox"] {
            height: 20px;
            width: 20px; 
        }
        textarea {
            min-height: 36px;
        }
        .fb-upload-container {
            border: 1px #495057 solid;
            padding: 1em;
            cursor: pointer;
            .fb-upload-target {
                display: flex;
                .fb-upload-target-content {
                    display: inline-flex;
                }
            }
        }
    }
    .page4 {
        img {
            width: 100px;
            height: 100px;
            margin: 1rem;
        }
    }
}