<div class="modal-dialog modal-lg">
  <div class="spinner-container full-screen" *ngIf="submitting" [@visibility]>
    <div class="progress-new">
      <span>Submitting . . .</span>
      <mat-progress-bar color="primary" mode="determinate" [value]="progressValue"></mat-progress-bar>
    </div>
  </div>

  <!-- FIRST PAGE -->
  <form #preCommentForm="ngForm">
    <div class="modal-content page1" *ngIf="this.currentPage === 1">
      <div class="modal-header">
        <h4 class="modal-title">Conditions</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5>How It Works</h5>
        <p>All accepted comments submitted to the Public Review and Comment Website will be published online within one week
          of receipt. Commenters can choose whether they want their name to be published along with their comments or whether
          they wish to remain anonymous to other commenters. Comments are not accepted if they are profane, abusive, or do
          not relate to the matter being consulted upon as stated in our Moderation Policy.</p>
        <p>All comments will be provided to the decision maker. The decision maker may also respond with follow up questions
          (e.g. if the decision maker wants more information).</p>

        <div class="row">
          <div class="form-check col-12">
            <input type="checkbox" class="form-check-input" id="iAgree" name="iAgree" [(ngModel)]="iAgreeModel" #iAgree="ngModel" />
            <label for="iAgree" class="form-check-label">I agree. By ticking this checkbox, I am conclusively deemed to have read and agreed unconditionally to the above
              Moderation Policy and Terms of Use.</label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button [disabled]="!iAgreeModel" type="button" class="btn btn-primary" (click)="p1_next()">Next</button>
      </div>
    </div>
  </form>

  <!-- SECOND PAGE -->
  <form (ngSubmit)="p2_submit()" #commentForm1="ngForm">
    <div class="modal-content page2" *ngIf="this.currentPage === 2">
      <div class="modal-header">
        <h4 class="modal-title">Personal Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <fieldset>
          <div class="row">
            <div class="form-group col-lg-6 required">
              <label for="contactName" class="control-label">Name</label>
              <input type="text" class="form-control" id="contactName" name="contactName" maxlength="50" placeholder="First Last" required
                aria-required="true" [(ngModel)]="comment.commentAuthor.contactName" #name="ngModel" />
              <div [hidden]="name.valid || name.untouched" class="alert alert-danger">Name is required</div>
            </div>

            <div class="form-group col-lg-6 required">
              <label for="location" class="control-label">Location</label>
              <input type="text" class="form-control" id="location" name="location" maxlength="50" placeholder="City" required aria-required="true"
                [(ngModel)]="comment.commentAuthor.location" #location="ngModel" />
              <div [hidden]="location.valid || location.untouched" class="alert alert-danger">Location is required</div>
            </div>

            <div class="form-group col-lg-12 optional">
              <label for="organization" class="control-label">Organization</label>
              <input type="text" class="form-control" id="organization" name="organization" maxlength="100" placeholder="Org Name" [(ngModel)]="comment.commentAuthor.orgName"
                #organization="ngModel" />
            </div>

            <div class="form-check col-lg-12">
              <input type="checkbox" class="form-check-input" id="requestedAnonymous" name="requestedAnonymous" [(ngModel)]="comment.commentAuthor.requestedAnonymous"
                #requestedAnonymous="ngModel" />
              <label for="requestedAnonymous" class="form-check-label">Make me anonymous. (Checking this option will hide your name, location and organization on the public site.
                Your email and phone are never public.)</label>
            </div>

            <div class="form-group col-lg-6 required">
              <label for="email" class="control-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="first.last@email.com" required aria-required="true"
                [(ngModel)]="comment.commentAuthor.internal.email" #email="ngModel" />
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
            </div>

            <div class="form-group col-lg-6 optional">
              <label for="phone" class="control-label">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="xxx-xxx-xxxx" [(ngModel)]="comment.commentAuthor.internal.phone"
                #phone="ngModel" />
            </div>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="p2_back()">Back</button>
        <button [disabled]="!commentForm1.form.valid" type="submit" class="btn btn-primary">Next</button>
      </div>
    </div>
  </form>

  <!-- THIRD PAGE -->
  <form (ngSubmit)="p3_submit()" #commentForm2="ngForm">
    <div class="modal-content page3" *ngIf="this.currentPage === 3">
      <div class="modal-header">
        <h4 class="modal-title">Your Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <fieldset>
          <div class="row">
            <div class="form-group col-12 required">
              <label for="comment" class="control-label">Comment</label>
              <textarea class="form-control" id="comment" name="comment" rows="10" required aria-required="true" [(ngModel)]="comment.comment"
                #comment2="ngModel"></textarea>
              <div [hidden]="comment2.valid || comment2.pristine" class="alert alert-danger">Comment is required</div>
            </div>
          </div>

          <div class="row">
            <div class="upload-attachments form-group no-margin col-12 optional">
              <label for="attachments" class="control-label">Attachments</label>
              <app-file-upload [(files)]="files"></app-file-upload>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="p3_back()">Back</button>
        <button [disabled]="!commentForm2.form.valid || submitting" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <!-- FOURTH PAGE -->
  <div class="modal-content page4" *ngIf="this.currentPage === 4">
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div style="text-align: center;">
        <h3>Thank you for your comment!</h3>
        <img src="assets/images/check.png">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>
</div>