@import "~assets/styles/base/base.scss";

.location-info {
    border: 2px solid #003365;
    padding: 35px 40px 40px;
    h2 {
        color: #003364;
    }
    label {
      font-weight: bold;
      color: $primary;
      margin-bottom: 0;
      line-height: 1.2;
    }
    p {
        font-size: 1rem;
    }
    .value {
      font-size: .8rem;
      line-height: 1.25;
      margin-bottom: 5px;
    }
    .organization-item {
      margin-top: 0;
      color: #fff;
      background-color: #38598a;
      border-radius: 4px 4px 0 0;
      padding: 7px 10px;
      width: 100%;
      text-align: center;
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
}

.tab-section {
    overflow-y: auto;
    font-size: medium;
    >div {
        margin: 1em;
    }
    .status {
        text-align: right;
        font-size: large;
        font-weight: bold;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    a {
        display: inline-flex;
    }
}

.banner {
    background-color: #003366;
    color: white;
  }

  .map-wrapper {
    width: 100%;
    height: 100%;
  }
  .map-item {
    position: relative;
    height: 100%;
    .container {
      position: relative;
      @media (min-width: 400px) {
        padding-right: 280px;
      }
    }
    .map-container {
      display: block;
      position: relative;
      overflow: hidden;
      // height: (400px - 33px); // to hide attribution
    }
    .map {
      position: relative;
      height: 400px;
      outline: none;
      touch-action: none;
      background-color: $map-bg;
    }
  }
  .map-item__no-results {
    text-align: center;
    position: absolute;
    background: #eee;
    z-index: 2000;
    width: 100%;
    height: 100%;
  }
  .no-results-msg {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin-top: -12px;
    text-align: center;
  }