<div class="tab-pane" role="tabpanel">
  <section class="tab-section">
    <div class="row">
      <div class="col-6">
        <div class="location-info">
          <h2>Details</h2>
          <div>
            <label>Region</label>
            <p class="value">{{project?.region || "-" }}</p>
          </div>
          <div>
            <label>Regional Districts</label>
            <p class="value">{{project?.overlappingRegionalDistricts || "-" }}</p>
          </div>
          <div *ngIf="project?.projectPhase">
            <label>Project Phase</label>
            <p class="value">{{project?.projectPhase || "-"}}</p>
          </div>
          <div *ngIf="project?.existingLandUsePlanURLs && project?.existingLandUsePlans; else noPlanURL">
            <label>Existing Land Use Plan</label>
            <p class="value"><a class="value" target="_blank"
                href="{{project.existingLandUsePlanURLs}}">{{project?.existingLandUsePlans || "-" }}</a>
            </p>
          </div>
          <ng-template #noPlanURL>
            <div *ngIf="project?.existingLandUsePlans">
              <label>Existing Land Use Plan</label>
              <p class="value">{{project?.existingLandUsePlans || "-" }}</p>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-6">
              <div class="map-item">
          <div class="map-wrapper">
            <div class="map-item__no-results" *ngIf="!project.centroid || project.centroid.length != 2">
              <span class="no-results-msg">No map available</span>
            </div>
            <div class="map-container">
              <div class="map" id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <h2>Activities and Updates</h2>
        <app-project-activites></app-project-activites>
      </div>
    </div>
  </section>
</div>