@import "~assets/styles/base/base.scss";

.tab-section {
    overflow-y: auto;
    font-size: medium;
    >div {
        margin: 1em;
    }
    .status {
        text-align: right;
        font-size: large;
        font-weight: bold;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    a {
        display: inline-flex;
    }
    .process-image img {
        width: 90%;
        margin: 20px;
    }
}