<div class="tab-pane" role="tabpanel">
    <!-- <section class="tab-section" *ngIf="project">
        <div class="status mb-3">
          {{project.appStatus || 'Unknown Project Status'}}
        </div>

        <div *ngVar="projectService.getStatusCode(project.status) as appStatusCode">
            <div *ngIf="!project.decision && projectService.isDecision(appStatusCode)">
                No decisions documents are available at this time. Please check back for updates to this information.
            </div>

            <div *ngIf="!project.decision && !projectService.isDecision(appStatusCode)">
                No decisions have been made for this project at this time.
            </div>

            <div *ngIf="project.decision">
                <h2 class="title">Description</h2>
                <p class="mb-3" [innerHTML]="project.decision.description | newlines"></p>

                <h2 class="title">Decision Documents</h2>
                <div *ngIf="project.decision.documents.length === 0">
                    <em>No documents have been uploaded for this decision.</em>
                </div>

                <div class="row">
                    <div class="col-12" *ngFor="let document of project.decision.documents">
                        <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">
                            <i class="material-icons">attachment</i>&nbsp;{{document.documentFileName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>