<div class="compliance tab-pane" id="compliance" role="tabpanel">
  <p class="tab-intro">
    <span [innerHTML]="project?.getContent('Comp', 'Intro')"></span>
    <span>To learn more about compliance oversight of major mines in general, <a routerLink="/compliance-oversight">click here</a>.</span>
  </p>

  <section class="ce-section">
    <h3>Inspections &amp; Orders</h3>

    <div class="inspections-list" id="complianceList" role="tablist" aria-multiselectable="false">

      <table class="table mb-0">
        <thead class="inspections-list__sort-header">
          <tr>
            <th class="inspections-list__name-col sortable" (click)="sort('displayName')">Name
              <i class="sort"
                [ngClass]="{'sort-asc': (sortField == 'displayName' && sortAsc), 'sort-desc': (sortField == 'displayName' && !sortAsc) }"
                aria-hidden="true"></i>
            </th>
            <th class="inspections-list__agency-col sortable" (click)="sort('agency')">Agency
              <i class="sort"
                [ngClass]="{'sort-asc': (sortField == 'agency' && sortAsc), 'sort-desc': (sortField == 'agency' && !sortAsc) }"
                aria-hidden="true"></i>
            </th>
            <th class="inspections-list__date-col sortable" (click)="sort('date')">Date
              <i class="sort"
                [ngClass]="{'sort-asc': (sortField == 'date' && sortAsc), 'sort-desc': (sortField == 'date' && !sortAsc) }"
                aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
      </table>

      <div class="accordion mt-0">
        <div class="accordion__collapse-item" *ngFor="let c of collections.items | orderBy: {property: sortField, direction: sortDirection}">
          <div class="accordion__collapse-header" role="tab" id="heading-{{c._id}}">
            <a class="accordion__collapse-header--column toggle collapsed" data-toggle="collapse" href="#collapse-{{c._id}}" aria-expanded="true" aria-controls="collapseOne">
              <i class="material-icons open-icon">add</i>
              <i class="material-icons close-icon">remove</i>
            </a>
            <span class="accordion__collapse-header--column inspections-list__name-col">{{c.displayName}}</span>
            <span class="accordion__collapse-header--column inspections-list__agency-col">{{c.agency | uppercase}}</span>
            <span class="accordion__collapse-header--column inspections-list__date-col">{{c.date | date:'yyyy-MM-dd'}}</span>
          </div>
          <div class="collapse" role="tabpanel" id="collapse-{{c._id}}" attr.aria-labelledby="heading-{{c._id}}">
            <div class="accordion__collapse-body">
              <div class="inspections-list__related-documents card" *ngIf="c.documents.length > 0">
                <div class="card-header">Related Documents</div>
                <ul class="inspections-list__related-documents-list list-group">
                  <li class="list-group-item" *ngFor="let d of c.documents"><a href="{{d.ref}}" target="_blank">{{d.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="main-footer" *ngIf="project.moreInspectionsLink">
    <h3>Can't find what you are looking for?</h3>
    <p class="mb-0">Ministry of Energy, Mines and Petroleum Resources inspection reports for {{project?.name}} from {{project?.moreInspectionsLinkYear}} onwards can be accessed <a href="{{project.moreInspectionsLink}}" target="_blank">here</a>.</p>
   </section>

</div>
