@import "~assets/styles/base.scss";

app-application-list:host {
    @include flex-box;
    @include flex-direction(column);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5rem;
    left: 0;
}

.application-list {
    @include flex-box();
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .list-container {
        @include flex-box();
        @include flex-direction(column);
        @include flex(0 0 auto);
        width: 22rem;
        overflow: hidden;
        .accordion__collapse-header--column {
            padding: 0.5rem 1rem;
            width: 100%;
            text-align: unset;
            .material-icons {
                vertical-align: bottom;
            }
        }
        .list-container-options {
            @include flex(0 0 auto);
            padding: 0 1rem 1rem 1rem;
            border-bottom: 1px solid #ccc;
            .dropdown {
                margin: 0.5rem 0;
            }
            .dropdown-item {
                padding: 0 0.75rem;
                input {
                    margin-right: 1rem;
                }
            }
            .title {
                font-size: medium;
                font-weight: bold;
                color: $primary;
                margin: 0.25rem 0;
            }
            input[type=text],
            input[type=number] {
                height: 2rem;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &__buttons>* {
                margin-right: 1rem;
            }
        }
        .badge {
            border: 1px solid transparent;
            &-light,
            &.undefined {
                color: #666;
                background-color: #ccc;
            }
        }
        .list-group {
            @include flex(1 1 auto);
            overflow-y: scroll;
        }
        .list-group-item {
            border-radius: 0;
            &__list {
                line-height: 0.25rem;
                margin-bottom: 0;
                padding-left: 0;
                list-style-type: none;
                li {
                    margin-bottom: 0.25rem;
                    label {
                        margin-bottom: 0;
                        font-size: 0.75rem;
                        color: $primary;
                        font-weight: bold;
                    }
                    .value {
                        margin: 0;
                        font-size: 0.875rem;
                    }
                    .value-large {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
            &__buttons {
                .badge {
                    text-transform: none;
                    line-height: 1.25rem;
                    &-light {
                        background: #ddd;
                    }
                }
                a {
                    line-height: 0;
                    i {
                        font-size: 2.5rem;
                    }
                }
            }
            &.active {
                label {
                    color: inherit !important;
                }
                .badge-primary {
                    border-color: $white !important;
                }
                a {
                    color: inherit !important;
                }
            }
        }
    }
    .map-container {
        @include flex(1 1 auto);
        position: relative;
    }
}