<div class="container" id="anchor-point">
  <div class="row">
    <main class="col-md-5 application-list">
      <section>
        <mat-slide-toggle color="primary" [checked]="showOnlyOpenApps" (change)="showChange($event)">
          <div>Only show applications with an open or future comment period</div>
        </mat-slide-toggle>

        <div *ngIf="applications?.length == 0">
          <em>No applications found.</em>
        </div>

        <div class="card" *ngFor="let item of applications | paginate: config" [class.active]="isCurrentApp(item)" (mouseover)="showCurrentApp(item)"
          (click)="setCurrentApp(item)">
          <div class="card-header">{{item.proponent ? item.proponent.name : 'Unknown'}}</div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="value">Published on {{item.projectDate | date:'longDate'}}</p>
              </div>
            </div>
            <div class="row" *ngIf="applicationService.getStatus(item)">
              <div class="col">
                <p class="title">{{applicationService.getStatus(item)}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6" *ngIf="item.purpose && item.subpurpose">
                <label class="name">Purpose</label>
                <p class="value">{{item.purpose | titlecase}}</p>
              </div>
              <div class="col-6" *ngIf="item.purpose && item.subpurpose">
                <label class="name">Subpurpose</label>
                <p class="value">{{item.subpurpose | titlecase}}</p>
              </div>
              <div class="col-6" *ngIf="item.type && item.subtype">
                <label class="name">Tenure Type</label>
                <p class="value">{{item.type | titlecase}}</p>
              </div>
              <div class="col-6" *ngIf="item.type && item.subtype">
                <label class="name">Tenure Subtype</label>
                <p class="value">{{item.subtype | titlecase}}</p>
              </div>
            </div>
            <div class="row" *ngIf="commentPeriodService.getStatus(item.currentPeriod)">
              <div class="col">
                <p class="title">{{commentPeriodService.getStatus(item.currentPeriod)}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn content-btn slide-l-btn btn-sm float-right" [routerLink]="['/application', item._id]">
              <i class="material-icons">info_outline</i>
              <span>View Details</span>
            </a>
          </div>
        </div>
      </section>
    </main>

    <aside class="col-md-7 application-map">
      <section>
        <!-- TODO: listmap goes here -->
        <app-main-map></app-main-map>
      </section>
    </aside>
  </div>
</div>