@import "~assets/styles/base.scss";

app-application-list:host {
    @include flex-box;
    @include flex-direction(column);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5rem;
    left: 0;
}

.application-list {
    @include flex-box();
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .list-container {
        @include flex-box();
        @include flex-direction(column);
        @include flex(0 0 auto);
        width: 24rem;
        overflow: hidden;
        .accordion__collapse-header--column {
            padding: 0.5rem 1rem;
            width: 100%;
            text-align: unset;
            .material-icons {
                vertical-align: bottom;
            }
        }
        .list-container-options {
            @include flex(0 0 auto);
            padding: 0 1rem 1rem 1rem;
            border-bottom: 1px solid #ccc;
            .dropdown {
                margin: 0.5rem 0;
            }
            .dropdown-item {
                padding: 0 0.75rem;
                input {
                    margin-right: 1rem;
                }
            }
            .title {
                font-size: medium;
                font-weight: bold;
                color: $primary;
                margin: 0.25rem 0;
            }
            input[type=text],
            input[type=number] {
                height: 2rem;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &__buttons>* {
                margin-right: 1rem;
            }
        }
        .list-group {
            @include flex(1 1 auto);
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .list-group-item {
            border-radius: 0;
            padding: 0.75rem;
            &__detail {
                line-height: 0rem;
                label {
                    margin-bottom: 0;
                    font-size: 13px;
                    color: $primary;
                    font-weight: bold;
                }
                .value {
                    margin-bottom: 0;
                    color: #666;
                    font-size: 14px;
                }
                .value-large {
                    margin-bottom: 0;
                    color: #666;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            &__buttons {
                line-height: 0;
                .badge {
                    // width: 255px;
                    text-transform: none;
                    line-height: 1.25rem;
                    border: 1px solid transparent;
                }
                a:hover {
                    color: $gold;
                }
            }
            &.active {
                label {
                    color: inherit !important;
                }
                .badge-primary {
                    border-color: $white !important;
                }
                a {
                    color: inherit !important;
                }
                a:hover {
                    color: $gold !important;
                }
            }
        }
    }
    .map-container {
        @include flex(1 1 auto);
        position: relative;
    }
}