@import "~assets/styles/base.scss";
.container {
    background: #eee;
    .application-list {
        background: white;
        width: 40%;
        min-width: 300px;
        padding: 1em;
        .card {
            border: 1px black solid;
            margin-bottom: 0.5rem;
            .card-header {
                padding: 0px 10px;
                text-transform: none;
                font-size: 1.25rem;
            }
            .card-body {
                padding: 0px 10px;
                .title {
                    font-size: large;
                    font-weight: bold;
                    color: #002663;
                    margin-bottom: 0;
                }
                .name {
                    font-size: large;
                    font-weight: bold;
                    color: #002663;
                    margin-bottom: 0;
                }
                .value {
                    line-height: 1.5rem;
                    margin-bottom: 0;
                }
            }
            .card-footer {
                padding: 5px 10px;
                .content-btn {
                    padding: 0;
                }
            }
        }
    }
}