@import "~assets/styles/base.scss";
.container {
    background: #fff; // must come before image
    background-image: url("~assets/images/hero-background-prc.jpg");
    background-repeat: no-repeat;
    background-position: top;
    .application-list {
        background: white;
        width: 40%;
        min-width: 300px;
        min-height: 20rem;
        padding: 1em;
        border: 1px #ccc solid;
        border-radius: 5px;
        .switchWrapper {
            margin-bottom: 1rem;
        }
        .card {
            border: 1px black solid;
            margin-bottom: 0.5rem;
            .card-header {
                padding: 0px 10px;
                text-transform: none;
                font-size: large;
            }
            .card-body {
                margin-top: 0.5rem;
                padding: 0px 10px;
                .title {
                    font-size: large;
                    font-weight: bold;
                    color: $primary;
                    margin-bottom: 0.5rem;
                }
                .name {
                    // font-size: large;
                    font-weight: bold;
                    color: $primary;
                    margin-bottom: 0;
                }
                .value {
                    font-size: smaller;
                    line-height: 1rem;
                    margin-bottom: 0.5rem;
                }
            }
            .card-footer {
                padding: 5px 10px;
                .content-btn {
                    padding: 0;
                }
            }
        }
    }
}