@import "~assets/styles/base.scss";

app-application-list:host {
  @include flex-box;
  @include flex-direction(column);
  @include fill-parent(fixed);
  margin-top: 68px;
  z-index: 999;
}

@media (max-width: 991px) {
  app-application-list:host {
    margin-top: 52px;
  }
}

.application-list {
  @include flex-box();
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .map-list-container {
    @include flex-box();
    @include flex-direction(column);
    @include flex(0 0 auto);
    width: 26rem;
    overflow: hidden;

    &__options {
      @include flex(0 0 auto);
      padding: 1rem;
      border-bottom: 1px solid #ccc;
      
      mat-slide-toggle {
        white-space: normal;
      }
    }

    .badge {
      border: 1px solid transparent;
    }

    .badge-light {
      color: #666;
      background-color: #ccc;
    }

    .list-group {
      @include flex(1 1 auto);
      overflow-y: scroll;
    }

    .list-group-item {
      padding: 1rem 1.5rem;
      border-radius: 0 !important;

      h2 {
        margin-bottom: 0.15rem;
        letter-spacing: 0;
        font-size: 1rem;
        font-weight: 700
      }

      ul {
        margin: 0.5rem 0;
      }

      .badge {
        text-transform: uppercase;
        font-size: 0.725rem;

        &-light {
          background: #ddd;
        }
      }

      &__list,
      &__buttons {
        font-size: 0.875rem;
      }

      &__buttons {
        margin-top: 0;
        a {
          padding: 0.25rem 0rem;
        }
      }

      &.active {
        .badge {
          &-primary {
            border-color: #fff;
          }

          &-light,
          &.undefined {
            color: #000;
          }
        }
        
        a {
          color: inherit;
          border-color: #fff;
        }
      }
    }
  }

  .map-container {
    @include flex(1 1 auto);
    position: relative;
  }
}

@media (min-width: 992px) {
  .application-list {
    &:before {
      content: " ";
      position: absolute;
      top: -68px;
      left: 0;
      width: 100%;
      height: 68px;
      border-bottom: 4px solid gold;
      background: $header-bg;
    }
  }
}

