@import "~assets/styles/base.scss";
.container {
    // background-image: url("~assets/images/hero-background-prc.jpg");
    // background-repeat: no-repeat;
    // background-position: top;
    padding: 2rem;
    .application-list {
        // max-height: 60rem;
        // overflow-y: scroll;
        >section {
            background-color: #fff;
            padding: 1em;
            border: 1px #ccc solid;
            border-radius: 5px;
            .switchWrapper {
                margin-bottom: 1rem;
            }
            .card {
                border: 1px #000 solid;
                margin-bottom: 0.5rem;
                .card-header {
                    padding: 0px 10px;
                    text-transform: none;
                    font-size: large;
                }
                .card-body {
                    margin-top: 0.5rem;
                    padding: 0px 10px;
                    .title {
                        font-size: large;
                        font-weight: bold;
                        color: $primary;
                        margin-bottom: 0.5rem;
                    }
                    .name {
                        // font-size: large;
                        font-weight: bold;
                        color: $primary;
                        margin-bottom: 0;
                    }
                    .value {
                        font-size: smaller;
                        line-height: 1rem;
                        margin-bottom: 0.5rem;
                    }
                }
                .card-footer {
                    padding: 5px 10px;
                    .content-btn {
                        padding: 0;
                    }
                }
            }
        }
    }
    .application-map {
        margin-top: 0;
        min-height: 30rem;
        // max-height: 60rem;
        >section {
            border: 1px #ccc solid;
            border-radius: 5px;
            // img {
            //     width: 100%;
            //     height: 37rem;
            //     object-fit: none;
            //     object-position: top;
            // }
        }
    }
}

@media (max-width: 767px) {
    .container {
        .application-list {
            margin-bottom: 1rem;
        }
    }
}