<div class="app-list-filters__container" name="Filters to limit displayed Projects">
  <fieldset>
    <div class="project-type-filter-title-row">
      <legend for class="filter-by-type-label">Filter by project type(s)</legend>
    </div>
    <div *ngFor="let ptf of projectTypeFilters" class="project-type-filter-row">
      <mat-checkbox 
        value={{ptf.name}}
        class="project-type-filter-checkbox"
        (change)="handleProjectTypeChange($event)"
        [checked]="ptf.checked">
      </mat-checkbox>
      <span class="project-type-filter-text">{{ptf.name}}</span>
      <br />
    </div>
  </fieldset>
</div>
