<div *ngIf="listType == 'comments'">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div class="pb-3">
        <div *ngIf="item.author && item.Anonymous !== true">
          <b>
            <span>{{item.author}}</span>
            <span *ngIf="item.location">, {{item.location}}</span>
          </b>
        </div>
        <div *ngIf="item.author == null || item.Anonymous">
          <span>Anonymous</span>
        </div>
      </div>
      <div>
        {{(item.dateAdded | date:'longDate') || "-"}}
      </div>
    </div>
    <div>
      <p [ngClass]="showMore ? '' : 'show-less'">{{item.comment}}</p>
    </div>
    <div class="attachment" *ngFor="let file of documents" (click)="openAttachment(file)">
      <i class="material-icons">
        attach_file
      </i>{{file.internalOriginalName}}
    </div>
    <div class="clickable" (click)="toggleShowMore()">Read More &nbsp; &rsaquo;</div>
  </div>
</div>