<div *ngIf="pins.length !== 0">
    <section class="tab-section" *ngIf="!loading">
      <div *ngIf="pins.length > 0">
        <app-table-template *ngIf="!loading && tableParams.totalListItems != 0"
                            (checkboxChange)='checkChange($event)'
                            [columns]="tableColumns"
                            [data]="tableData"
                            (onColumnSort)='setColumnSort($event)'
                            (onSelectedRow)='updateSelectedRow($event)'
                            (onPageNumUpdate)='getPaginated($event)'>
        </app-table-template>
      </div>
    </section>
  </div>
  