@import "~assets/styles/base/base.scss";

:host {
  @include flex(1 1 auto);

  display: block;
  background: $bg-default;
}

.hero-banner__version {
  margin-top: -0.25rem;
  margin-left: -0.25rem;
  display: inline-block;
  color: $gold;
  font-size: 0.875rem;
  font-weight: 700;
  vertical-align: top;
}

@media (max-width: 767px) {
  .hero-banner h1 {
    line-height: 2rem;
    font-size: 1.75rem;
  }

  .hero-banner__version {
    margin-top: -0.3rem;
  }
}

section {
  h3 {
    margin-bottom: 0.75rem;
    font-size: 1.4rem;
  }

  section {
    margin-top: 1.4rem;
    padding: 0;
  }
}

ol {
  li {
    padding-left: 0.5rem;
  }

  strong {
    font-weight: 600;
  }
}

.related-links {
  section {
    padding-top: 1.5rem;
    border-top: 1px solid $gray4;

    div {
      @include flex(1 1 auto);

      p {
        margin-bottom: 0;
      }
    }

    .btn {
      @include flex(0 0 auto);

      align-self: flex-start;
      margin-top: 0.75rem;
      min-width: 8rem;
      white-space: normal;
      text-transform: uppercase;
      font-size: 0.85rem;
      font-weight: 700;
    }
  }
}
