<div class="hero-banner">
	<div class="container">
		<div class="container-inner">
			<div class="hero-banner__content">
				<h1>About this site</h1>
				<p>Read about, review and comment on applications for use of Crown land in British Columbia.</p>
			</div>
		</div>
	</div>
</div>

<main>
	<div id="anchor-point">
		<section class="container">
			<h2>About this site</h2>
			<p>Section 32(2) of the <em><a href="http://www.bclaws.ca/EPLibraries/bclaws_new/document/ID/freeside/00_96245_01#section32" target="_blank">Land Act</a></em> sets out the Province’s requirement to publish Crown land applications on a publicly accessibly website. Public participation in the administration of Crown land is encouraged and this site offers a platform for members of the public to submit comments for consideration.</p>
			<p>This site contains Crown land application information posted by the Province as of October 15, 2018. Once an application has been reviewed and a decision made, it will remain on the site for a limited period of time.</p>
			<p class="mb-0">For Crown land application information posted prior to October 15, 2018, please refer to the Applications and Reasons for Decision (ARFD) website (listed below).</p>
		</section>
	</div>
	<div class="bg-light">
		<section class="container">
			<h2>Application Review Status</h2>
			<p>Applications progress through potentially two phases: application review and decision.</p>
			<section>
				<h3>Application Review</h3>
				<ol>
					<li><strong>Application Under Review:</strong> The application is received by the Province for consideration and posted on ACRFD.</li>
					<li><strong>Application Review Complete - Decision Pending:</strong> The consultation period of review is complete and the Province is making its final decision.</li>
				</ol>
			</section>
			<section>
				<h3>Decision</h3>
				<ol start="3">
					<li><strong>Abandoned:</strong> The application review and processing has been cancelled or abandoned (by either the client or applicant). No further action will be taken.</li>
					<li><strong>Approved - Tenure Issued:</strong> The application review has concluded and a determination has been made to approve the application. All review processes are complete at this stage.</li>
					<li><strong>Not Approved:</strong> The application review has concluded and it has been determined that the application will not be approved, and will not receive a tenure.</li>
				</ol>
			</section>
		</section>
	</div>
	<div>
		<section class="container related-links">
			<h2>Related Information and Links</h2>
			<section>
				<div>
					<h3>Applications and Reasons for Decision (ARFD)</h3>
					<p>To access applications posted prior to October 15, 2018, please visit the old site, Applications and Reasons for Decision.</p>
				</div>
				<a class="btn btn-primary" href="https://arfd.gov.bc.ca/ApplicationPosting/index.jsp" target="_blank">
					Go to ARFD
				</a>
			</section>
			<section>
				<div>
					<h3>Government Access Tool for Online Retrieval (GATOR)</h3>
					<p>Information and records on all active and historical applications can be accessed through GATOR – the public Crown land registry system.</p>
				</div>	
				<a class="btn btn-primary" href="http://a100.gov.bc.ca/pub/pls/gator/gator$queryforms.search_ip_by_file_number" target="_blank">
					Go to GATOR
				</a>
			</section>
			<section>
				<div>
					<h3>Integrated Land and Resource Registry (ILRR)</h3>
					<p>The Integrated Land and Resource Registry is a spatially enabled, comprehensive register of legal interests, rights, designations, and administrative boundaries on Crown land.</p>
				</div>
				<a class="btn btn-primary" href="https://a100.gov.bc.ca/apps/ilrr/html/ILRRWelcome.html" target="_blank">
					Go to ILRR
				</a>
			</section>
			<section>
				<div>
					<h3>FrontCounter BC (FCBC)</h3>
					<p>To make an application to use Crown land please go to the FrontCounter BC website or visit a FrontCounter BC <a href="https://portal.nrs.gov.bc.ca/web/client/locations" target="_blank">service location</a>.</p>
				</div>
				<a class="btn btn-primary" href="http://www.frontcounterbc.gov.bc.ca/" target="_blank">
					Go to FCBC
				</a>
			</section>
			<section>
				<div>
					<h3>Crown land Website</h3>
					<p>For more information on Crown land application policies, visit the Crown land website.</p>
				</div>
				<a class="btn btn-primary" href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/crown-land" target="_blank">
					Go to Crown land website
				</a>
			</section>
		</section>
	</div>
</main>