@import "~assets/styles/components/details.scss";

section {
  + section {
    margin-top: 3rem;
  }
}

h1 {
  margin-bottom: 1.75rem;
}

.people {
  vertical-align: top;

  i {
    vertical-align: bottom;
  }

  .col {
    padding: 0;
    margin-bottom: 20px;
    vertical-align: top;

    @media screen and (min-width: 800px) {
      display: inline-block;
      width: 32%;
      margin-right: 1%;
    }
  }
}
