@import "~assets/styles/base/base.scss";

.app-detail {
  line-height: normal;
}

section + section {
  margin-top: 2rem;
}

section {
  h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
}

.title-panel {
  @include flex-direction(column);
  @include flex(0 0 auto);
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 1.5rem;
  height: auto;
}

// Title Contents
.applicant-name, 
.application-purpose {
  letter-spacing: -0.02rem;
  line-height: 1.5rem;
  font-size: 1.375rem;
  font-weight: 600;
}

.applicant-name {
  color: $gray9;
}

.application-purpose {
  color: $gray5;
}

// Status 
.status-container {
  margin-top: 1.4rem;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;

  li {
    padding-left: 1.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
  }

  li + li {
    margin-top: 0.35rem;
  }
}

// Status Iconography 
.commenting-open {
  background: url("~assets/images/baseline-insert_comment-24px.svg");
}

.commenting-closed {
  background: url("~assets/images/baseline-cancel-24px.svg");
}

.under-review {
  background: url("~assets/images/baseline-access_time-24px.svg");
}

.review-complete,
.unknown {
  background: url("~assets/images/outline-info-24px.svg");
}

.approved {
  background: url("~assets/images/baseline-check-24px.svg");
}

.abandoned,
.not-approved {
  background: url("~assets/images/baseline-cancel-24px.svg");
}

.app-details-info {
  line-height: 1.25rem;
  font-size: 0.85rem;
}

// Meta
.meta-container {
  position: relative;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  display: table;
  width: 100%;

  li {
    display: table-row;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  li + li {
    margin-top: 0.25rem;
  }

  .key {
    display: table-cell;
    padding-right: 1.5rem;
    white-space: nowrap;
  }

  .value {
    display: table-cell;
    font-style: italic;
  }
}

:host ::ng-deep {
  .nav-item {
    width: 50%;
    text-align: center;
  }
}

.document-list {
  padding: 0;
  margin: 0 -0.2rem;
  list-style-type: none;

  li {
    margin: 0.2rem;
    white-space: nowrap;

    a {
      display: block;
      padding: 0.4rem;
      overflow: hidden;
      color: $primary0;
      border-radius: 0.2rem;
      background: $gray2;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all ease-out 0.2s;
    }

    a:hover {
      color: $color-inverted;
      background: $primary0;
      text-decoration: none;
    }

    i, span {
      display: inline;
      vertical-align: middle;
    }
  }
}

.shapefile-list {
  margin-top: -0.5rem;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 0.5rem 0;
  }
}

.shapefile-list__id {
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.commenting-info-container {
  margin-bottom: 1.5rem;

  .btn {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
  }
}