<div class="flex-panel" *ngIf="!isAppLoading && !application">
  <div class="flex-panel__header">
    <h2 class="title">No Application Selected</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="isAppLoading">
  <div class="flex-panel__header">
    <h2 class="title">Loading application details...</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="!isAppLoading && application !== null">
  <div class="flex-panel__header">
    <h2 class="title">Crown Land File: &nbsp; #{{(application && application['clFile']) || '-'}}</h2>
  </div>
  <div class="flex-panel__scroll">
    <section class="title-panel">
      <div class="applicant-name">{{application['applicants'] | titlecase}}</div>
      <div class="application-purpose">{{application.purpose | titlecase}} - {{application.subpurpose | titlecase}}</div>
    </section>
    <div class="app-detail-info">
      <section class="status-section">
        <div class="status"
          [ngClass]="{
            'abandoned':        applicationService.isAbandoned(application.appStatusCode),
            'under-review':     applicationService.isApplicationUnderReview(application.appStatusCode),
            'review-complete':  applicationService.isApplicationReviewComplete(application.appStatusCode),
            'approved':         applicationService.isDecisionApproved(application.appStatusCode),
            'not-approved':     applicationService.isDecisionNotApproved(application.appStatusCode),
            'unknown':          applicationService.isUnknown(application.appStatusCode)
          }">
          <div>
            <strong>{{application.appStatus}}</strong>
          </div>
        </div>
        <div class="status-msg status-highlight" *ngIf="application['retireDate']">
          This application will be available on this site until {{application['retireDate'] | date:'longDate'}}. <br> It will continue to be available on <a href="http://a100.gov.bc.ca/pub/pls/gator/gator$queryforms.search_ip_by_file_number" title="To find information about this application after the specified date, visit GATOR" target="_blank">GATOR</a>.
        </div>
      </section>
      <div *ngIf="application.currentPeriod">
        <section class="status-section" *ngVar="application.currentPeriod['daysRemaining'] as daysRemaining">
          <div class="status" [ngClass]="commentPeriodService.isOpen(application.cpStatusCode) ? 'commenting-open':'commenting-closed'">
            <div><strong>{{commentPeriodService.getStatusString(application.cpStatusCode)}} <span *ngIf="commentPeriodService.isOpen(application.cpStatusCode)">({{daysRemaining === 1 ? daysRemaining + " day" : daysRemaining + " days"}} remaining)</span></strong></div>
          </div>
          <div class="status-msg" *ngIf="commentPeriodService.isOpen(application.cpStatusCode)">
            This application is currently accepting comments for the next {{daysRemaining === 1 ? daysRemaining + " day" : daysRemaining + " days"}}. Commenting will close on {{application.currentPeriod.endDate | date:'longDate'}}.
          </div>
          <div class="status-msg" *ngIf="!commentPeriodService.isOpen(application.cpStatusCode)">
            Commenting is closed for this application. Comments were accepted from {{application.currentPeriod.startDate | date:'longDate'}} to {{application.currentPeriod.endDate | date:'longDate'}}.
          </div>
          <button class="submit-comment-btn btn btn-primary" (click)="addComment()" *ngIf="commentPeriodService.isOpen(application.cpStatusCode)">Submit a Comment</button>
        </section>
      </div>

      <section>
        <h3>Application Details</h3>
        <p class="description" [innerHTML]="(application.description | linkify) || 'No description available'"></p>
        <ul class="meta-container">
          <li>
            <div class="key">Applicant(s):</div>
            <div class="value">{{application['applicants'] | titlecase}}</div>
          </li>
          <li>
            <div class="key">Disposition Transaction:</div>
            <div class="value">{{application.tantalisID || '-'}}</div>
          </li>
          <li>
            <div class="key">Tenure:</div>
            <div class="value">{{application.type | titlecase}} / {{application.subtype | titlecase}}</div>
          </li>
          <li>
            <div class="key">Purpose/Subpurpose:</div>
            <div class="value">{{application.purpose | titlecase}} / {{application.subpurpose | titlecase}}</div>
          </li>
          <li>
            <div class="key">Location:</div>
            <div class="value">{{application.location}}</div>
          </li>
        </ul>
        <div class="doc-list" *ngIf="application.documents.length > 0">
          <a class="doc-list__item" [href]="api.getDocumentUrl(document)" [title]="document.displayName || ''" target="_blank" *ngFor="let document of application.documents">
            <div class="cell doc-list__item-icon">
              <i class="material-icons">
                insert_drive_file
              </i>
            </div>
            <div class="cell doc-list__item-name">{{document.documentFileName}}</div>
          </a>
        </div>
      </section>

      <section>
        <h3>Decision Information</h3>
        <!-- NB: decision object and decision status are independent -->
        <div *ngIf="application.decision">
          <div *ngIf="application.decision.documents.length === 0">
            No decision documents are available.
          </div>
          <div class="doc-list" *ngIf="application.decision.documents.length > 0">
            <a class="doc-list__item" [href]="api.getDocumentUrl(document)" [title]="document.displayName || ''" target="_blank" *ngFor="let document of application.decision.documents">
              <div class="cell doc-list__item-icon">
                <i class="material-icons">
                  insert_drive_file
                </i>
              </div>
              <div class="cell doc-list__item-name">{{document.documentFileName}}</div>
            </a>
          </div>
        </div>
        <div *ngIf="!application.decision">
          <div *ngIf="applicationService.isAbandoned(application.appStatusCode)
          || applicationService.isDecisionApproved(application.appStatusCode)
          || applicationService.isDecisionNotApproved(application.appStatusCode); else notDecisionStatus">
            No decision documents are available at this time. Please check back for updates to this information.
          </div>
          <ng-template #notDecisionStatus>
            No decisions have been made for this application at this time.
          </ng-template>
        </div>
      </section>

      <section>
        <h3>Geographic Shape Information <span>({{application.features.length > 1 ? application.features.length + " Shapes": application.features.length + " Shape"}})</span></h3>
        <app-details-map [application]="application"></app-details-map>
        <ul class="shapefile-list">
          <li class="shapefile-list__item" *ngFor="let feature of application.features">
            <h4 class="shapefile-list__id">Shape ID: {{feature.properties.INTRID_SID}}</h4>
            <ul class="meta-container">
              <li>
                <div class="key">Type/Subtype:</div>
                <div class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</div>
              </li>
              <li>
                <div class="key">Area (ha):</div>
                <div class="value">{{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</div>
              </li>
            </ul>
            <h5>Legal Description</h5>
            <div [innerHTML]="(feature.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></div>
          </li>
        </ul>
      </section>

    </div>
  </div>
</div>
