@import "~assets/styles/base/base.scss";

.flex-panel__scroll {
  padding: 0;
}

section {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid $gray2;

  h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  h4 {
    font-size: 0.9375rem;
    font-weight: 700;
  }

  h5 {
    margin-bottom: 0.2rem;
    letter-spacing: 0;
    font-size: 0.875rem;
    font-weight: 600;
  }
}

.app-detail {
  line-height: normal;
}

.app-detail-info {
  line-height: 1.25rem;
  font-size: 0.85rem;
}

// Title Panel
.title-panel {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  background: #fff;
}

.applicant-name,
.application-purpose {
  letter-spacing: -0.02rem;
  line-height: 1.5rem;
}

.applicant-name {
  color: $gray9;
  font-size: 1.25rem;
  font-weight: 600;
}

.application-purpose {
  color: $gray7;
  font-size: 1.25rem;
}

// Status Sections and Iconography
.status-section {
  padding: 1rem 1.5rem;
}

.status {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 2.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.status-msg {
  margin-top: 0.6rem;

  &.status-highlight {
    position: relative;
    padding: 0 0.25rem;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
}

.commenting-open {
  background-image: url("~assets/images/baseline-insert_comment-24px.svg");
}

.commenting-closed {
  background-image: url("~assets/images/baseline-cancel-24px.svg");
}

.under-review {
  background-image: url("~assets/images/baseline-access_time-24px.svg");
}

.review-complete,
.unknown {
  background-image: url("~assets/images/outline-info-24px.svg");
}

.approved {
  background-image: url("~assets/images/baseline-check-24px.svg");
}

.abandoned,
.not-approved {
  background-image: url("~assets/images/baseline-cancel-24px.svg");
}

// Meta
.meta-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;

  li {
    display: table-row;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  li + li {
    margin-top: 0.25rem;
  }

  .key {
    display: table-cell;
    padding-right: 1.5rem;
    padding-bottom: 0.2rem;
    white-space: nowrap;
  }

  .value {
    display: table-cell;
    //font-style: italic;
  }
}

.submit-comment-btn {
  margin-top: 1.25rem;
  padding: 0.75rem;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
}

// Documents
.doc-list {
  margin-top: 1rem;
}

// Shapefile List
.shapefile-list {
  margin-top: 1.25rem;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;

  .shapefile-list__item + .shapefile-list__item {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid $gray3;
  }

  .meta-container {
    margin-bottom: 0.5rem;
  }
}

.shapefile-list__id {
  margin-bottom: 0.5rem;
}
