@import "~assets/styles/base/base.scss";

.app-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-list__container {
  @include flex-box();
  @include flex-flow(column nowrap);

  width: 100%;
  height: 100%;
  background: #fff;
}

.app-list__header {
  padding: 1rem;
  font-weight: bold;
}

.app-list__body {
  @include flex(1 1 auto);

  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.app-list__scroll-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}

.app-list__list {
  @include flex(1 1 auto);

  margin: 0;
  padding: 0;
}

// No Results Container
.no-results {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #fff;
  z-index: 2;

  + .no-results {
    display: none;
  }
}

// Application Cards
.app-card {
  padding: 1rem;
  font-size: 0.9375rem; // 14px

  &.list-group-item {
    border-radius: 0;
    border: none;
  }

  + .app-card {
    border-top: 1px solid #ddd;
  }
}

// Application Card Key/Value Pairs
.app-card__details {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    line-height: 1rem;
    text-transform: capitalize;

    span {
      display: block;
    }

    + li {
      margin-top: 0.5rem;
    }
  }

  .key {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .value {
    &.client-name {
      margin-bottom: 0.75rem;
      letter-spacing: -0.02rem;
      font-size: 1.15rem;
      font-weight: bold;
    }
  }
}

// App Card Actions & Comment Status
.app-card__actions {
  margin-top: 1rem;

  .comment-status-badge {
    padding: 0.5rem;
    text-transform: none;
    font-size: 0.875rem;

    .date {
      font-weight: normal;
    }
  }

  .app-details-link {
    padding: 0;
  }
}

// Application List Options
.app-list__options {
  padding: 0.25rem 1rem;
  border-top: 1px solid #ddd;
  font-size: 0.825rem;

  .form-check {
    margin-bottom: 0.25rem;
  }

  .form-check-input {
    margin-top: 0.2rem;
  }
}

// Active State
.active {
  .app-card__details {
    * {
      color: #fff;
    }
  }

  .app-details-link {
    color: #fff;
  }
}

// Load More Container
.load-more {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;

  .btn {
    position: relative;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.spinner-container {
  + .no-results {
    display: none;
  }
}
