<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1 tabindex="0">Land Use Planning Project Phases</h1>
          <p>Land use planning projects in British Columbia will vary in complexity, scope, and timelines. However, there are common
          steps that are required to complete a land use plan, and have it approved and implemented.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="static-content">
    <div class="container" id="anchor-point">
      <main>
        <section>
          <img src="/assets/images/Land use Planning_sm.png"
          alt="A visual representation of the steps for completing a land use plan">
          <h2>Steps for Completing a Land Use Plan</h2>
          <ol>
            <li><strong>Pre-Planning.</strong> Preliminary discussions with First Nation(s) and key regional stakeholders on land use and management issues. Agree in
            principle with First Nation(s) to undertake a land use planning process, develop a business case and seek mandates to
            proceed.</li>
            <li><strong>Plan Initiation.</strong> Formalize agreement with First Nation(s) to proceed with land use planning project, finalize planning scope, including a
            governance structure to oversee the process and provide support at key project milestones, develop a project budget,
            workplan and stakeholder engagement strategy.</li>
            <li><strong>Plan Development.</strong> Apply information and planning tools to produce scenario analyses that address planning issues. Select a preferred
            planning scenario and prepare a draft plan.</li>
            <li><strong>Plan Evaluation and Approval.</strong> Evaluate draft land use plan, provide dispute resolution if necessary and revise plan as required. Submit land use plan
            for review and approval by planning partners.</li>
            <li><strong>Plan Implementation and Monitoring.</strong> Develop an implementation plan that includes associated agreements with planning partners and a secured implementation
            committee and budget. Monitor planning outcomes to assess the plan’s effectiveness and develop a review and feedback
            process for applying new information to the plan.</li>
          </ol>
        </section>
      </main>
    </div>
  </section>
