<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1>Land Use Planning Process & Phases</h1>
          <p>Land use planning projects in British Columbia will vary in complexity, scope, and timelines. However, there are common
          steps that are required to complete a land use plan, and have it approved and implemented.</p>
        </div>
      </div>
    </div>
  </div>
  
  <section class="static-content">
    <div class="container" id="anchor-point">
      <main>
        <section>
          <h2>Steps for Completing a Land Use Plan</h2>
          <ol>
            <li><strong>Pre-Planning.</strong> Collaborate with First Nations and agree in principle to undertake a land use plan to resolve
            land-based issues. Develop a business case and seek mandates to proceed.</li>
            <li><strong>Plan Initiation.</strong> Get organized to conduct a planning process. Formalize agreement to proceed with planning, finalize planning scope,
            develop a project budget and stakeholder engagement strategy.</li>
            <li><strong>Plan Development.</strong> Apply information and planning tools to produce scenario analyses that address planning issues. Select a preferred
            planning scenario and prepare a draft plan.</li>
            <li><strong>Plan Evaluation and Approval.</strong> Evaluate draft land use plan, provide dispute resolution and revise plan as required. Submit land use plan for review
            and approval by planning partners.</li>
            <li><strong>Plan Implementation and Monitoring.</strong> Develop an implementation plan that includes associated agreements with planning partners and a secured implementation
            budget. Monitor planning outcomes and assess the plan’s effectiveness.</li>
          </ol>
        </section>
      </main>
    </div>
  </section>