.hero-banner__content {
  a {
    color: #fff;
    text-decoration: underline;
  }
}

h3 {
  font-size: 1.5rem;
}

.static-content {
  background: #fff;

  main {
    margin: 0;
    padding: 0 1.5rem;

    section {

      img {
        width: 100%;
        padding: 20px;
      }

      &.container {
        padding: 2.5rem 0;
        margin: 0 auto;
      }
    }
  }
}

.external-link {
  padding: 0 !important;
  padding-bottom: 10px  !important;
  width: inherit !important;

  &.invert {
    filter: invert(1);
  }
}
