<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1>Land Use Planning Process & Phases</h1>
          <p>Learn more about how the Environmental Assessment Office neutrally administers a process that is predictable, transparent,
            timely, procedurally fair, and holds all participants accountable.</p>
        </div>
      </div>
    </div>
  </div>
  
  <section class="static-content">
    <div class="container" id="anchor-point">
      <main>
        <section>
          <h2>Pre-Planning</h2>
          <p>Land management issues are discussed between the B.C. government and Indigenous government(s), as well as with
          stakeholders and communities. Resource managers try to resolve issues using existing land use plans or other stewardship
          initiatives. If there are no existing land use plans for the area, or the existing land use plans are no longer an
          effective tool to resolve land use issues, the B.C. government and Indigenous government(s) will determine an
          appropriate path forward. If land use planning is the desired approach, the parties will begin scoping out a proposed
          land use planning project, including timelines and costs, then seek a mandate from the Minister of Forests, Lands,
          Natural Resource Operations and Rural Development to secure resources and proceed.</p>
            <ul>
              <li><strong>Key Components/ Outcomes</strong></li>
              <ul>
                <li>Agreement between B.C. government and Indigenous government(s) to pursue land use planning</li>
                <li>Seek mandate from the Minister of Forests, Lands, Natural Resource Operations and Rural Development</li>
              </ul>
            </ul>
        </section>
        <hr>
        <section>
          <h2>Plan Initiation</h2>
          <p>The B.C. government and Indigenous government(s) sign a government-to-government agreement to formalize a land use
          planning partnership. The parties then engage the public and stakeholders and conduct a socio-economic analysis of the
          planning area to initially scope regional issues and land use interests. The parties then develop a land use plan Terms
          of Reference to outline the planning process, define the planning team and governance, confirm the planning scope,
          identify stewardship initiatives with linkages to the planning area, and identify resource requirements. Key
          stakeholders within the proposed planning may be engaged a second time on the final Terms of Reference.</p>
          <ul>
            <li><strong>Key Components/ Outcomes</strong></li>
            <ul>
              <li>Government-to-Government agreement to begin land use planning</li>
              <li>Public and stakeholder engagement</li>
              <li>Socio-economic analysis</li>
              <li>Land use planning project Terms of Reference</li>
            </ul>
          </ul>
        </section>
        <hr>
        <section>
          <h2>Plan Development</h2>
          <p>The planning team will carry out a baseline information assessment of provincial data, traditional knowledge, and any
          other information collected in collaboration with communities. Various land use scenario analyses will be conducted and
          compared against the outcomes of the socio-economic analysis and public engagement. Additional public and stakeholder
          engagement will be hosted on the various land use scenarios to refine the desired land use direction, goals and
          objectives for the planning area. The planning team will select a preferred planning scenario and prepare a draft land
          use plan.</p>
          <ul>
            <li><strong>Key Components/ Outcomes</strong></li>
            <ul>
              <li>Baseline data and information assessment</li>
              <li>Land use scenario analysis</li>
              <li>Public and stakeholder engagement</li>
              <li>Draft land use plan</li>
            </ul>
          </ul>
        </section>
        <hr>
        <section>
          <h2>Plan Evaluation and Approval</h2>
          <p>The public and stakeholders are engaged to solicit feedback and input on the draft land use plan. The planning team also
          conducts a comprehensive assessment and evaluation of the plan. Modifications to the draft land use plan may occur to
          address remaining concerns before it is put forward for approval. Land use plan approval requires sign-off by the B.C.
          government and Indigenous government(s).</p>
          <ul>
            <li><strong>Key Components/ Outcomes</strong></li>
            <ul>
              <li>Public and stakeholder engagement on draft land use plan</li>
              <li>Plan evaluation and complete any revisions as required</li>
              <li>Final land use plan sign-off by B.C. government and Indigenous government(s)</li>
            </ul>
          </ul>
        </section>
        <hr>
        <section>
          <h2>Plan Implementation and Monitoring</h2>
          <p>The final land use plan will be made publicly available when it is implemented. The B.C. government and Indigenous
          government(s) will also develop a monitoring plan to compare the outcomes of management actions with the direction and
          objectives set in the final land use plan. This will enable the planning partners to collaboratively assess the overall
          effectiveness of the land use plan. Over time, new land management issues may be identified through monitoring,
          prompting the B.C. government and Indigenous government(s) to discuss an appropriate approach forward (see
          Pre-Planning).</p>
          <ul>
            <li><strong>Key Components/ Outcomes</strong></li>
            <ul>
              <li>Final land use plan made publicly available and implemented</li>
              <li>Collaboratively assess and monitor overall effectiveness of the land use plan</li>
            </ul>
          </ul>
        </section>
      </main>
    </div>
  </section>