<div *ngIf="documents.length !== 0">
  <section class="tab-section" *ngIf="!loading">
    <div *ngIf="documents.length > 0">
      <app-table-template *ngIf="!loading && tableParams.totalListItems != 0"
                          (checkboxChange)='checkChange($event)'
                          [columns]="documentTableColumns"
                          [data]="documentTableData"
                          (onColumnSort)='setColumnSort($event)'
                          (onSelectedRow)='updateSelectedRow($event)'
                          (onPageNumUpdate)='getPaginatedDocs($event)'>
      </app-table-template>
    </div>
  </section>
</div>
