table.table {
	border: none;

  tr {
    border: none;

    th, td {
      border: none;

      &:first-child {
        padding-left: 1rem;

        @media screen and (max-width: 600px) {
          padding-left: .5rem;
        }
      }
    }
  }

  thead {

    th {
      background-color: #e8eff5;
      padding: .7rem 0.5rem .85rem;
    }
  }

  tbody {

    td {
      padding: 0.25rem 8.5rem;
    }
  }

  @media (max-width: 600px) {
    tr {
      border-bottom: 1px solid #000 !important;
    }

    thead {
      display: block;

      tr {
        display: block;

        th {
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.no-sort {
  cursor: default !important;
}