@import "~assets/styles/base/base.scss";

.tab-section {
    overflow-y: auto;
    font-size: medium;

    a {
        text-decoration: underline !important;
    }
    a:hover {
        text-decoration: none;
    }

    >div {
        margin: 1em;
    }
    .badge {
        margin-top: 5px;
        background-color: #38598A;
        transition: all ease-in 0.2s;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    .badge-secondary{
        display: inline-flex;
        top: 20%;
    }
    .list-group-item {
        margin-bottom: 1rem;
        border: 1px #eee solid;
        border-radius: 5px;
        background-color: #f7f7f7;
        transition: all ease-in 0.2s;
        .comment__author {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: large;
            color: $primary;
        }
        .comment__date {
            padding-left: 0.25rem;
        }
        .comment__text {
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: small;
        }
        &:hover {
            background-color:#DDDDDD;
            .badge{
                background-color: #003366;
            }
            cursor: pointer;
        }
    }
}

.tab-section-text {
  a {
    color: $light-link-color;

    &:hover {
      text-decoration: none;
    }
  }
}


