@import "~assets/styles/base/base.scss";

.tab-section {
    overflow-y: auto;
    font-size: medium;

    a {
        text-decoration: underline !important;
    }
    a:hover {
        text-decoration: none;
    }
    .badge {
        margin-top: 5px;
        background-color: #595959;
        transition: all ease-in 0.2s;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    .badge-secondary{
        display: inline-flex;
        top: 20%;
    }
     .tab-section-text {
        margin-bottom: 2rem;
     }
    .list-group-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1px #d4d4d4 solid;
        border-radius: 5px;
        background-color: #f1f1f1;
        transition: all ease-in 0.2s;

        .engagement-tab-item-description {
                
            a {
                color: $light-link-color;

                &:hover {
                    text-decoration: none;
                }
            }

            .comment__author {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: large;
                color: $primary;
            }

            .comment__date {
                padding-left: 0.25rem;
            }

            .comment__text {
                margin-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: small;
            }
        }
        
        .engagement-tab-buttons {
            display: flex;          
            flex-wrap: nowrap;
            height: 80px;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-left: 1rem;
            height: 95px;

            button:hover {
                color: #fcba18;
                background-color: #212121;
            }
        }
    }
}

@media (max-width: 990px) {
    .list-group-item {
        flex-direction: column;

        .engagement-tab-buttons {
            justify-content: flex-start !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
            margin-bottom: 1rem;
            max-width: 100%;
            overflow: hidden;
        }
    }
}

@media (max-width: 450px) {
    .engagement-tab-buttons {
        flex-wrap: wrap !important;
        height: auto !important;
        margin-top: 1rem;
        gap: 0.5rem;
    }
}


