<div class="tab-pane" role="tabpanel">
    <div class="spinner-container" *ngIf="loading" >
        <div class="spinner-new rotating"></div>
    </div>

    <section class="tab-section" *ngIf="!loading">
        <div class="tab-section-text" *ngIf="currentProject.engagementInfo">
            <div class="mb-3" [innerHTML]="currentProject.engagementInfo | newlines"></div>
        </div>
        <div *ngIf="commentPeriods.length < 1">
            No comment periods are currently scheduled for this project.
        </div>

        <div *ngIf="commentPeriods.length > 0">
            <div class="d-flex justify-content-between list-group-item"
                 *ngFor="let commentPeriod of commentPeriods"
                 (click)=goToCP(commentPeriod)>
                <div *ngIf="commentPeriod.commentPeriodStatus">
                    <label class="title">{{commentPeriod.commentPeriodStatus}}</label>
                    <div class="commentInfo">{{commentPeriod.instructions}}</div>
                    <p class="mb-0">{{commentPeriod.dateStarted | date:'MMMM d'}} - {{commentPeriod.dateCompleted | date:'longDate'}}</p>
                </div>
                <div>
                    <button class="badge badge-secondary p-3" aria-label="View details and submit comments to this project's comment period.">View details</button>
                </div>
            </div>
        </div>
    </section>
</div>
