<div class="tab-pane" role="tabpanel">
    <div class="spinner-container" *ngIf="loading" >
        <div class="spinner-new rotating"></div>
    </div>

    <section class="tab-section" *ngIf="!loading">
        <div *ngIf="!project?.currentPeriod">
            No comment periods are currently scheduled for this project.
        </div>

        <div *ngIf="commentPeriods">
            <div class="d-flex justify-content-between list-group-item"
                 *ngFor="let commentPeriod of commentPeriods"
                 (click)=goToCP(commentPeriod)>
                <div>
                    <label class="title">{{commentPeriod.commentPeriodStatus || 'Unknown Comment Period Status'}}</label>
                    <p class="mb-0">{{commentPeriod.dateStarted | date:'mediumDate'}} - {{commentPeriod.dateCompleted | date:'mediumDate'}}</p>
                </div>
                <div *ngIf="commentPeriodService.isOpen(commentPeriod)">
                    <div class="badge badge-secondary p-3">{{commentPeriod.daysRemaining}}</div>
                </div>
            </div>
        </div>
    </section>
</div>