<div class="projects-view" [ngClass]="configService.isApplistListVisible ? 'app-list-open':'app-list-closed'">
  <h1 class="sr-only">Find Environmental Assessment Projects in British Columbia</h1>

  <app-projlist-filters class="app-filters" #appfilters
    [projects]="filterApps"
    (updateMatching)="updateMatching()">
  </app-projlist-filters>

  <div class="app-list-map-container">
    <div class="app-list-container">
      <app-projlist-list class="app-list" #applist
      [projects]="listApps"
      (setCurrentApp)="highlightProject($event, true)"
        (unsetCurrentApp)="highlightProject($event, false)">
      </app-projlist-list>
<!--       <button class="toggle-app-list-btn btn" title="Show/hide list of projects" type="button"
        (click)="toggleAppList();$event.stopPropagation();" aria-controls="applist-list">
        <i class="material-icons">{{configService.isApplistListVisible ? 'keyboard_arrow_left':'keyboard_arrow_right'}}</i>
      </button> -->
    </div>

    <div class="overlay" (click)="toggleAppList();$event.stopPropagation();"></div>

    <app-projlist-map class="app-map" #appmap
      [projects]="mapApps"
      [applist]="applist"
      [appfilters]="appfilters"
      (updateVisible)="updateVisible()"
      (reloadApps)="reloadApps()">
    </app-projlist-map>
  </div>

</div>
