<tr
  *ngFor="let comment of comments | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
  class="clickable-row">
  <td data-label="Comment" scope="row" class="col-12">
    <div class="d-flex w-100 justify-content-between">
      <div class="pb-3">
        <div *ngIf="comment.author && comment.Anonymous !== true">
          <b>
            <span>{{comment.author}}</span>
            <span *ngIf="comment.location">, {{comment.location}}</span>
          </b>
        </div>
        <div *ngIf="comment.author == null || comment.Anonymous">
          <b>
            <span>Anonymous</span>
          </b>
        </div>
      </div>
      <div>
        {{(comment.dateAdded | date:'longDate') || "-"}}
      </div>
    </div>
    <div class="pb-3" *ngIf="comment.documents.length > 0">
      <div class="attachment" *ngFor="let file of comment.documents" (click)="openAttachment(file)">
        <div *ngIf="file && file.internalOriginalName">
          <i class="material-icons">
            attach_file
          </i>{{file.internalOriginalName}}
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="comment.comment.length > 120">
        <p *ngIf="comment.expanded == true">
          {{comment.comment}}
        </p>
        <p *ngIf="comment.expanded == false">
          {{comment.comment.substr(0, 120)}} ...
        </p>
        <button class="clickable" (click)="toggle(comment)">{{comment.buttonName}}</button>
      </div>
      <p *ngIf="comment.comment.length <= 120">{{comment.comment}}</p>
    </div>
  </td>
</tr>