<tr
  *ngFor="let comment of comments | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }; let i = index"
  class="clickable-row">
  <td data-label="Comment" scope="row" class="col-12">
    <div class="d-flex w-100 justify-content-between">
      <div class="pb-3">
        <div *ngIf="comment.author && comment.Anonymous !== true">
          <b>
            <span>{{comment.author}}</span>
            <span *ngIf="comment.location">, {{comment.location}}</span>
          </b>
        </div>
        <div *ngIf="comment.author == null || comment.Anonymous">
          <b>
            <span>Anonymous</span>
          </b>
        </div>
      </div>
      <div>
        {{(comment.dateAdded | date:'longDate') || "-"}}
      </div>
    </div>
    <div class="pb-3" *ngIf="comment.documents.length > 0">
      <div class="attachment" *ngFor="let file of comment.documents" (click)="openAttachment(file)">
        <div *ngIf="file && file.internalOriginalName">
          <i class="material-icons">
            attach_file
          </i>{{file.internalOriginalName}}
        </div>
      </div>
    </div>
    <div class="comment-div">
      <p id="{{i}}" class="comment">{{comment.comment}}</p>
    </div>
    <div id="read-button-{{i}}" class="clickable" (click)="comment.comment && toggleShowMore(i)">Read More &nbsp;
      &rsaquo;</div>
  </td>
</tr>