<div class="flex-panel" *ngIf="!isAppLoading && !application">
  <div class="flex-panel__header">
    <h2 class="title">No application selected</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="isAppLoading">
  <div class="flex-panel__header">
    <h2 class="title">Loading application details...</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="!isAppLoading && application !== null">
  <div class="flex-panel__header">
    <h2 class="title">Crown Land File: &nbsp; #{{(application && application['clFile']) || '-'}}</h2>
  </div>
  <div class="flex-panel__header title-panel">
    <div class="applicant-name">{{application?.client | titlecase}}</div>
    <div class="application-purpose">{{application?.purpose | titlecase}} - {{application?.subpurpose | titlecase}}</div>
    <ul class="status-container">
      <li class="app-status" 
        *ngVar="applicationService.getStatusCode(application?.status) as appStatusCode"
        [ngClass]="{
          'abandoned':        applicationService.isAbandoned(appStatusCode),
          'under-review':     applicationService.isApplicationUnderReview(appStatusCode),
          'review-complete':  applicationService.isApplicationReviewComplete(appStatusCode),
          'approved':         applicationService.isDecisionApproved(appStatusCode),
          'not-approved':     applicationService.isDecisionNotApproved(appStatusCode),
          'unknown':          applicationService.isUnknown(appStatusCode)
        }">{{application?.appStatus}}
      </li>
      <li class="commenting-status" 
        [ngClass]="commentPeriodService.isOpen(application.cpStatusCode) ? 'commenting-open':'commenting-closed'">
        {{commentPeriodService.getStatusString(application.cpStatusCode)}}
      </li>
    </ul>
  </div>
  <div class="flex-panel__scroll">
    <div class="app-details-info">
      <section class="commenting-info-container">
        <div *ngIf="commentPeriodService.isOpen(application.cpStatusCode)">
          <div *ngVar="application.currentPeriod['daysRemaining'] as daysRemaining">
            This application is currently accepting comments for the next
            <strong>{{daysRemaining === 1 ? daysRemaining + " day" : daysRemaining + " days"}}</strong>
            (closing on {{application.currentPeriod.endDate | date:'mediumDate'}}).
          </div>
          <button class="btn btn-primary" (click)="addComment()">Submit a Comment</button>
        </div>
        <div *ngIf="!commentPeriodService.isOpen(application.cpStatusCode)">
          Commenting is closed for this application. Comments for this application were accepted from <strong>{{application.currentPeriod.startDate | date:'mediumDate'}} to {{application.currentPeriod.endDate | date:'mediumDate'}}</strong>.
        </div>
      </section>
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            Application Details
          </ng-template>
          <ng-template ngbTabContent>
            <section>
              <h3>About this application</h3>
              <p class="description">{{application?.description || "No description available"}}</p>
              <ul class="meta-container">
                <li>
                  <div class="key">Application Status:</div>
                  <div class="value">{{application?.appStatus}}</div>
                </li>
                <li>
                  <div class="key">Applicant Name:</div>
                  <div class="value">{{application?.client | titlecase}}</div>
                </li>
                <li>
                  <div class="key">Disposition Transaction:</div>
                  <div class="value">{{application?.tantalisID || '-'}}</div>
                </li>
                <li>
                  <div class="key">Tenure:</div>
                  <div class="value">{{application?.type | titlecase}} / {{application?.subtype | titlecase}}</div>
                </li>
                <li>
                  <div class="key">Purpose/Subpurpose:</div>
                  <div class="value">{{application?.purpose | lowercase}} / {{application?.subpurpose | lowercase}}</div>
                </li>
                <li>
                  <div class="key">Location:</div>
                  <div class="value">{{application?.location | lowercase}}</div>
                </li>
              </ul>
            </section>

            <section>
              <h3>Application Documents</h3>
              <div *ngIf="application.documents.length === 0">
                No documents available
              </div>
              <ul class="document-list" *ngIf="application.documents.length > 0">
                <li *ngFor="let document of application.documents">
                  <a [href]="api.getDocumentUrl(document)" [title]="document.displayName || ''" target="_blank">
                    <i class="material-icons md-18">
                      insert_drive_file
                    </i>
                    <span>{{document.documentFileName}}</span>
                  </a>
                </li>
              </ul>
            </section>

            <section>
              <h3>Decision Information</h3>
              <!-- NB: decision object and decision status are independent -->
              <div *ngIf="application.decision">
                <ul class="document-list">
                  <div *ngIf="application.decision.documents.length === 0">
                    No documents available
                  </div>
                  <li *ngFor="let document of application.decision.documents">
                    <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">
                      <i class="material-icons md-18">
                        insert_drive_file
                      </i>
                      <span>{{document.documentFileName}}</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div *ngIf="!application.decision">
                <div *ngIf="applicationService.isAbandoned(application.status)
                || applicationService.isDecisionApproved(application.status)
                || applicationService.isDecisionNotApproved(application.status); else notDecisionStatus">
                  No decision documents are available at this time. Please check back for updates to this information.
                </div>
                <ng-template #notDecisionStatus>
                  No decisions have been made for this application at this time.
                </ng-template>
              </div>
            </section>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            Shape Information
          </ng-template>
          <ng-template ngbTabContent>
            <section>
              <!--
              <p *ngIf="application?.features">This application has <strong>{{application.features.length}}</strong> {{application.features.length === 1 ? 'shape.' : 'shapes.'}}</p>
              -->
              <ul class="shapefile-list">
                <li *ngFor="let feature of application?.features">
                  <div class="shapefile-list__id">Shape ID: {{feature.properties.INTRID_SID}}</div>
                  <div>Type/Subtype: {{application.type || '-'}} / {{application.subtype || '-'}}</div>
                  <div>Area (ha): {{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</div>
                  <div>Legal Description: <span [innerHTML]="(feature.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></span></div>
                </li>
              </ul>
            </section>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>