<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1>Compliance Oversight</h1>
          <p>Learn about how we collaborate with other government agencies to coordinate oversight of projects that have successfully completed an environmental assessment.</p>
        </div>
      </div>
    </div>
  </div>
  
  <section class="activities-section">
    <div class="container" id="anchor-point">
      <main>
        <section class="mb-0">
          <p>The Environmental Assessment Office's work doesn’t end when a project receives an environmental assessment certificate. Compliance and enforcement is an important part of the environmental assessment process, and helps ensure operators are following the conditions designed to minimize effects from a project on environmental, heritage, health, social and economic values and Aboriginal Interests.</p>
          <p>The Environmental Assessment Office works with other provincial government agencies to oversee projects that have successfully completed an environmental assessment.</p>
          <p>More information about the environmental assessment office's compliance and enforcement policies and procedures is available at:</p>
          <ul class="mb-0">
            <li>
              <a href="https://www2.gov.bc.ca/assets/gov/environment/natural-resource-stewardship/environmental-assessments/guidance-documents/eao-compliance-policy-and-procedure.pdf" target="_blank">EAO Compliance and Enforcement Policy and Procedures</a>
            </li>
            <li>
              <a href="https://www2.gov.bc.ca/assets/gov/environment/natural-resource-stewardship/environmental-assessments/compliance-and-enforcement/eao-guide-to-compliance-self-reports.pdf" target="_blank">Certificate Holder’s Guide to Compliance Self Reports</a>
            </li>
            <li>
              <a href="https://www2.gov.bc.ca/assets/gov/environment/natural-resource-stewardship/environmental-assessments/compliance-and-enforcement/eao-investigative-use-for-major-projects.pdf" target="_blank">Investigative Use Policy</a>
            </li>
          </ul>
        </section>
      </main>
    </div>
  </section>