@import "~assets/styles/base/base.scss";

:host {
  display: block;
  background: $bg-default;
}

#anchor-point {
  padding: 2.5rem 1.5rem;
  display: flex;
  min-height: 26rem; // avoid jarring add/remove of scroll bar

  .block-container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }

    // Contact Blocks
    .block {
      text-align: center;
      font-size: 0.9375rem;
      vertical-align: bottom;
      width: 30%;

      @media (max-width: 1200px) {
        width: 45%;
      }

      @media (max-width: 775px) {
        width: 100%;
      }

      .inner-block {
        padding: 2.5rem 1.5rem;
        background: #f1f1f1;
        border-radius: 5px;
        border: 1px #d4d4d4 solid;
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
      }

      h2 {
        font-size: 1rem;
        font-weight: 700;
      }

      p {
        margin-bottom: 1rem;
        line-height: 1.25rem;
      }

      a {
        display: inline-block;
        font-weight: normal;
        width:100%;
        text-decoration: underline;
        color: #007bff;
      }

      a:hover {
        text-decoration: none;
      }

      strong {
        font-weight: 600;
        color: #007bff;
      }

      .icon-container {
        margin-bottom: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 4px solid $primary;
        font-size: 32px;

        i {
          color: $primary;
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}

.hero-banner__content {
  a {
    color: #fff;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
