<div class="hero-banner">
  <div class="hero-banner__container">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1 tabindex="-1">Contact Us</h1>
          <p>This website aims to improve transparency of the land use planning process, and to provide citizens and stakeholders
          with access to project data and information. If you are interested in providing us with feedback about your experience
          using this website, please feel free to  <a class="hero-link" href="mailto:landuseplanning@gov.bc.ca">send us your feedback <i  aria-hidden="true" class="material-icons">email</i></a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container" id="anchor-point">
  <div class="block-container">
    <div class="block">
      <div class="inner-block">
        <span class="icon-container">
          <i aria-hidden="true" class="material-icons">
            email
          </i>
        </span>
        <h2>Contact the Land Use Planning Team</h2>
        <p>For more information or questions email: <a class="paragraph-link" href="mailto:landuseplanning@gov.bc.ca">landuseplanning@gov.bc.ca <i  aria-hidden="true" class="material-icons">email</i></a></p>
      </div>
    </div>
    <div class="block">
      <div class="inner-block">
        <span class="icon-container">
          <i aria-hidden="true" class="material-icons">
            web
          </i>
        </span>
        <h2>Learn more about provincial land use planning</h2>
        <p>Find more information about <a class="paragraph-link" href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/land-use-planning">Land Use Planning for Provincial Public Land</a>.</p>
      </div>
    </div>
    <div class="block">
      <div class="inner-block">
        <span class="icon-container">
          <i  aria-hidden="true" class="material-icons">
            web
          </i>
        </span>
        <h2>Explore more provincial engagements</h2>
        <p>Visit <a class="paragraph-link" href="https://engage.gov.bc.ca/govtogetherbc/">GovtogetherBC</a> to learn more about engagement opportunities in B.C.</p>
      </div>
    </div>
  </div>
</section>
