@import "~assets/styles/base/base.scss";

:host {
  @include flex(1 1 auto);

  display: block;
  background: $bg-default;
}

.block-container {
  @include clearfix();

  margin: -0.75rem;
}

// Contact Blocks
.block {
  padding: 0.75rem;
  text-align: center;
  font-size: 0.9375rem;
  vertical-align: bottom;

  .inner-block {
    padding: 2rem;
    border-radius: 0.4rem;
    background: #f7f8fa;
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }

  a {
    display: inline-block;
    font-weight: 600;
  }

  strong {
    font-weight: 600;
    color: #007bff;
  }

  .icon-container {
    margin-bottom: 1rem;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 0.25rem;
    border-radius: 30px;
    border: 4px solid #007bff;
    text-align: center;
    font-size: 32px !important;

    i {
      color: #007bff;
      font-size: 32px;
    }
  }
}

@media (min-width: 1024px) {
  .block {
    width: 33.333%;
    float: left;

    .inner-block {
      padding: 2rem;
      border-radius: 0.4rem;
      background: #f7f8fa;
      height: 17rem;
    }
  }
}

.material-icons {
  line-height: 32px !important;
}
