<div class="anchor-point">
    <div class="contact-us container">
        <div class="row">
            <main class="col-lg-8">
                <h1 id="pgTitle">Connect With Us</h1>
                <p class="mb-3">Public Review and Comment is continuously evolving. More information and features will be added to the website
                    on an ongoing basis. We are always looking for feedback.</p>
                <p> To share your feedback, email us at
                    <a href="mailto:NRTS.PRC@gov.bc.ca">NRTS.PRC@gov.bc.ca</a>.</p>
            </main>
            <aside class="col-lg-4">
                <div class="feature-block fast-fact">
                    <h4 class="card-header">External Links &amp; Resources</h4>
                    <ul class="nv-list">
                        <li>
                            <a href="https://arfd.gov.bc.ca" target="_blank">Applications and Reasons for Decisions</a>
                        </li>
                        <li>
                            <a href="http://portal.nrs.gov.bc.ca" target="_blank">Natural Resource Sector Online Services</a>
                        </li>
                        <li>
                            <a href="https://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/natural-resource-use/land-water-use/crown-land/ap_applications.pdf"
                                target="_blank">Allocation Procedures - Applications</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<!-- <div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Thank you for your Feedback!</h2>
                <p>Your feedback has been sent.</p>
                <div>
                    <button class="ok-btn btn submit-btn" type="button" ng-click="userConfirmed()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->