@import "~assets/styles/base.scss";

:host {
  @include flex(1 1 auto);
  display: block;
  background-position: center -8rem;
  background-size: 250%;
  background-image: url("~assets/images/map.jpg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) and
       (orientation: portrait) {
  :host {
      background-size: 200%;
      background-position: center -15rem;
  }
}

@media (min-width: 1024px) {
  :host {
      background-position: center -20rem;
      background-size: 170%;
  }
}

@media (min-width: 1200px) {
  :host {
      background-position: center -25rem;
      background-size: 170%;
  }
}

@media (min-width: 1200px) and
       (min-height: 900px) {
  :host {
      background-position: center -25rem;
      background-size: 125%;
  }
}

// CONTACT TITLE CONTAINER
.contact-title-container {
  .container {
    padding-top: 2rem;
    padding-bottom: 0;
  }

  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .contact-title-container {
    padding-top: 4rem;

    h1 {
      font-size: 2.8rem;
    }
  }
} 

@media (min-width: 1200px) {
  .contact-title-container {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  section {
    padding-top: 2rem;
  }
}

aside {
  margin-top: 1rem;
  font-size: medium;

  .feature-block {
    min-height: 14rem;
    padding: 1.5rem 2rem 2rem 1.5rem;
    text-align: left;
    box-shadow: 0.2rem 0.2rem 0.4rem #999;
  }

  ul {
    padding-left: 1.25rem;
  }
}

@media (min-width: 768px) {
  aside {
    margin-top: 0.5rem;
  }
}