<div class="modal-header">
  <h4 class="modal-title">Purpose/Sub-purpose Information</h4>
  <button class="btn btn-icon close-btn gtm-submit-comment_cancel-pg1" type="button" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="material-icons">
      close
    </i>
  </button>
</div>

<div class="modal-body">
  <p>These purposes include the following sub-purposes:</p>
  <ul class="purpose-list">
    <li class="purpose-list__item" *ngFor="let purpose of constants.purposes">
      {{purpose | titlecase}}
      <ul class="subpurpose-list">
        <li class="subpurpose-list__item" *ngFor="let subpurpose of constants.subpurposes[purpose].sort()">
          {{subpurpose | titlecase}}
        </li>
      </ul>
    </li>
  </ul>
</div>