.modal-dialog {
    .modal-header {
        background-color: #f1f1f1;
        button {
            cursor: pointer;
        }
        .comment-author {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: larger;
            color: #003366;
        }
    }
    .modal-body {
        p {
            font-size: smaller;
            line-height: 1.25rem;
        }
        a {
            display: inline-flex;
        }
    }
    .modal-footer {
        background-color: #f1f1f1;
        button {
            cursor: pointer;
        }
    }
}