.modal-dialog {
    .modal-header {
        button {
            cursor: pointer;
        }
    }
    .modal-body {
        p {
            font-size: smaller;
            line-height: 1.25rem;
        }
    }
    .modal-footer {
        button {
            cursor: pointer;
        }
    }
}