<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header" *ngIf="!comment">
      <em>Error displaying comment.</em>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-header" *ngIf="comment">
      <div>
        <div class="comment-author">
          <div *ngIf="comment.commentAuthor && comment.commentAuthor.tags; else anonymous">
            {{comment.commentAuthor.contactName}}
            <span *ngIf="comment.commentAuthor.orgName">({{comment.commentAuthor.orgName}})</span>
            <span *ngIf="comment.commentAuthor.location">, {{comment.commentAuthor.location}}</span>
          </div>
          <ng-template #anonymous>
            <em>Anonymous</em>
          </ng-template>
        </div>
        <div>
          {{(comment.dateAdded | date:'longDate') || '-'}}
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" *ngIf="comment">
      <div class="row">
        <div class="col-12">
          <p [innerHTML]="comment.comment | newlines"></p>
        </div>
      </div>

      <div>
        <div *ngIf="comment.documents.length == 0">
          <em>This comment has no documents.</em>
        </div>

        <div class="row" *ngIf="comment.documents.length > 0">
          <div class="col-md-6" *ngFor="let document of application.documents">
            <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">{{document.documentFileName}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer" *ngIf="comment">
      <button class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>
</div>