<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header" *ngIf="!comment">
      <em>Error displaying comment.</em>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-header" *ngIf="comment">
      <div class="comment-detail__author">
        <ul>
          <li class="badge badge-warning" *ngIf="comment.commentAuthor.requestedAnonymous">Requested Anonymous</li>
          <li class="value">
            <strong>{{comment.commentAuthor.contactName}}</strong>
          </li>
          <li class="value" *ngIf="comment.commentAuthor.orgName">{{comment.commentAuthor.orgName}}</li>
          <li class="value">{{comment.commentAuthor.location}}</li>
          <li class="value">{{comment.dateAdded | date:'fullDate'}}</li>
        </ul>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" *ngIf="comment">
      <div class="row">
        <div class="col-12 comment-detail__comment">
          <p [innerHTML]="comment.comment | newlines"></p>
        </div>
      </div>

      <div>
        <div class="row" *ngIf="comment.documents && comment.documents.length > 0">
          <div class="col-md-6" *ngFor="let document of application.documents">
            <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">{{document.documentFileName}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer" *ngIf="comment">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>
</div>