<div class="tab-pane" id="docs" role="tabpanel">
    <section class="tab-section" *ngIf="application">
        <div>
            <h4>Application Documents</h4>
            <div class="row" *ngIf="!application.documents || application.documents.length == 0">
                <em>No documents have been uploaded for this application.</em>
            </div>
            <div class="row" *ngIf="application.documents && application.documents.length > 0">
                <div class="col-md-6" *ngFor="let document of application.documents">
                    <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">{{document.documentFileName}}</a>
                </div>
            </div>
        </div>

        <div *ngIf="false">
            <!-- TODO: move this to tombstone (left) side -->
            <!-- date that application is published to PRC by staff -->
            <h4>Date Posted</h4>
            <p>{{application.projectDate | date: 'longDate'}}</p>
        </div>

        <div>
            <h4>Business Unit</h4>
            <p>{{application.businessUnit || '-'}}</p>
        </div>

        <div>
            <h4>Legal Description</h4>
            <p>{{application.legalDescription}}</p>
        </div>
    </section>
</div>