@import "~assets/styles/base.scss";
.tab-section {
    // max-height: 74vh;
    overflow-y: auto;
    >div {
        margin: 1em;
    }
    .title {
        font-size: larger;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    a {
        display: inline-flex;
    }
    p {
        margin-bottom: 0;
    }
}