@import "~assets/styles/base.scss";
.tab-section {
    >div {
        margin: 1em;
    }
    h4 {
        margin-bottom: 0;
        color: $primary;
    }
    a {
        display: inline-flex;
    }
    p {
        margin-bottom: 0;
    }
}