@import "~assets/styles/base.scss";
.tab-section {
    // max-height: 74vh;
    overflow-y: auto;
    >div {
        margin: 1em;
    }
    .decision-date {
        width: fit-content;
        border: 1px #f2e9bf solid;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: $primary;
        background-color: #fffae7;
    }
    .title {
        font-size: larger;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    a {
        display: inline-flex;
    }
}