<div class="tab-pane" id="decisions" role="tabpanel">
    <div class="spinner-container" *ngIf="loading" [@visibility]>
        <div class="spinner-new rotating"></div>
    </div>

    <section class="tab-section" *ngIf="!loading">
        <div *ngIf="isUndefined(application)">
            <em>Error loading application.</em>
        </div>

        <div *ngIf="application && !application.decision">
            <em>No decisions have been made for this application at this time.</em>
        </div>

        <div *ngIf="application?.decision?.decisionDate" class="decision-date">
            Decision Date: {{application.decision.decisionDate | date:'longDate'}}
        </div>

        <div *ngIf="application?.decision?.description">
            <p class="title">Decision Description</p>
            <p [innerHTML]="application.decision.description | newlines"></p>
        </div>

        <div *ngIf="application?.decision">
            <p class="title">Decision Documents</p>
            <div *ngIf="application.decision.documents.length === 0">
                <em>No documents have been uploaded for this decision.</em>
            </div>
            <div class="row">
                <div class="col-12" *ngFor="let document of application.decision.documents">
                    <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">
                        <i class="material-icons">attachment</i>&nbsp;{{document.documentFileName}}
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>