.static-content {
  background: #fff;
  padding: 0 1.5rem;

  #anchor-point.container {
    margin: 0 auto;
    padding: 0;

    main {
      padding: 2.5rem 0;

      section {
        padding: 0;
      }
    }
  }
}
