<div class="hero-banner hb-sm">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <h1>Public Engagement</h1>
        <p>Public and stakeholder engagement is fundamental to land use planning to ensure regional social, economic,
        and environmental issues are identified in all active planning areas.</p>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section>
        <p>The Province is committed to transparent and inclusive engagement with the public and regional stakeholders on land use
        planning projects in British Columbia. Public and stakeholder engagement is necessary to identify and understanding
        regional interests, values, and challenges. Engagement will be led by technical land use planning teams and be carried
        out at key milestones of land use planning processes (e.g. project scoping, draft land use plan, etc.). Engagement may
        include scheduled meetings with organizations and associations, public open houses, and online feedback forms available
        through this site.</p>
      </section>
      <section>
        <p>In a land use planning process, stakeholders may include, but are not limited to, the following groups:</p>
        <ul>
          <li>local governments (municipalities and regional districts)</li>
          <li>forestry, mining, and oil and gas interests</li>
          <li>conservation and environmental protection advocates</li>
          <li>individual tourism operators and tourism associations</li>
          <li>commercial fishing industry, aquaculture</li>
          <li>hunters and trappers</li>
          <li>farmers and ranchers</li>
          <li>recreational groups and associations</li>
          <li>other special interest groups</li>
        </ul>
      </section>
    </main>
  </div>
</section>