<div class="hero-banner hb-sm">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <h1>Program and Project Engagement</h1>
        <p>The B.C. government is dedicated to transparency in managing stewardship responsibilities. Engagement with Indigenous
        governments, stakeholders, and communities ensures the values and interests of the citizens of the province are
        identified and understood.</p>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section>
        <p>Engagement with Indigenous governments and organizations, local governments, key stakeholder organizations, and the
        public is foundational to modernizing land use planning. The approach is strategically organized into two streams:
        program engagement and project engagement.</p>
      </section>
      <section>
        <h2>Program Engagement</h2>
        <p>The B.C. government is working collaboratively with Indigenous governments throughout the province to outline a
          shared understanding of a modern approach to land use planning in British Columbia.</p>
        <p>In September 2018, the B.C. government hosted a two-day workshop with Indigenous representatives from some recent
           collaborative planning initiatives to identify best practices and lessons learned from resource planning partnerships.
           Read the <a class="paragraph-link" href="https://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/natural-resource-use/land-water-use/crown-land/land-use-plans-and-objectives/reports-publications/resource_planning_partnerships_workshop_summary_20oct2018.pdf">Summary Report</a>
        to learn more. Through 2019-20, Provincial representatives have been engaging Indigenous representatives across B.C. to
        inform the design, development and implementation of a modern approach to land use planning and of ways of working together.
        Engagement has focused on foundational questions and open conversations around topics such as principles, potential benefits,
        approaches and expectations around planning in partnership. A provincewide What We Heard report will be published in spring 2020.</p>
        <p>The B.C. government is also engaging with key provincial stakeholder organizations throughout the development of the
          program to share updates and seek feedback and input. Provincial representatives are seeking clarification from organizations
          on their preferred level of involvement as the program continues to be developed.</p>
      </section>
      <section>
        <h2>Project Engagement</h2>
        <p>Project engagement will be an ongoing process throughout the duration of all planning projects, carried out with local
        government, Indigenous and non-Indigenous communities, stakeholders, and the public to ensure local interests, values,
        and challenges are identified and understood. Engagement will be led by project planning teams at an appropriate
        frequency based on the project phase and issues of interest. Engagement will be guided by project-specific engagement
        strategies developed by project planning teams and may include scheduled meetings and phone/email communication.</p>
        <p>In addition to ongoing engagement, public comment periods will also be led by project planning teams to collect targeted
        information at key project milestones (e.g., project scoping, project terms of reference development, draft land use
        plan, etc.). Comment periods will be open for a defined period determined by the project planning team. Opportunities
        may include a range of tools, including, but not limited to, workshops, public open houses, and online feedback forms
        available through this site. Additional ways to participate in land use planning projects are identified on the
        Engagement tab for each project.</p>
        <p>In a land use planning process, stakeholders may include, but are not limited to:</p>
        <ul>
          <li>local governments (municipalities and regional districts)</li>
          <li>forestry, mining, and oil and gas interests</li>
          <li>conservation and environmental protection advocates</li>
          <li>individual tourism operators and tourism associations</li>
          <li>commercial fishing industry, aquaculture</li>
          <li>hunters and trappers</li>
          <li>farmers and ranchers</li>
          <li>recreational groups and associations</li>
          <li>other special interest groups</li>
        </ul>
      </section>
    </main>
  </div>
</section>
