<div class="hero-banner hb-sm">
  <div class="hero-banner__container">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1 tabindex="-1">Water Planning</h1>
          <p>
            The B.C. government is committed to working in partnership with Indigenous governments
             and in collaboration with communities, local governments, industry, and other
             stakeholders to resolve watershed-specific challenges. The
             <span style="font-style: italic">Water Sustainability
              Act</span> has several area-based tools that can support watershed planning, regional
               water management, and watershed governance.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section>
        <p>
          Planning for water use can improve the health of people, plants and animals in B.C.
          and can influence our economy, energy production, recreation, and irrigation.
        </p>
        <p>
          The
            <a style="font-style: italic "href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/14015">
              Water Sustainability Act
            </a>
            (WSA) significantly reformed water management when it came into effect in 2016. It introduced groundwater
            licensing and new area-based tools, such as Water Sustainability Plans and WSA Objectives,
            to support watershed planning, regional water management and watershed governance.
        </p>
        <p>
          In addition to the WSA, other initiatives use water plans to protect
          aquatic ecosystems when developing communities and allocating water for use
          in agriculture, industry and energy production.
        </p>
        <p>
          Working together, we can protect water sources, manage water demands, modernize water
          systems and infrastructure, and live “water smart”.
        </p>
        <h2>Water Objectives</h2>
        <p>
          WSA Objectives are enabled under 
          <a href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/14015#division_d0e7090">
            WSA s.43
          </a>
          . They are area-based planning tools that can promote positive outcomes for water
          and communities across a range of land and water planning and decision processes.
          They can be established to sustain water quality and quantity for specified uses of
          water and to sustain aquatic ecosystems. WSA Objectives would be considered by
          decision-makers for a variety of decisions and statutes.
        </p>
        <h2>Water Sustainability Plans</h2>
        <p>
          Water Sustainability Plans are enabled under 
          <a href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/14015#division_d0e10157">
            WSA s.64-85
          </a>
          . They are initiated by ministerial order and can provide for extensive changes in how
           a watershed is managed. A planning area can include both public and private land.
        </p>
        <p>
          Water Sustainability Plans can be developed to address conflicts between water users,
          the needs of users and environmental flow needs, risks to water quality or to
          aquatic ecosystem health, or identify restoration measures for a damaged aquatic
           ecosystem. Both WSA Objectives and Water Sustainability Plans enable a
           “whole of watershed” management approach.
        </p>
        <p>
          Water Sustainability Plans can include regulations that apply to all of part of
           the water plan area. These plan regulations are described in
            <a href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/14015#section76">
              WSA ss. 76-85
            </a>
          .
        </p>
      </section>
    </main>
  </div>
</section>
