<div class="app-list__container" id="applist-list"
  name="List of EAO Projects, limited by filters and bound by map view">

  <div class="app-list__body">

    <!-- Initial Loading Indicator -->
    <div class="spinner-container" *ngIf="loading && loadedApps().length === 0">
      <div class="spinner spinner-sm rotating"></div>
      <span class="spinner__msg">Loading projects...</span>
    </div>

    <!-- No Results -->
    <div class="no-results" *ngIf="!loading && loadedApps().length === 0">
      <strong>No projects found</strong>
    </div>

  </div>

  <div class="app-list__options" *ngVar="appsWithShapes().length as numResults">
    <div class="text-right mb-1">
      {{numResults > 0 ? numResults + ' results on map' : 'No results'}}
    </div>
  </div>

</div>
