<div class="hero-banner">
  <div class="container">
    <div class="container__inner-container">
      <div class="hero-banner__content">
        <h1 id="pgTitle">Find Crown Lands Application information in British Columbia</h1>
        <p class="mb-2">The Applications and Reasons for Decision website (ARFD) was introduced in 2002 as a means to post Crown Lands Application
          information for public view, as per Section 32(2) of the Land Act, and to support Government's mandate to be transparent
          in making decisions related to Crown Lands Applications.</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="anchor-point">
  <main>
    <section>
      <h2>Crown Lands Applications in British Columbia</h2>
      <p class="tab-intro">Recent Projects:</p>

      <table class="table project-table" id="tableTop">
        <thead class="project-table__sort-header">
          <tr>
            <th class="project-table__name-col sortable" (click)="sort('name')">Name
              <i class="sort"
                [ngClass]="{'sort-asc': (column == 'name' && isDesc), 'sort-desc': (column == 'name' && !isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th class="project-table__operator-col sortable" (click)="sort('operator')">Operator
              <i class="sort"
                [ngClass]="{'sort-asc': (column == 'operator' && isDesc), 'sort-desc': (column == 'operator' && !isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th class="project-table__type-col sortable" (click)="sort('type')">Type
              <i class="sort"
                [ngClass]="{'sort-asc': (column == 'type' && isDesc), 'sort-desc': (column == 'type' && !isDesc) }"
                aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
        <tbody class="project-table__content">
          <tr *ngFor="let item of projects | orderBy: {property: column, direction: direction} | paginate: config">
            <td class="accordion__collapse-item p-0" colspan="3">
              <div class="accordion__collapse-header" id="accordHead" role="tab">
                <a class="accordion__collapse-header--column toggle collapsed" data-toggle="collapse" href="#accordCollapse{{item.code}}">
                  <i class="material-icons open-icon">add</i>
                  <i class="material-icons close-icon">remove</i>
                </a>
                <span class="accordion__collapse-header--column">
                  <a [routerLink]="['/p', item.code]">{{item.name}}</a></span>
                <span class="accordion__collapse-header--column project-table__operator-col">{{item.operator}}</span>
                <span class="accordion__collapse-header--column project-table__type-col" >{{item.type}}</span>
              </div>
              <div class="collapse" id="accordCollapse{{item.code}}" role="tabpanel">
                <div class="accordion__collapse-body">
                  <div class="project-table__project-details">
                    <div class="project-table__project-details--description pt-0" [innerHTML]="item.description"></div>
                    <ul class="project-table__project-details--list list-group">
                      <li class="list-group-item p-0">
                        <span class="name">Ownership:</span>
                        <span *ngFor="let org of item.ownershipData | orderBy : {property: 'sharePercent', direction: -1}">
                          <label class="name">{{org.sharePercent}}% - {{org.organization.name}}</label>
                        </span>
                      </li>
                      <li  class="list-group-item p-0">
                        <span class="name">Commodities:</span>
                        <span class="value">{{item.commodities ? item.commodities.join(', ') : ''}}</span>
                      </li>
                      <li  class="list-group-item p-0">
                        <span class="name">Number of Tailings Impoundments:</span>
                        <span class="value">{{item.tailingsImpoundments}}</span>
                      </li>
                    </ul>
                    <div class="project-table__project-details--links">
                      <a class="btn content-btn slide-l-btn btn-sm" [routerLink]="['/p', item.code]"><i class="material-icons">info_outline</i><span>Go to Mine Details</span></a>
                      <a class="btn content-btn slide-l-btn btn-sm" href="/map" [routerLink]="['/map', { project: item.code }]"><i class="material-icons">location_on</i><span>Show on Map</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </section>
  </main>
</div>
