<div class="applist-map" [ngClass]="configService.isApplistListVisible ? 'app-list-open':'app-list-closed'">

    <!-- Application Filters Component -->
    <app-applist-filters class="app-filters" #appfilters
      [allApps]="allApps" 
      (updateMatching)="onUpdateMatching($event)">
    </app-applist-filters>
  
    <!-- Main Stuff -->
    <div class="list-map-container">
      
      <div class="list-container">
        
        <!-- Application List Component -->
        <app-applist-list class="app-list" #applist
          [allApps]="allApps" 
          (setCurrentApp)="highlightApplication($event, true)" 
          (unsetCurrentApp)="highlightApplication($event, false)"
          (updateResultsChange)="onUpdateResultsChange()">
        </app-applist-list>
  
        <!-- List Container Toggle -->
        <button class="toggle-list-btn btn" title="Show/hide list of applications" type="button" 
          (click)="toggleAppList();$event.stopPropagation();" aria-controls="applist-list">
          <i class="material-icons">{{configService.isApplistListVisible ? 'keyboard_arrow_left':'keyboard_arrow_right'}}</i>
        </button>
  
      </div>
  
      <div class="map-container">
        <div id="map" name="Map of BC that displays Crown Land applications"></div>
      </div>
  
      <div class="overlay" (click)="toggleAppList();$event.stopPropagation();"></div>
    </div>
  
  </div>