@import "~assets/styles/base/base.scss";

$toggle-list-anim-duration: 0.2s;

.map-container {
  //@include flex(1 1 auto);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  #map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $map-bg;
    transition: left ease-out $toggle-list-anim-duration;

    .leaflet-popup-content-wrapper {
      border-radius: 4px;
    }
  }
}

// Map Popup
::ng-deep {
  .leaflet-container {
    a.leaflet-popup-close-button {
      top: 0.5rem;
      right: 0.5rem;
      padding: 0.35rem 0;
      width: 2rem;
      height: 2rem;
      color: #fff;
      font-size: 1.5rem;
      font-weight: normal;
      opacity: 0.5;

      &:hover,
      &:focus {
        color: #fff;
        opacity: 1;
      }
    }
  }
  
  .leaflet-popup-content-wrapper {
    padding: 0;
    border-radius: 0.2rem;
  }

  .leaflet-popup-content {
    width: 20rem !important;
    margin: 0;
  }

  .leaflet-popup-close-button {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  ::ng-deep {
    .leaflet-popup-content {
      width: 24rem !important;
    }
  }
}