@import "~assets/styles/base/base.scss";

.tab-section {
    overflow-y: auto;
    font-size: medium;
    >div {
        margin: 1em;
    }
    .card {
        margin: 0;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        margin-bottom: 5px;
    }
    .list-group-item {
        margin-bottom: 1rem;
        border: 1px #eee solid;
        border-radius: 5px;
        background-color: #f7f7f7;
        &:nth-child(odd) {
            // border: #f0f0f0 2px solid;
            // background-color: #f7f8fa; // #f0f0f0;
        }
        &:nth-child(even) {
            // border: #e7e7e7 2px solid;
            // background-color: #f4f4f4; // #e7e7e7;
        }
        .comment__author {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: large;
            color: $primary;
        }
        .comment__date {
            padding-left: 0.25rem;
        }
        .comment__text {
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: small;
        }
    }
}