<div class="authorizations tab-pane" id="authorizations" role="tabpanel">
  <p class="tab-intro">
    <span [innerHTML]="project?.getContent('Auth', 'Intro')"></span>
    <span>Learn more about Authorizations <a routerLink="/authorizations">here</a>.</span>
  </p>

  <section class="auth-section" *ngIf="collections.eao.length > 0">
    <h3>Environmental Assessment Act <span>Environmental Assessment Office</span></h3>
    <div class="accordion authorizations-list" id="authorization-EAO" role="tablist" aria-multiselectable="false">
      <div class="accordion__collapse-item" *ngFor="let c of collections.eao.items">
        <div class="accordion__collapse-header" role="tab" id="heading-{{c._id}}">
          <a class="accordion__collapse-header--column toggle collapsed" data-ng-if="c.documents" data-toggle="collapse" href="#collapse-{{c._id}}"
            aria-expanded="true" aria-controls="collapseOne">
            <i class="material-icons open-icon">add</i>
            <i class="material-icons close-icon">remove</i>
          </a>
          <span class="accordion__collapse-header--column authorizations-list__name-col">{{c.displayName}}</span>
          <span class="accordion__collapse-header--column authorizations-list__date-col">
            <span>Certificate {{c.status}}</span> -
            <span>{{c.date | date:'yyyy-MM-dd'}}</span>
          </span>
        </div>
        <div class="collapse" role="tabpanel" id="collapse-{{c._id}}" attr.aria-labelledby="heading-{{c._id}}">
          <div class="accordion__collapse-body">
            <div class="authorizations-list__related-documents card" *ngIf="c.documents.length > 0">
              <div class="card-header">Related Documents</div>
              <ul class="authorizations-list__related-documents-list list-group">
                <li class="list-group-item" *ngFor="let d of c.documents"><a href="{{d.ref}}" target="_blank">{{d.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="auth-section" *ngIf="collections.env.length > 0">
    <h3>Environmental Management Act <span>Ministry of Environment and Climate Change Strategy</span></h3>
    <div class="accordion authorizations-list" id="authorization-ENV" role="tablist" aria-multiselectable="false">
      <div class="accordion__collapse-item" *ngFor="let c of collections.env.items">
        <div class="accordion__collapse-header" role="tab" id="heading-{{c._id}}">
          <a class="accordion__collapse-header--column toggle collapsed" data-ng-if="c.documents" data-toggle="collapse" href="#collapse-{{c._id}}"
            aria-expanded="true" aria-controls="collapseOne">
            <i class="material-icons open-icon">add</i>
            <i class="material-icons close-icon">remove</i>
          </a>
          <span class="accordion__collapse-header--column authorizations-list__name-col">{{c.displayName}}</span>
          <span class="accordion__collapse-header--column authorizations-list__date-col">
            <span>Permit {{c.status}}</span> -
            <span>{{c.date | date:'yyyy-MM-dd'}}</span>
          </span>
        </div>
        <div class="collapse" role="tabpanel" id="collapse-{{c._id}}" attr.aria-labelledby="heading-{{c._id}}">
          <div class="accordion__collapse-body">
            <div class="authorizations-list__related-documents card" *ngIf="c.documents.length > 0">
              <div class="card-header">Related Documents</div>
              <ul class="authorizations-list__related-documents-list list-group">
                <li class="list-group-item" *ngFor="let d of c.documents"><a href="{{d.ref}}" target="_blank">{{d.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="auth-section" *ngIf="collections.mem.length > 0">
    <h3>Mines Act <span>Ministry of Energy, Mines and Petroleum Resources</span></h3>
    <div class="accordion authorizations-list" id="authorization-MEM" role="tablist" aria-multiselectable="false">
      <div class="accordion__collapse-item" *ngFor="let c of collections.mem.items">
        <div class="accordion__collapse-header" role="tab" id="heading-{{c._id}}">
          <a class="accordion__collapse-header--column toggle collapsed" data-ng-if="c.documents" data-toggle="collapse" href="#collapse-{{c._id}}"
            aria-expanded="true" aria-controls="collapseOne">
            <i class="material-icons open-icon">add</i>
            <i class="material-icons close-icon">remove</i>
          </a>
          <span class="accordion__collapse-header--column authorizations-list__name-col">{{project.memPermitID}} - {{c.displayName}}</span>
          <span class="accordion__collapse-header--column authorizations-list__date-col">
            <span>Permit {{c.status}}</span> -
            <span>{{c.date | date:'yyyy-MM-dd'}}</span>
          </span>
        </div>
        <div class="collapse" role="tabpanel" id="collapse-{{c._id}}" attr.aria-labelledby="heading-{{c._id}}">
          <div class="accordion__collapse-body">
            <div class="authorizations-list__related-documents card" *ngIf="c.documents.length > 0">
              <div class="card-header">Related Documents</div>
              <ul class="authorizations-list__related-documents-list list-group">
                <li class="list-group-item" *ngFor="let d of c.documents"><a href="{{d.ref}}" target="_blank">{{d.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-footer" *ngIf="project.morePermitsLink">
    <h3>Can't find what you are looking for?</h3>
    <p class="mb-0">Mines Act permits issued for {{project.name}} prior to {{project.morePermitsLinkYear}} can be accessed <a href="{{project.morePermitsLink}}"
        target="_blank">here</a>.</p>
  </section>

</div>
