@import "~assets/styles/base/base.scss";

.map-thumbnail {
  position: relative;

  #map {
    position: relative;
    height: 300px;
    outline: none;
    touch-action: none;
    background-color: #445a71;
  }
}

.map-thumbnail__no-results {
  text-align: center;
  position: absolute;
  background: #eee;
  z-index: 2000;
  width: 100%;
  height: 100%;
}

.no-results-msg {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  margin-top: -12px;
  text-align: center;
}

// Leaflet Control Customization
::ng-deep {
  .map-reset-control {
    margin-right: 12px !important;
    padding: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      background: #f4f4f4;
    }
  }
}
