<div class="tab-pane" role="tabpanel">
    <section class="tab-section" *ngIf="project">
        <div>
            <h2>Documents</h2>
            <!-- Documents -->
        </div>

        <div>
            <!-- <h2 class="title">Project Documents</h2>
            <div *ngIf="project.documents.length === 0">
                <em>No documents have been uploaded for this project.</em>
            </div> -->

            <div class="row">
                <!-- <div class="col-12" *ngFor="let document of project?.documents">
                    <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">
                        <i class="material-icons">attachment</i>&nbsp;{{document.documentFileName}}
                    </a>
                </div> -->
            </div>
        </div>

        <!-- <div class="float-right" *ngIf="project.publishDate">
            <p class="value">Published on {{project.publishDate | date:'longDate'}}</p>
        </div> -->
    </section>
</div>
