<div class="hero-banner hb-sm">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1 id="pgTitle">Process & Procedures</h1>
                <p>Learn more about how the Environmental Assessment Office neutrally administers a process that is predictable, transparent, timely, procedurally fair, and holds all participants accountable.</p>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container" id="anchor-point">
        <main>
            <section>
                <h2>The Environmental Assessment Process</h2>
                <p>The Environmental Assessment Office assesses proposed major projects for potentially significant adverse environmental, social, economic, health and heritage effects, as required by the Environmental Assessment Act.  We seek to meaningfully engage Aboriginal groups in our process and solicit input from the public to inform our work.</p>
                <p>There are three stages in an environmental assessment: pre-application, application review and the decision stage. After the application review stage, provincial ministers may issue an environmental assessment certificate, allowing the proposed project to proceed. The infographic below sets out the key steps within each of three stages of a typical environmental assessment PDF Version.</p>
            </section>
            <section>
                <h3>Pre-Application Phase</h3>
                <p>The purpose of the pre-application stage is to ensure that when an application for an environmental assessment certificate is reviewed, it contains the necessary information to allow the Environmental Assessment Office to undertake its assessment and make recommendations to the Ministers making the decision.</p>
                <p>There are no time limits in the pre-application phase until the proponent submits an application for an environmental assessment certificate to the Environmental Assessment Office.  The Environmental Assessment Office then has 30 days to confirm whether it contains the information necessary to initiate the application review phase.</p>
            </section>
            <section>
                <h3>Application Review Phase</h3>
                <p>During the application review stage, the application is provided to a technical working group and Aboriginal groups for review and comment. It is also made publicly available for review and comment, and the comments received during a public comment period are posted on the Environmental Assessment Office’s website.</p>
                <p>Based on this feedback, the environmental assessment office works with the proponent and interested parties to resolve outstanding concerns wherever possible. The <a href="http://www.bclaws.ca/EPLibraries/bclaws_new/document/ID/freeside/11_372_2002" target="_blank">Prescribed Time Limits Regulation</a> requires that the application review be completed within 180 days. The Environmental Assessment Office can extend this timeframe if requested by the proponent, or if additional information is required to complete the environmental assessment.</p>
            </section>
            <section class="mb-0">
                <h3>Minister's Decision</h3>
                <p>Upon completion of the application review stage, the environmental assessment office provides an assessment report and recommendations to the Minister of environment and Minister responsible for the project sector. For example, the decision on a proposed mine would be made by the Minister of Environment and the Minister of Energy and Mines.</p>
                <p>After the ministers receive this package, they have 45 days in which to make a decision. When making their decision, the Minsters have three options:</p>
                <ol>
                    <li>issue an environmental assessment certificate with any conditions they consider necessary;</li>
                    <li>refuse to issue the certificate; or</li>
                    <li>require further study or assessment.</li>
                </ol>
                <p class="mb-0">More information about the environmental assessment process, including what projects require an environmental assessment, is available in the <a href="http://www.eao.gov.bc.ca/pdf/EAO_User_Guide_20150629.pdf" target="_blank">EAO User Guide</a>.</p>
            </section>
        </main>
    </div>
</section>