// Container
.container {
  margin: 0 auto;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2.25rem;
  padding-left: 2rem;
  max-width: 1100px;
}

// Main Element
main {
  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h2 {
    margin-bottom: 1rem;
    letter-spacing: -0.02rem;
    line-height: 2rem;
    font-size: 1.75rem;
  }

  h3 {
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
    font-size: x-large;

    span {
      margin-top: 0.5rem;
      display: block;
      line-height: 1.25rem;
      font-size: medium;
    }
  }

  p {
    line-height: 1.4rem;
    font-size: 0.9375rem;
  }
}

.leaflet-tile-container.leaflet-zoom-animated img {
  -webkit-filter: saturate(160%);
  filter: saturate(160%);
}

@media (min-width: 768px) {
  main {
    h2 {
      line-height: 2.5rem;
    }

    h3 {
      font-size: 1.75rem;
    }

    p {
      line-height: 1.5rem;
      font-size: 1rem;
    }
  }
}

hr {
  margin-top: 2.5rem;
  margin-bottom: 2.25rem;
  border-width: 2px;
}

@media (min-width: 1600px) {
  main {
    .container {
      padding-top: 2.5rem;
      padding-bottom: 2.75rem;
    }
  }
}
