@import "~assets/styles/base/base.scss";

:host {
  display: block;
  @include flex-box();
  @include flex-direction(column);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}


app-header {
  @include flex(0 0 auto);
}

.app-body {
  @include flex-box();
  @include flex(1 1 auto);
  @include flex-direction(column);
  position: relative;
  overflow-y: scroll;
}

.pilot-alert-container /deep/ {
  .alert {
    @include flex-box();
    margin-bottom: 0;
    border-bottom: 4px solid $gold;
    background-color: $gold;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: $primary;

    button {
      @include flex(0 0 auto);
      position: relative;
      margin-top: -0.2rem;
      padding: 0;
      width: 2rem;
      height: 2rem;
      order: 3;
      opacity: 1;

      span {
        display: inline-block;
        margin-top: -0.3rem;
        vertical-align: top;
        font-size: 1.75rem;
      }
    }

    &__icon {
      @include flex(0 0 auto);
      margin-right: 0.5rem;
      order: 1
    }

    &__msg {
      @include flex(1 1 auto);
      padding-top: 0.1rem;
      line-height: 1.25rem;
      font-size: 0.875rem;
      order: 2;
    }
  }
}

app-home {
  display: block;
}

.showBanner + div {
  height: 50rem;
  background: blue;
}

.footer-sm /deep/ {
  overflow: hidden;

  app-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .app-footer {
    height: 3rem; // height of 2-line footer
    border: none;

    .container {
      max-width: 100%;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
    }

    .footer-info {
      display: none;
    }

    .footer-admin {
      margin-top: 0 !important;
      padding-top: 0 !important;
      border-top: 0 !important;
    }
  }
}

@media (min-width: 483px) {
  .footer-sm /deep/ {
    .app-footer {
      height: 1.75rem; // height of single line footer
    }
  }
}