<app-header></app-header>

<ngb-alert class="pilot-alert-container" type="warning" *ngIf="showBanner()" (close)="hideBanner()">
	<div class="alert__icon">
		<i class="material-icons">info</i>
	</div>
	<div class="alert__msg">
		This site is a pilot, launched for Crown Land applications in the province's Skeena Region. &nbsp;<strong><a routerLink="/">Learn more...</a></strong>
	</div>
</ngb-alert>

<div class="app-body" id="scrollTop" [ngClass]="{'show-alert': showBanner(), 'footer-sm': (router.url.startsWith('/applications'))}">
	<router-outlet></router-outlet>
	<app-footer></app-footer>
	<a href="#scrollTop" class="btn scroll-top-btn visible" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="800">
		<i class="material-icons">arrow_upward</i>
	</a>
</div>