@import "~assets/styles/base.scss";

.map-section {
    margin-bottom: 0;
    display: table;
    width: 100%;
    overflow: hidden;
    background: #eee;

    a {
        display: block;
        padding: 0.2rem;
        height: 180px;
        background-position: center -25px;
        background-size: 140%;

        img {
            width: 100%;
        }
    }

    &__thumbnail {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        transform: scale(1.4);
        cursor: pointer;
    }
}

@media (max-width: 567px) {
    .nav {
        margin-bottom: 1.75rem;

        .nav-item {
            width: 50%;
        }

        .nav-link {
            font-size: 0.6rem;
        }
    }
}

@media (min-width: 768px) {
    .nav {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
}