<div class="hero-banner">
  <div class="container">
    <div class="container__inner-container">
      <div class="hero-banner__content">
        <h1 id="pgTitle">{{project?.name}}</h1>
        <p class="mb-2" [innerHTML]="project?.description"></p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="anchor-point">
  <div class="row">
    <main class="col-lg-8">
      <section class="mb-0">
        <h2 [innerHTML]="project.subtitle"></h2>
        <!-- TAB HEADERS -->
        <div role="navigation">
          <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
              <a class="nav-link" role="tab" [routerLink]="tabLink.link" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">{{tabLink.label}}</a>
            </li>
          </ul>
        </div>
        <!-- TAB CONTENTS GO HERE -->
        <router-outlet></router-outlet>
      </section>
    </main>
    <aside class="col-lg-4">
      <section class="card">
        <h4 class="card-header">Project Details</h4>
        <div class="map-section">
          <div class="map-section__thumbnail" (click)="gotoMap()">
            <app-project-map [project]="project" [zoom]="4"></app-project-map>
          </div>
        </div>
        <ul class="nv-list mine-details-list">
          <li>
            <span class="name">Operator</span>
            <span class="value">{{project?.operator}}</span>
          </li>
          <li>
            <span class="name">Ownership</span>
            <span class="value">
              <span *ngFor="let org of project?.ownershipData | orderBy : {property: 'sharePercent', direction: -1}">
                <label class="name">{{org.sharePercent}}% - {{org.organization.name}}</label>
              </span>
            </span>
          </li>
          <li>
            <span class="name">Commodities</span>
            <span class="value">{{project.commodities ? project.commodities.join(', ') : ''}}</span>
          </li>
          <li>
            <span class="name">Number of Tailings Impoundments</span>
            <span class="value">{{project?.tailingsImpoundments}}</span>
          </li>
          <li>
            <span class="name">Status</span>
            <span class="value">{{project?.status}}</span>
          </li>
        </ul>
      </section>
      <section class="card">
        <h4 class="card-header">Site Activities</h4>
        <app-site-activities [activities]="project?.sortedActivities"></app-site-activities>
      </section>
      <section class="card">
        <h4 class="card-header">External Links &amp; Resources</h4>
        <ul class="nv-list">
          <li *ngFor="let l of project?.sortedLinks">
            <a target="_blank" href="{{l.link}}">{{l.title}}</a>
          </li>
        </ul>
      </section>
    </aside>
  </div>
</div>
