@import "~assets/styles/base/base.scss";

$app-filters-bg: #fff;
$app-filters-font-sm: 0.75rem;
$app-filters-font-lg: 0.9375rem;

.app-filters__container {
  padding: .75rem 1.5rem;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0;
    border-bottom-right-radius: 5px;
  }

  &.open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1004;
  }

  .btn,
  .form-control {
    height: 2.3rem;
    font-size: $app-filters-font-sm;
  }

  .search-container {
    position: relative;
    font-weight: 700;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    background: rgba(255,255,255,1);

    @media (max-width: 768px) {
      border: 1px solid #c6d0da;
    }

    .additional-text {
      color: #212529;
      font-weight: normal;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        margin-bottom: 0.5rem; 
      }

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .search-box {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    @media (max-width: 768px) {
      padding: .75rem;
    }

    label, legend {
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: -.025em;
      color: #212529;
      margin-bottom: 0;

      @media (max-width: 768px) {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .gtm-filter-applicant {
      padding: .7rem;
      border-radius: 2px;
      box-shadow: none;
      -webkit-appearance: none;
      border: 2px solid #c6d0da;
      border-right: none;
      font-size: 1rem;
      font-weight: 400;
      height: auto;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        border-color: #5091cd;
      }
    }

    .btn {
      border-radius: 0 4px 4px 0;
      font-size: 1rem;
      height: 50px;
      background: #fcba18;
      color: #003367;
      border: none;
      font-weight: bold;
      padding: .5rem 1.4rem .6rem;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1200px) {
        max-width: 100px;
      }

      i {
        vertical-align: top;
        margin-top: 2px;
        margin-right: 4px;
        font-size: 20px;
      }
    }
  }

  legend {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .app-filters__container {
    font-size: 0.9375rem;

    &.open {
      height: 30rem;
    }

    .btn,
    .form-control {
      height: 2.5rem;
      font-size: $app-filters-font-lg;
    }
  }
}

.app-filters__header {
  @include flex(0 0 auto);
  padding: 0.75rem;
}

@media (min-width: 1200px) {
  .app-filters__header {
    padding: 0.5rem 0.75rem;
  }
}

.app-filters__title {
  font-size: 1.5rem;
}

.app-filters__body {
  @include flex(1 1 auto);
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid #ddd;

  fieldset {
    + fieldset {
      margin-top: 1rem;
      padding-top: 1.25rem;
      border-top: 1px solid #ddd;
    }
  }

  .form-check {
    .form-check-input {
      margin-top: 0.3rem;
    }
  }
}

// Filter Actions Bar
.filter-actions-bar {
  position: relative;
  z-index: 1002;

  .form-control {
    padding: 0.5rem;
  }

  .dropdown-toggle {
    padding: 0.5rem;
  }

  .dropdown-menu {
    width: 14rem;
    padding: 0.75rem;
  }

  .filter-control {
    + .filter-control {
      margin-left: 0.25rem;
    }
  }
}

@media (min-width: 768px) {
  .filter-action-bar {
    .dropdown-toggle {
      padding: 0.5rem 0.75rem;
    }

    .form-control {
      padding: 0.75rem;
    }
  }
}

// Filter Actions Bar Controls
.filter-control {
  .dropdown-menu {
    .form-check-label {
      vertical-align: top;
      line-height: 1rem;
      font-size: $app-filters-font-sm;

      .form-check-input {
        margin-top: 0.1rem;
      }
    }
  }

  .dropdown-button-bar {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .filter-control {
    .dropdown-menu {
      .form-check-label {
        line-height: 1.25rem;
        font-size: $app-filters-font-lg;

        input {
          margin-top: 0.25rem;
        }
      }
    }
  }
}

.all-filter-actions {
  display: inline-block;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  border-left: 1px solid #ddd;
}

.additional-filters {
  font-size: $app-filters-font-lg;

  label {
    font-weight: bold;
  }
}

// Typahead Input
.typeahead-container {
  position: relative; // Need this here to ensure the typeaheads are bound to their parent

  ::ng-deep {
    .dropdown-menu {
      right: 0;
      overflow-y: scroll;
      max-height: 50vh;
    }
  }
}

// Toggle Filters Button
.toggle-filter-btn {
  padding-top: 0.2rem;
  padding-right: 0;
  padding-left: 0;
  width: 2.5rem;
  height: 2.3rem;
  font-size: 24px !important;

}

// EAO Projects Input
.clf-input {
  width: 18rem;
}

@media (max-width: 768px) {
  .clf-input {
    display: none;
  }
}

// Date Range
.date-range {
  @include flex-box();
  @include clearfix();

  .form-group {
    display: inline-block;
    vertical-align: top;
  }

  .spacer {
    margin-top: 0.75rem;
    display: inline-block;
    width: 3rem;
    text-align: center;
    font-weight: 700;
  }
}

@media (max-width: 768px){
  .date-range {
    @include flex-direction(column);

    .spacer {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
    }
  }
}

.map-instructions, .project-type-filter {
  background: #fff;
  padding: 2rem 0 0;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.project-type-filter-title-row, .project-search-title-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
  margin-bottom: 1.25rem;

  @media (max-width: 768px) {
    margin-bottom: 0.375rem;
  }
}

.project-type-filter-button {
	display: flex;
	width: 34px;
	height: 34px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background-color: #fff;
	color: grey;
	border: 2px solid #c6d0da;
  margin-left: 0.25rem;

  @media (min-width: 768px) {
    display: none;
  }
}

.project-type-filter-button i {
	font-size: 18px !important; // Override material icon settings
}

.project-type-filter-row {
	vertical-align: middle;
	display: flex;
	align-items: flex-start;
  font-weight: normal;
}

.project-type-filter-checkbox {
	font-size: 30px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.project-type-filter-text {
  line-height: 1;
	padding-left: 0.5rem;
  display: inline-flex;
  padding-bottom: 8px;
}

::ng-deep .project-type-filter-checkbox .mat-checkbox-ripple .mat-ripple-element {
	background-color: #ffd740 !important; // Override material checkbox defaults
}

::ng-deep .project-type-filter-checkbox .mat-checkbox-indeterminate .mat-checkbox-background, ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
	background-color: #ffd740 !important; // Override material checkbox defaults
}

.filter-by-type {
  font-size: 1.25rem;
}

.filter-by-type-label {
  margin-bottom: 0;
}

.filter-collapse-button.collapsed {
  rotate: 180deg;
}