/* Required CSS for the ArcGIS API for JavaScript */
@import url('https://js.arcgis.com/4.5/esri/css/main.css');
@import "~assets/styles/base.scss";

.map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
