@import "~assets/styles/base/base.scss";

.splash-modal {
  position: relative;
  padding: 1.5rem;
  border-radius: 0.3rem;
  background: #fff; /* Old browsers */
  background: linear-gradient(150deg, #fff 40%, $gray0 40%);
}

@media (min-width: 768px) {
  .splash-modal {
    padding: 3.5rem 4.5rem;
    background: #fff; /* Old browsers */
    background: linear-gradient(150deg, #fff 52%, $gray0 52%);
  }
}

h2 {
  margin-bottom: 2rem;
  letter-spacing: -0.04rem;
  font-weight: 600;
}

label {
  margin-bottom: 0.5rem;
  color: $gray9;
  font-size: 1rem;
  font-weight: 600;
}

input {
  height: 2.75rem;
  font-size: 1rem;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.intro-text {
  margin-bottom: 2rem;
}

.form-btns {
  margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
  h2 {
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
    font-size: 1.75rem;
  }

  p,
  label {
    line-height: 1.25rem;
    font-size: 0.9375rem;
  }

  .close-btn {
    right: 1rem;
  }

  .form-btns {
    margin-bottom: 1.5rem;
  }
}

.explore-btn {
  padding: 0;
  border-width: 0;
  font-size: inherit;
  font-weight: 600;
  vertical-align: inherit;
}
