<div class="splash-modal">

  <button class="close-btn btn btn-icon gtm-splash-dismiss" type="button" aria-label="Close" (click)="dismiss()">
    <i class="material-icons">close</i>
  </button>

  <h2>Find Crown Land Applications</h2>
  <div class="intro-text">
    <p>The Province is responsible for managing Crown land in British Columbia. In an average year the Province receives and processes between 5,000 and 7,000 applications for the use of Crown land. <a routerLink="/about">Learn more about the process</a>.</p>
    <p>Use this site to find, learn about, and comment on active Crown Land applications in British Columbia.</p>
  </div>

  <div class="form-group">
    <label class="control-label" for="introModalFind">Enter a Crown Land Number or Disposition Transaction ID</label>
    <div class="find-input">
      <input class="form-control gtm-splash-cl-file" type="number" id="introModalFind"
        [(ngModel)]="clidDtid"
        (keyup.enter)="find()"
        (keydown.arrowup)="$event.preventDefault()"
        (keydown.arrowdown)="$event.preventDefault()"
        (mousewheel)="$event.preventDefault()" />
    </div>
  </div>
  <div class="form-btns">
    <button class="find-btn gtm-splash-find btn btn-primary" type="button" title="Apply filters" 
      (click)="find()" 
      [disabled]="!clidDtid">Find
    </button>
  </div>

  <p class="mb-0">Don't know either of these numbers? <button class="explore-btn gtm-splash-explore btn btn-link" (click)="explore()">Explore current applications</button></p>

</div>