<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" [innerHTML]="title || 'Confirm'"></h4>
			<button class="btn btn-icon close-btn" type="button" (click)="cancel()">
				<i class="material-icons">close</i>
			</button>
		</div>
		<div class="modal-body">
			<p [innerHTML]="message || 'Are you sure?'"></p>
		</div>
		<div class="modal-footer form-btns">
			<button type="button" class="btn btn-light" (click)="cancel()" *ngIf="!okOnly">No</button>
			<button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
		</div>
	</div>
</div>