@import "~assets/styles/base/base.scss";

tr:hover {
    cursor: pointer;
    background-color: #e2f1ff;
}

.inputCheckBox {
  cursor: pointer;
}

.doc-table-item {
  display: flex;
  align-items: center;
}

.doc-name {
  font-weight: 700;
}

.doc-name, .doc-description {
  margin: 0;
}

.doc-main-details {
  align-items: flex-start;
  flex-direction: column;

}


