<div class="tab-pane" role="tabpanel">

  <!--<form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
    <div class="input-group main-search-field">
      <input class="form-control" type="text" name="keywordInput" placeholder="Enter keywords to search..."
        id="keywordInput" [(ngModel)]="tableParams.keywords" autofocus />
      <div class="input-group-append">
        <!-- prevent searching if input is empty or we're already searching --><!--
        <button class="btn btn-primary" type="submit">
          <span>Search</span>
        </button>
      </div>
    </div>
    <div class="input-group-append">
      <a _ngcontent-c7 class="btn btn-primary btn-search-help" [routerLink]="['/search-help']" target="_blank">
          <span> Search Help</span>
      </a>
      <button class="btn btn-secondary btn-search-help dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Items per page
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="onNumItems(25)">25</a>
          <a class="dropdown-item" (click)="onNumItems(50)">50</a>
          <a class="dropdown-item" (click)="onNumItems(100)">100</a>
          <a class="dropdown-item" (click)="onNumItems('max')">Show All</a>
      </div>
    </div>
    <div class="results">
      <p *ngIf="!loading && tableParams.totalListItems == 0">
        No result<span *ngIf="count != 1">s</span> found for "{{tableParams.keywords}}"
      </p>
      <div *ngIf="!loading && tableParams.totalListItems > 0">
        {{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s found</span>
      </div>
    </div>
  </form>-->

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <section class="tab-section" *ngIf="!loading">
    <div *ngIf="currentProject.documentInfo">
      <div class="mb-3 tab-section-text" [innerHTML]="currentProject.documentInfo | newlines"></div>
    </div>
    <div *ngIf="documentsGroupedBySection.length === 0 && documents.length === 0; else docsTable">
      No documents visible yet.
    </div>
    <ng-template #docsTable>
      <mat-accordion *ngFor="let section of documentsGroupedBySection">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{section[0].section}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th class="col-7">Document</th>
                <th class="col-3">Project Phase</th>
                <th class="col-2">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of section" (click)="goToItem(file)" (keyup.Enter)="goToItem(file)">
                <td class="col-7">{{file.displayName}}</td>
                <td class="col-3">{{file.projectPhase}}</td>
                <td class="col-2">{{formatDocumentDate(file.datePosted)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <app-table-template *ngIf="!loading && tableParams.totalListItems != 0"
        (checkboxChange)='checkChange($event)'
        [columns]="documentTableColumns"
        [data]="documentTableData"
        (onColumnSort)='setColumnSort($event)'
        (onSelectedRow)='updateSelectedRow($event)'
        (onPageNumUpdate)='getPaginatedDocs($event)'>
      </app-table-template>
  </ng-template>
  </section>


</div>
