.input-group-prepend {
	flex-wrap: wrap;

	button {
		margin: 0px 10px 10px 0;
	}
}

.main-search-field {
	margin-bottom: 12px;
}

textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #5091cd;
  }
}

.btn-outline-secondary {
  color: #007bff;
  border-color: #007bff;
  i {
  	margin-right: 4px;
  	font-size: 20px;
  }
  &:disabled {
    border-color: #6c757d;
    color: #6c757d;
  }
}
