<div class="tab-pane" role="tabpanel">
  <div class="spinner-container" *ngIf="loading" >
      <div class="spinner-new rotating"></div>
  </div>

  <section class="tab-section" *ngIf="!loading">
      <div *ngIf="documents.length === 0">
          No documents visible yet.
      </div>

      <app-table-template *ngIf="!loading && tableParams.totalListItems != 0"
                    (checkboxChange)='checkChange($event)'
                    [columns]="documentTableColumns"
                    [data]="documentTableData"
                    (onColumnSort)='setColumnSort($event)'
                    (onSelectedRow)='updateSelectedRow($event)'
                    (onPageNumUpdate)='getPaginatedDocs($event, null, null)'>
      </app-table-template>
  </section>
</div>