<div class="tab-pane" role="tabpanel">
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
    <div class="input-group main-search-field">
      <input class="form-control" type="text" name="keywordInput" placeholder="Enter keywords to search..."
        id="keywordInput" [(ngModel)]="tableParams.keywords" autofocus />
      <div class="input-group-append">
        <!-- prevent searching if input is empty or we're already searching -->
        <button class="btn btn-primary" type="submit">
          <span>Search</span>
        </button>
      </div>
    </div>
    <div class="input-group-append">
      <a _ngcontent-c7 class="btn btn-primary btn-search-help" [routerLink]="['/search-help']" target="_blank">
          <span> Search Help</span>
      </a>
      <button *ngIf="!loading && tableParams.totalListItems > tableParams.pageSize"
        class="btn btn-primary btn-search-help" (click)="onShowAll()">
        <span> Show All Results</span>
      </button>
    </div>
    <div class="results">
      <p *ngIf="!loading && tableParams.totalListItems == 0">
        No result<span *ngIf="count != 1">s</span> found for "{{tableParams.keywords}}"
      </p>
      <div *ngIf="!loading && tableParams.totalListItems > 0">
        {{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s found</span>
      </div>
    </div>
  </form>

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <section class="tab-section" *ngIf="!loading">
    <div *ngIf="documents.length === 0">
      No documents visible yet.
    </div>

    <app-table-template *ngIf="!loading && tableParams.totalListItems != 0"
                        (checkboxChange)='checkChange($event)'
                        [columns]="documentTableColumns"
                        [data]="documentTableData"
                        (onColumnSort)='setColumnSort($event)'
                        (onSelectedRow)='updateSelectedRow($event)'
                        (onPageNumUpdate)='getPaginatedDocs($event)'>
    </app-table-template>
  </section>


</div>
