@import "~assets/styles/base/base.scss";

$app-filters-bg: #fff;
$app-filters-font-sm: 0.75rem;
$app-filters-font-lg: 0.9375rem;

.app-filters__container {
  background: $app-filters-bg;
  font-size: 0.875rem;

  &.open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1004;
  }

  .btn,
  .form-control {
    height: 2.3rem;
    font-size: $app-filters-font-sm;
  }
}

@media (min-width: 1200px) {
  .app-filters__container {
    border-radius: 0.2rem;
    font-size: 0.9375rem;

    &.open {
      height: 30rem;
    }

    .btn,
    .form-control {
      height: 2.5rem;
      font-size: $app-filters-font-lg;
    }
  }  
}

.app-filters__header {
  @include flex(0 0 auto);
  padding: 0.75rem;
}

@media (min-width: 1200px) {
  .app-filters__header {
    padding: 0.5rem 0.75rem;
  }
}

.app-filters__title {
  font-size: 1.5rem;
}

.app-filters__body {
  @include flex(1 1 auto);
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid #ddd;

  fieldset {
    + fieldset {
      margin-top: 1rem;
      padding-top: 1.25rem;
      border-top: 1px solid #ddd;
    }
  }

  .form-check {
    .form-check-input {
      margin-top: 0.3rem;
    }
  }
}

// Filter Actions Bar
.filter-actions-bar {
  position: relative;
  z-index: 1002;

  .form-control {
    padding: 0.5rem;
  }

  .dropdown-toggle {
    padding: 0.5rem;
  }

  .dropdown-menu {
    width: 14rem;
    padding: 0.75rem;
  }

  .filter-control {
    + .filter-control {
      margin-left: 0.25rem;
    }
  }
}

@media (min-width: 768px) {
  .filter-action-bar {
    .dropdown-toggle {
      padding: 0.5rem 0.75rem;
    }

    .form-control {
      padding: 0.75rem;
    }
  }
}

// Filter Actions Bar Controls
.filter-control {
  .dropdown-menu {
    .form-check-label {
      vertical-align: top;
      line-height: 1rem;
      font-size: $app-filters-font-sm;

      .form-check-input {
        margin-top: 0.1rem;
      }
    }
  }

  .dropdown-button-bar {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .filter-control {
    .dropdown-menu {
      .form-check-label {
        line-height: 1.25rem;
        font-size: $app-filters-font-lg;

        input {
          margin-top: 0.25rem;
        }
      }
    }
  }
}

.all-filter-actions {
  display: inline-block;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  border-left: 1px solid #ddd;
}

.additional-filters {
  font-size: $app-filters-font-lg;

  label {
    font-weight: bold;
  }
}

// Typahead Input
.typeahead-container {
  position: relative; // Need this here to ensure the typeaheads are bound to their parent

  ::ng-deep {
    .dropdown-menu {
      right: 0;
      overflow: hidden;
    }
  }
}

// Toggle Filters Button
.toggle-filter-btn {
  padding-top: 0.2rem;
  padding-right: 0;
  padding-left: 0;
  width: 2.5rem;
  height: 2.3rem;
  font-size: 24px !important;

}

// Crown Lands File Input
.clf-input {
  width: 18rem;
}

@media (max-width: 768px) {
  .clf-input {
    display: none;
  }
}