<div class="app-filters__container d-flex flex-column" name="Filters to limit displayed Crown Land applications"
  [ngClass]="isFiltersCollapsed ? 'closed':'open'">

  <div class="app-filters__header d-flex justify-content-between">
    <div class="d-flex align-items-center">
      
      <!-- Filter Actions Bar -->
      <div class="app-filters__title" *ngIf="!isFiltersCollapsed">
        All Filters
      </div>

      <div class="filter-actions-bar clearfix" *ngIf="isFiltersCollapsed">
        <!-- Comment Period Dropdown -->
        <div class="filter-control dropdown float-left" *ngVar="cpStatusCount() as numCpStatus">
          <button class="btn dropdown-toggle" type="button" [ngClass]="(numCpStatus > 0) ? 'btn-secondary' : 'btn-outline-secondary'" id="cpStatusFilterButton"
            (click)="isAppStatusCollapsed=true;isCpStatusCollapsed=!isCpStatusCollapsed" [attr.aria-expanded]="!isCpStatusCollapsed"
            aria-controls="applist-cpstatus-filters" title="Comment Status filters">
            Commenting ({{numCpStatus}})
          </button>
          <div class="dropdown-menu" id="applist-cpstatus-filters" [ngbCollapse]="isCpStatusCollapsed">
            <div aria-labelledby="cpStatusFilterButton" (click)="$event.stopPropagation()">
              <div class="form-check" *ngFor="let key of cpStatusKeys">
                <label class="form-check-label">
                  <input class="form-check-input gtm-filter-cp-status " type="checkbox" [(ngModel)]="_cpStatusFilters[key]" name="{{key}}"> 
                  {{commentPeriodService.getStatusString(key)}}
                </label>
              </div>
            </div>
            <div class="dropdown-button-bar" *ngVar="cpStatusHasChanges() as hasChanges">
              <a class="btn btn-link" role="button" (click)="clearCpStatusFilters()" *ngIf="!hasChanges && numCpStatus > 0">
                Clear
              </a>
              <a class="btn btn-link" role="button" (click)="cancelCpStatusFilters();isCpStatusCollapsed=true" *ngIf="hasChanges || numCpStatus == 0">
                Cancel
              </a>
              <button class="btn btn-primary" type="button" (click)="applyCpStatusFilters();isCpStatusCollapsed=true">
                Apply
              </button>
            </div>
          </div>
        </div>

        <!-- Application Status Dropdown -->
        <div class="filter-control dropdown float-left" *ngVar="appStatusCount() as numAppStatus">
          <button class="btn dropdown-toggle" type="button" [ngClass]="(numAppStatus > 0) ? 'btn-secondary' : 'btn-outline-secondary'" id="appStatusFilterButton"
            (click)="isCpStatusCollapsed=true;isAppStatusCollapsed=!isAppStatusCollapsed" [attr.aria-expanded]="!isAppStatusCollapsed"
            aria-controls="applist-appstatus-filters" title="Application Status filters">
            Application Status ({{numAppStatus}})
          </button>
          <div class="dropdown-menu" id="applist-appstatus-filters" [ngbCollapse]="isAppStatusCollapsed">
            <div aria-labelledby="appStatusFilterButton" (click)="$event.stopPropagation()">
              <div class="form-check" *ngFor="let key of appStatusKeys">
                <label class="form-check-label">
                  <input class="gtm-filter-app-status form-check-input" type="checkbox" [(ngModel)]="_appStatusFilters[key]" name="{{key}}"> 
                  {{applicationService.getStatusString(key)}}
                </label>
              </div>
              <div class="dropdown-button-bar" *ngVar="appStatusHasChanges() as hasChanges">
                <a class="btn btn-link" role="button" (click)="clearAppStatusFilters()" *ngIf="!hasChanges && numAppStatus > 0">
                  Clear
                </a>
                <a class="btn btn-link" role="button" (click)="cancelAppStatusFilters();isAppStatusCollapsed=true" *ngIf="hasChanges || numAppStatus == 0">
                  Cancel
                </a>
                <button class="btn btn-primary" type="button" (click)="applyAppStatusFilters();isAppStatusCollapsed=true">
                  Apply
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Crown Land File Input -->
        <div class="clf-input filter-control input-group float-left">
          <input class="form-control gtm-filter-cl-file" type="number" placeholder="Crown Lands File # (eg: 1234567)" id="clFileInput3" [(ngModel)]="_clFileFilter"
            [ngbTypeahead]="clFileSearch" [focusFirst]="false" (keydown.arrowup)="$event.preventDefault()" (keydown.arrowdown)="$event.preventDefault()"
            (mousewheel)="$event.preventDefault()" (keyup.enter)="applyClFileFilter()" (focus)="isCpStatusCollapsed=true;isAppStatusCollapsed=true"
            title="Crown Lands File Number">
          <div class="input-group-btn">
            <!-- *ngIf="clFileFilterCount() > 0" -->
            <button type="button" class="btn btn-primary gtm-apply-filters" (click)="applyClFileFilter()">Apply</button>
          </div>
        </div>
      </div>

    </div>

    <!-- ACTIONS -->
    <div class="filter-actions d-flex align-items-center">
      <a class="btn btn-link" role="button" title="Clear filters" (click)="clearAllFilters(isFiltersCollapsed)" *ngVar="filterCount() as filtCnt">
        Clear {{filtCnt > 0 ? '(' + filtCnt + ')' : ''}}
      </a>
      <!-- Remove Inline Block Spacing -->
      <a class="toggle-filter-btn btn btn-light" role="button" title="Show all filters" *ngIf="isFiltersCollapsed" (click)="isCpStatusCollapsed=true;isAppStatusCollapsed=true;isFiltersCollapsed=false;onShowHideClick()"
        [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="applist-filters">Show all filters
      </a>

      <!-- Show when filters are open -->
      <span class="all-filter-actions" *ngIf="!isFiltersCollapsed">
        <a class="btn btn-link" role="button" title="Cancel" id="cancelButton" (click)="cancelAllFilters();isFiltersCollapsed=true;onShowHideClick()">
          Cancel
        </a>
        <button type="button" class="btn btn-primary" title="Apply Filters" id="applyButton" (click)="applyAllFilters();isFiltersCollapsed=true;onShowHideClick()">
          Apply
        </button>
      </span>

    </div>

  </div>

  <!-- Application Filter Inputs / All Filters -->
  <div class="app-filters__body" id="applist-filters" [ngbCollapse]="isFiltersCollapsed">
      
    <!-- Comment Period -->
    <fieldset>
      <legend>Comment Period Status</legend>
      <div class="form-check" *ngFor="let key of cpStatusKeys">
        <label class="form-check-label" for="{{key}}">
          <input class="form-check-input gtm-filter-cp-status" type="checkbox" name="{{key}}" id="{{key}}" [(ngModel)]="_cpStatusFilters[key]"> 
          {{commentPeriodService.getStatusString(key)}}
        </label>
      </div>
    </fieldset>

    <!-- Application Status -->
    <fieldset>
      <legend>Application Status</legend>
      <div class="form-check" *ngFor="let key of appStatusKeys">
        <label class="form-check-label" for="{{key}}">
          <input class="form-check-input gtm-filter-app-status" type="checkbox" name="{{key}}" id="{{key}}" [(ngModel)]="_appStatusFilters[key]">
          {{applicationService.getStatusString(key)}}
        </label>
      </div>
    </fieldset>

    <!-- Additional Filters -->
    <fieldset class="additional-filters">
        <div class="form-group typeahead-container">
          <label for="applicantInput">Applicant Name</label>
          <input type="text" class="form-control gtm-filter-applicant " placeholder="Applicant Name" id="applicantInput" 
            [(ngModel)]="_applicantFilter"
            [ngbTypeahead]="applicantSearch" 
            [focusFirst]="false">
        </div>
        <div class="form-group typeahead-container">
          <label for="clFileInput2">Crown Land File #</label>
          <input type="number" class="form-control gtm-filter-cl-file " placeholder="Crown Land File #" id="clFileInput2" 
            [(ngModel)]="_clFileFilter"
            [ngbTypeahead]="clFileSearch" 
            [focusFirst]="false" 
            (keydown.arrowup)="$event.preventDefault()" 
            (keydown.arrowdown)="$event.preventDefault()"
            (mousewheel)="$event.preventDefault()">
        </div>
        <div class="form-group typeahead-container">
          <label for="dispIdInput">Disposition Transaction ID</label>
          <input type="number" class="form-control gtm-filter-disposition-id" placeholder="Disposition Transaction ID" id="dispIdInput" [(ngModel)]="_dispIdFilter"
            [ngbTypeahead]="dispIdSearch" [focusFirst]="false" (keydown.arrowup)="$event.preventDefault()" (keydown.arrowdown)="$event.preventDefault()"
            (mousewheel)="$event.preventDefault()">
        </div>
        <div class="form-group typeahead-container">
          <label for="purposeInput">Purpose / Subpurpose</label>
          <input type="text" class="form-control gtm-filter-purpose" placeholder="Purpose / Subpurpose" id="purposeInput" [(ngModel)]="_purposeFilter"
            [ngbTypeahead]="purposeSearch" 
            [focusFirst]="false">
        </div>
    </fieldset>

  </div>

</div>