<div class="app-filters__container" name="Filters to limit displayed Crown Land applications">

    <div class="app-filters__header d-flex justify-content-between">
        <div class="filtersHeaderLeft d-flex align-items-center">
            <div class="allFilters" *ngIf="!isCollapsed">
                All Filters
            </div>
            <div class="dropdown cpStatus" *ngIf="isCollapsed">
                <button class="btn dropdown-toggle" [ngClass]="(cpStatusCount() > 0) ? 'btn-secondary' : 'btn-outline-secondary'" type="button"
                    id="cpStatusMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Commenting ({{cpStatusCount()}})
                </button>
                <div class="dropdown-menu" aria-labelledby="cpStatusMenuButton" (click)="$event.stopPropagation()">
                    <label class="dropdown-item" *ngFor="let key of cpStatusKeys">
                        <input class="gtm-filter-cp-status" type="checkbox" [(ngModel)]="cpStatusFilters[key]" name="{{key}}"> {{commentPeriodService.commentStatuses[key]}}
                    </label>
                </div>
            </div>
            <div class="dropdown appStatus d-none d-sm-block" *ngIf="isCollapsed">
                <button class="btn dropdown-toggle" [ngClass]="(appStatusCount() > 0) ? 'btn-secondary' : 'btn-outline-secondary'" type="button"
                    id="appStatusMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Application Status ({{appStatusCount()}})
                </button>
                <div class="dropdown-menu" aria-labelledby="appStatusMenuButton" (click)="$event.stopPropagation()">
                    <label class="dropdown-item" *ngFor="let key of appStatusKeys">
                        <input class="gtm-filter-app-status" type="checkbox" [(ngModel)]="appStatusFilters[key]" name="{{key}}"> {{applicationService.applicationStatuses[key]}}
                    </label>
                </div>
            </div>
        </div>

        <div class="filtersHeaderRight d-flex align-items-center">
            <a role="button" class="clickable p-2" (click)="clearFilters($event)" title="Clear filters">Clear</a>
            <a role="button" class="clickable p-2" (click)="resetFilters($event)" title="Reset filters">Reset</a>
            <button type="button" class="btn btn-primary p-2 gtm-apply-filters" (click)="applyFilters($event)" title="Apply filters">Apply</button>
            <a role="button" class="clickable p-2 gtm-show-filters" (click)="isCollapsed = false" [attr.aria-expanded]="!isCollapsed"
                aria-controls="applist-filters" *ngIf="isCollapsed" title="Show all filters">
                <i class="material-icons">arrow_drop_down</i>
            </a>
            <a role="button" class="clickable p-2 gtm-hide-filters" (click)="isCollapsed = true" [attr.aria-expanded]="!isCollapsed"
                aria-controls="applist-filters" *ngIf="!isCollapsed" title="Hide all filters">
                <i class="material-icons">arrow_drop_up</i>
            </a>
        </div>
    </div>

    <div class="app-filters__body" id="applist-filters" [ngbCollapse]="isCollapsed">
        <div class="row">
            <div class="col-sm-4 cpStatus">
                <label class="title d-block">Comment Period Status</label>
                <label class="" *ngFor="let key of cpStatusKeys">
                    <input class="gtm-filter-cp-status" type="checkbox" [(ngModel)]="cpStatusFilters[key]" name="{{key}}"> {{commentPeriodService.commentStatuses[key]}}
                </label>
            </div>

            <div class="col-sm-4 appStatus">
                <label class="title d-block">Application Status</label>
                <label class="" *ngFor="let key of appStatusKeys">
                    <input class="gtm-filter-app-status" type="checkbox" [(ngModel)]="appStatusFilters[key]" name="{{key}}"> {{applicationService.applicationStatuses[key]}}
                </label>
            </div>

            <div class="col-sm-4">
                <div>
                    <label class="title d-block" for="applicantInput">Applicant</label>
                    <input type="text" id="applicantInput" [(ngModel)]="applicantFilter" [ngbTypeahead]="applicantSearch" [focusFirst]="false">
                </div>

                <div>
                    <label class="title d-block" for="clFileInput">Crown Land File #</label>
                    <input type="number" id="clFileInput" [(ngModel)]="clFileFilter" [ngbTypeahead]="clFileSearch" [focusFirst]="false" (keydown.arrowup)="$event.preventDefault()"
                        (keydown.arrowdown)="$event.preventDefault()" (mousewheel)="$event.preventDefault()">
                </div>

                <div>
                    <label class="title d-block" for="dispIdInput">Disposition ID</label>
                    <input type="number" id="dispIdInput" [(ngModel)]="dispIdFilter" [ngbTypeahead]="dispIdSearch" [focusFirst]="false" (keydown.arrowup)="$event.preventDefault()"
                        (keydown.arrowdown)="$event.preventDefault()" (mousewheel)="$event.preventDefault()">
                </div>

                <div>
                    <label class="title d-block" for="purposeInput">Purpose/Subpurpose</label>
                    <input type="text" id="purposeInput" [(ngModel)]="purposeFilter" [ngbTypeahead]="purposeSearch" [focusFirst]="false">
                </div>
            </div>
        </div>
    </div>

</div>