@import "~assets/styles/base.scss";

#applist-filters {
    left: 400px; // width of applist-list + margins

    .leaflet-custom-control {
        background-color: white;
        border: 2px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        background-clip: padding-box;
        box-shadow: none;
    }

    .list-container {
        // @include flex-box();
        // @include flex-direction(column);
        // @include flex(0 0 auto);

        .accordion__collapse-header--column {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            width: 100%;
            text-align: unset;
            .material-icons {
                vertical-align: bottom;
            }
        }

        .list-container-options {
            @include flex(0 0 auto);
            padding: 0.5rem;
            font-size: medium;

            .dropdown {
                margin: 0.5rem 0;
            }
            .dropdown-item {
                padding: 0 0.75rem;
                input {
                    margin-right: 1rem;
                }
            }
            .title {
                font-size: small;
                font-weight: bold;
                color: $primary;
                margin: 0.25rem 0;
            }
            input[type=text],
            input[type=number] {
                // width: 100%;
                height: 2rem;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &__buttons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            &__buttons>* {
                margin-left: 1rem;
            }

            // make the drop-down menu display scroll-bar if too tall
            // TODO: make this work
            ngb-typeahead-window {
                max-height: 100%;
                overflow-y: auto;
            }
        }
    }
}