<!-- only show when submitting larger submissions -->
<div class="modal-content progress-content" *ngIf="submitting && (totalSize > 100000)"> 
  <div class="modal-body">
    <h4 class="modal-title">Submitting your comment...</h4>
    <mat-progress-bar color="primary" mode="buffer" [value]="progressValue" [bufferValue]="progressBufferValue"></mat-progress-bar>
  </div>
</div>

<!-- FIRST PAGE -->
<form #preCommentForm="ngForm">
  <div class="modal-content" *ngIf="this.currentPage === 1">
    <div class="modal-header">
      <h4 class="modal-title">Submit a Comment</h4>
      <button class="btn btn-icon close-btn gtm-submit-comment_cancel-pg1" type="button" aria-label="Close" (click)="activeModal.dismiss('dismissed page1')">
        <i class="material-icons">
          close
        </i>
      </button>
    </div>

    <div class="modal-body">
      <section>
        <h2>How it Works</h2>
        <p>All accepted comments submitted to the Environmental Assessment Office (EAO) will be published online within seven days of receipt. Comments are not accepted if - in EAO’s view - they are profane, abusive or do not relate to the matter being consulted upon as stated in our  <a href="https://www2.gov.bc.ca/assets/gov/environment/natural-resource-stewardship/environmental-assessments/commenting-on-projects/eao-public-comment-policy.pdf" target="_blank">Public Comment Policy [PDF]</a>.</p>
        <p>EAO forwards all accepted comments to the project proponent so they can be considered during the project's environmental assessment.</p>
        <p><strong>EAO requires that you provide your name and city/town</strong> when making a comment, but in order to have your name displayed with your comment; you must select the 'Make my Name visible to public' option. All hyperlinks in comments will be converted to plain text. All attachments must be no larger than <strong>5MB</strong> and must be a <strong>.png, .pdf, .gif, .jpg, .jpeg, or .bmp</strong> file.</p>
      </section>
      <section class="m-b-0">
        <h2>Privacy Policy</h2>
        <p>Personal information collected through this comment period will inform the Environmental Assessment Office on the <em>PROJECT.NAME Project</em> under the authority of s.26 (c) and (e) of the <a href="http://www.bclaws.ca/Recon/document/ID/freeside/96165_00" target="_blank">Freedom of Information and Protection of Privacy Act</a>. If you have any questions about the collection, use and disclosure of your personal information, please contact:</p>
        <p class="m-b-0">Director, Engagement &amp; Digital Services<br>Environmental Assessment Office<br>836 Yates Street, Victoria, BC<br>epicsupport.eao@gov.bc.ca<br>(250) 356-7441
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="p1_next()">Next</button>
    </div>
  </div>
</form>

<!-- Contact Information Form-->
<form #commentForm1="ngForm" (ngSubmit)="register()">
  <div class="modal-content" *ngIf="this.currentPage === 2">
    <div class="modal-header">
      <h4 class="modal-title">Submit a Comment</h4>
      <button class="btn btn-icon close-btn gtm-submit-comment-cancel-pg2" type="button" aria-label="Close" (click)="activeModal.dismiss('dismissed page2')">
        <i class="material-icons">
          close
        </i>
      </button>
    </div>
    <div class="modal-body">
      <fieldset>
          <div class="form-group">
            <label class="control-label">Name (required)</label>
            <div class="form-control-container">
              <input class="form-control" type="text" name="nameInput" placeholder="Anonymous"
                id="nameInput" [(ngModel)]="contactName" autofocus />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" >Location (required)</label>
            <input class="form-control" type="text" name="locationInput" placeholder="IE: City, Province, etc."
              id="locationInput" [(ngModel)]="locationInput" autofocus />
          </div>
          <div class="form-group">
            <label class="control-label" >Make my Name visible to the public.</label>
            <input type="checkbox" aria-label="Checkbox for row item" name="anonymous" [(ngModel)]='makePublic'><label class="control-label" >All comments are submitted anonymously by default. Checking this option will display your Name (if entered) on the public site.</label>
          </div>
          <div class="form-group">
            <label class="control-label" >Your Comment</label>
            <textarea class="form-control" rows="8" name="commentInput" id="commentInput" [(ngModel)]="commentInput" autofocus></textarea>
          </div>

          <app-file-upload [maxFiles]="50" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="commentFiles"
                           (filesChange)="addFiles($event); commentFiles = []"></app-file-upload>
          <ul class="doc-list mb-3" *ngIf="documents?.length > 0">
            <li *ngFor="let doc of documents">
              <span class="cell icon">
                <i class="material-icons">insert_drive_file</i>
              </span>
              <span class="cell name" [title]="doc.displayName || ''">
                <span class="cell__txt-content">{{doc.internalOriginalName}}</span>
              </span>
              <span class="cell actions">
                <button class="btn btn-icon" type="button" title="Remove this file"
                  (click)="deleteFile(doc, documents)">
                  <i class="material-icons">delete</i>
                </button>
              </span>
            </li>
          </ul>
          <div *ngIf="documents?.length === 0">
            <p>No attached files.</p>
          </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light" type="button" (click)="p2_back()">Back</button>
      <button class="btn btn-primary" type="button" (click)="p2_next()" [disabled]="!commentForm1.form.valid">Submit</button>
    </div>
  </div>
</form>

<!-- Success -->
<div class="modal-content thank-you-content" *ngIf="this.currentPage === 3">
  <div class="modal-header">
    <button class="btn btn-icon close-btn gtm-submit-comment-cancel-pg3" type="button" aria-label="Close" (click)="activeModal.dismiss('dismissed page3')">
      <i class="material-icons">
        close
      </i>
    </button>
  </div>
  <div class="modal-body">
    <div class="thank-you-icon"></div>
    <h4>Thank you for your comment!</h4>
    <p>All comments will be provided to the decision maker.</p>
    <button class="btn btn-primary gtm-submit-comment-done" type="button" (click)="activeModal.close('closed page4')">Back to Application Details</button>
  </div>
</div>