@import "~assets/styles/base.scss";

app-applications:host {
    // @include flex-box();
    // @include flex-direction(column);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5rem; // height of footer
    left: 0;
}

.applications {
    // @include flex-box();
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    app-applist-map {
        @include flex(1 1 auto);
        // position: relative;
        // display: block;
        // height: 100%;
        // overflow: hidden;
    }
}