@import "~assets/styles/base/base.scss";

$toggle-list-anim-duration: 0.2s;
$map-component-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);

app-applications:host {
  position: absolute;     // We need to set absolute here --- the map component exhibits some funky behaviour when leveraging flexbox on it's parent container
  top: 3.7rem;            // Offset height of header
  right: 0;
  bottom: 2rem;
  left: 0;
}

@media (min-width: 768px) {
  app-applications:host {
    top: 4.2rem;            
  }
}

.applications-view {
  @include flex-box();
  @include flex-flow(column nowrap);
  position: absolute;
  width: 100%;
  height: 100%;
}

// Application Filters
.app-filters {
  @include flex(0 0 auto);
  display: block;
  z-index: 1004;
}

@media (min-width: 1200px) {
  .app-filters {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    margin-left: -24rem;
    width: 48rem;
    z-index: 999;
    box-shadow: $map-component-shadow;
    transition: left ease-out $toggle-list-anim-duration;
  }
}

// List Container
.app-list-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 3rem;
  z-index: 1002;
  transform: translateX(-100%) translateX(-3rem);
  transition: transform ease-out $toggle-list-anim-duration;
  border-top: 1px solid #ddd;
}

// List Container {
@media (min-width: 768px) {
  .app-list-container {
    width: 22rem;
  }
}

@media (min-width: 1200px) {
  .app-list-container {
    border-top: none;
  }
}

.toggle-app-list-btn {
  position: absolute;
  top: 0.8rem;
  right: -35px;
  padding: 0;
  width: 36px;
  height: 3rem;
  z-index: 1003;
  box-shadow: $map-component-shadow;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  transition: left ease-out $toggle-list-anim-duration; 
  clip: rect(0,3.5rem,3.5rem,0);

  i {
    margin-top: 0.4rem;
    margin-right: 0.1rem;
    font-size: 1.875rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity ease-out $toggle-list-anim-duration;
}


// Container for the List and Map components
.app-list-map-container {
  @include flex(1 1 auto);
  position: relative;
}

// Application List Open / Closed State
.app-list-open {
  .app-list-container {
    box-shadow: $map-component-shadow;
    transform: translateX(0) translateX(-3rem);
  }

  .overlay {
    z-index: 1001;
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .app-list-open {
    .overlay {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .app-list-open {
    .app-filters {
      left: calc(50% + 12.5rem);
    }
  }
}