@import "~assets/styles/base/base.scss";

$toggle-list-anim-duration: 0.2s;
$map-component-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);

app-applications:host {
  position: absolute;     // We need to set absolute here --- the map component exhibits some funky behaviour when leveraging flexbox on it's parent container
  top: 3.7rem;            // Offset height of header
  right: 0;
  bottom: 2rem;
  left: 0;
}

.applications-view {
  @include flex-box();
  @include flex-flow(column nowrap);
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .applications-view {
    @include flex-flow(row nowrap);
  }
}

// Side Navigation
$side-nav-bg: #0050a1;
$side-nav-color: #fff;

.side-nav {
  @include flex(0 0 auto);
  position: relative;
  order: 0;
  background: $side-nav-bg;
}

.side-nav ul {
  margin: 0;
  padding: 0;
  background: $side-nav-bg;
  list-style-type: none;
}

.side-nav ul li {
  display: inline-block;
}

.side-nav .btn {
  display: block;
  width: 6rem;
  height: 4.5rem;
  color: rgba($side-nav-color, 0.6);
  background: $side-nav-bg;
  border-radius: 0;
  border: none;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 700;

  i {
    vertical-align: top;
  }
}

@media (min-width: 1024px) {
  .side-nav {
    z-index: 1002;
    width: 6rem;
    height: 100%;
    border-bottom: none;

    li {
      display: block;
    }
  }

  .side-nav .btn.active {
    color: $side-nav-color;
    border: none;
    background: lighten($side-nav-bg, 10%);
    box-shadow: none;
  }
}

// Side Panel
$side-panel-width-lg: 30rem;
$side-panel-bg: #fff;

.side-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: transform ease-out 0.2s;
  z-index: 1001;
  background: $side-panel-bg;

  &.open {
    transform: translateX(0);
  }

  ::ng-deep {
    .flex-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: 1024px) {
  .side-panel {
    @include flex(0 0 auto);
    position: relative;
    width: 0;
    transform: none;
    transition: width ease-out 0.2s;
    box-shadow: 0 0.5rem 0.5rem #ccc;

    &.open {
      width: $side-panel-width-lg;
    }

    ::ng-deep {
      .flex-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: $side-panel-width-lg;
      }
    }
  }
}

.side-panel__close-btn {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  z-index: 10000;
}

.main-panel {
  @include flex(1 1 auto);
  position: relative;
}

@media (min-width: 768px) {
  app-applications:host {
    top: 4.2rem;            
  }
}