<div class="applications-view">
  <h1 class="sr-only">Find Applications in British Columbia</h1>

  <div class="side-nav">
    <ul>
      <li class="side-nav-item"
        [ngClass]="{'active': isSidePanelVisible && isFindAppsVisible}">
        <button class="btn" (click)="toggleFind()">
          <i class="material-icons">search</i>
          <div>Find</div>
        </button>
      </li>
      <li class="side-nav-item"
        [ngClass]="{'active': isSidePanelVisible && isExploreAppsVisible}">
        <button class="btn" (click)="toggleExplore()">
          <i class="material-icons">visibility</i>
          <div>Explore</div>
        </button>
      </li>
      <li class="side-nav-item"
        [ngClass]="{'active': isSidePanelVisible && isAppDetailsVisible}">
        <button class="btn" (click)="toggleDetails()">
          <i class="material-icons">info</i>
          <div>Details</div>
        </button>
      </li>
    </ul>
  </div>

  <div class="side-panel" [ngClass]="isSidePanelVisible ? 'open':'closed'">
    <button class="side-panel__close-btn btn btn-icon" (click)="closeSidePanel()">
      <i class="material-icons">close</i>
    </button>
    <app-details #appdetail
      (setCurrentApp)="updateDetails($event, true)"
      (unsetCurrentApp)="updateDetails($event, false)"
      [hidden]="!isAppDetailsVisible">
    </app-details>
    <app-applist-filters #appfilters
      (updateFilters)="updateFindFilters($event)"
      (showSidePanel)="isSidePanelVisible=$event"
      [hidden]="!isFindAppsVisible">
    </app-applist-filters>
    <app-explore #appexplore
      (updateFilters)="updateExploreFilters($event)"
      (showSidePanel)="isSidePanelVisible=$event"
      [hidden]="!isExploreAppsVisible">
    </app-explore>
  </div>

  <div class="main-panel">
    <app-applist-list class="app-list" style="display: none;" #applist
      [applications]="apps"
      [isListVisible]="isApplicationsListVisible"
      (setCurrentApp)="appmap.onHighlightApplication($event, true)"
      (unsetCurrentApp)="appmap.onHighlightApplication($event, false)">
    </app-applist-list>
    <app-applist-map class="app-map" #appmap
      [applications]="apps"
      [isMapVisible]="isApplicationsMapVisible"
      (toggleCurrentApp)="applist.toggleCurrentApp($event)"
      (updateCoordinates)="updateCoordinates($event)">
    </app-applist-map>
  </div>

</div>