<div class="applications-view" [ngClass]="configService.isApplistListVisible ? 'app-list-open':'app-list-closed'">
  <h1 class="sr-only">Find Projects in British Columbia</h1>

  <app-applist-filters class="app-filters" #appfilters
    [applications]="filterApps"
    (updateMatching)="updateMatching()">
  </app-applist-filters>

  <div class="app-list-map-container">
    <div class="app-list-container">
      <app-applist-list class="app-list" #applist
        [applications]="listApps"
        (setCurrentApp)="highlightApplication($event, true)"
        (unsetCurrentApp)="highlightApplication($event, false)">
      </app-applist-list>
      <button class="toggle-app-list-btn btn" title="Show/hide list of applications" type="button"
        (click)="toggleAppList();$event.stopPropagation();" aria-controls="applist-list">
        <i class="material-icons">{{configService.isApplistListVisible ? 'keyboard_arrow_left':'keyboard_arrow_right'}}</i>
      </button>
    </div>

    <div class="overlay" (click)="toggleAppList();$event.stopPropagation();"></div>

    <app-applist-map class="app-map" #appmap
      [applications]="mapApps"
      [applist]="applist"
      [appfilters]="appfilters"
      (updateVisible)="updateVisible()"
      (reloadApps)="reloadApps()">
    </app-applist-map>
  </div>

</div>