@import "~assets/styles/base/base.scss";

app-applications:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3rem; // height of 2-line footer
    left: 0;
}

.applications {
    @include flex-box();
    @include flex-flow(column nowrap);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (min-width: 483px) {
    app-applications:host {
        bottom: 1.75rem; // height of single-line footer
    }
}