@import "~assets/styles/base.scss";

.modal-dialog {
    .modal-header {
        background-color: #f1f1f1;
        button {
            cursor: pointer;
        }
        .comment-author {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.2rem;
            color: $primary;
        }
    }
    .modal-body {
        // max-height: 70vh; // worst-case (Pixel 2)
        overflow-y: auto;
        p {
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }
        a {
            display: inline-flex;
        }
        .title {
            font-size: 1.2rem;
            font-weight: bold;
            color: $primary;
            margin-bottom: 5px;
        }
    }
    .modal-footer {
        background-color: #f1f1f1;
        button {
            cursor: pointer;
        }
    }
}