<div class="tab-pane" role="tabpanel">
    <section class="tab-section" *ngIf="application">
        <div class="status mb-3">
            {{applicationService.getStatus(application)}}
        </div>

        <div>
            <div *ngIf="!application.decision && applicationService.isDecision(application.status)">
                No decisions documents are available at this time. Please check back for updates to this information.
            </div>

            <div *ngIf="!application.decision && !applicationService.isDecision(application.status)">
                No decisions have been made for this application at this time.
            </div>

            <div *ngIf="application.decision">
                <h2 class="title">Description</h2>
                <p class="mb-3" [innerHTML]="application.decision.description | newlines"></p>

                <h2 class="title">Decision Documents</h2>
                <div *ngIf="application.decision.documents.length === 0">
                    <em>No documents have been uploaded for this decision.</em>
                </div>

                <div class="row">
                    <div class="col-12" *ngFor="let document of application.decision.documents">
                        <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">
                            <i class="material-icons">attachment</i>&nbsp;{{document.documentFileName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>