<div class="hero-banner hb-sm">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <h1 tabindex="0">Modernizing Land Use Planning</h1>
        <p>The B.C. government is committed to working in partnership with Indigenous governments and in collaboration with
        communities, local governments, industry, and other stakeholders to resolve current land and resource management
        challenges.</p>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section>
        <p>Visit the B.C. government’s <a class="paragraph-link" href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/land-use-planning">land use planning</a>
        program homepage to access provincial land use planning policy and
        guidance, completed provincial land use plans and legal direction, and spatial data.</p>
        <p>Land use planning will be a transparent and public facing process. As such, the B.C. government has developed this site
        to better serve the public and regional stakeholders throughout active land use planning projects by improving the
        delivery of land use planning information. This site provides access to project information, supporting documents,
        reports and analyses of all active land use planning projects. This site is also the primary portal for the public and
        stakeholders to submit project-specific comments and feedback to technical planning teams and to stay engaged in
        projects.</p>
        <p>Land use planning is an important component of resource management. It sets high-level direction to help define what can
        occur on the land base. Provincial public land accounts for 94% of B.C.’s land base, and more than 90% of public lands
        are covered by an existing land use plan. Land use plans integrate objectives and strategies for land and resource uses,
        providing resource managers with a tool to manage land and natural resources, including forests, fish, wildlife, and
        waters.</p>
        <p>However, many of B.C.’s existing land use plans are dated and no longer account for today’s land and resource management
        challenges. Further, many plans were developed with little involvement of Indigenous Peoples. Today’s land and resource
        management challenges require a renewed approach to land use planning. Key drivers include:</p>
        <ul>
          <li><strong>Reconciliation</strong> with Indigenous communities and the B.C. government’s commitment to implement the United Nations
          Declaration on the Rights of Indigenous Peoples.</li>
          <li><strong>Ensuring communities and stakeholders</strong> are engaged in land and resource planning.</li>
          <li><strong>A growing economy</strong> and increased demand on natural resources and the need to balance economic, environmental, social,
          and cultural objectives.</li>
          <li><strong>Increasing complexity</strong> as a result of climate change and factors that affect the land base, including species-at-risk
          management, wildfires, flooding, and drought.</li>
          <li><strong>Addressing cumulative effects</strong> on natural resource values.</li>
        </ul>
        <p>The B.C. government, led by the Ministry of Forests, Lands, Natural Resource Operations and Rural Development, and the
        Ministry of Indigenous Relations and Reconciliation, is modernizing its approach to land use planning and is committed
        to increased collaboration in the stewardship of natural resources to reflect the diverse values and interests of
        British Columbians.</p>
        <p>The modernized approach to land use planning will include partnerships with Indigenous governments, collaboration with
        local governments, and extensive engagement with local communities, industry, stakeholders and the public. Visit the <a class="paragraph-link" href="/engagement" [routerLink]="['/engagement']">Program and Project Engagement</a> page to learn how Indigenous governments and stakeholders have been
        involved in developing the modernized approach.</p>
      </section>
    </main>
  </div>
</section>
