<section aria-label="Land use planning overview" class="hero-banner hb-sm">
  <div class="hero-banner__container">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1 tabindex="-1">Land Use Planning</h1>
          <p>
            Land use planning supports stewardship of cultural values, healthy ecosystems, and
            opportunities for economic activities by setting broad strategic land use direction
             for plan areas — providing clarity for ‘what’ can occur ‘where’ on public land and water.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section class="container">
        <div class="row">
          <div class="col-md modernizing-intro">
            <p>
              Land use planning is an integral part of British Columbia’s system
              of natural resource stewardship. Land use planning:
            </p>
            <ul>
              <li>addresses complex, strategic land use issues;</li>
              <li>sets land use direction under a variety of legislative frameworks;</li>
              <li>advances reconciliation and partnerships with First Nations;</li>
              <li>fosters ecosystem health and conservation, including climate change resiliency; and</li>
              <li>brings clarity for natural resource economic investment and development objectives.</li>
            </ul>
            <p>
              Existing land use plans cover over 90 percent of public land in B.C. Most were
               completed in the 1990s and early 2000s. They require updates and modifications
               to reflect the current state of ecosystems and socio-economic landscapes and
               to include First Nations’ perspectives.
            </p>
            <p>
              The B.C. government is modernizing land use planning in partnership with First Nations
               to ensure the responsible stewardship and management of land and resources that
               includes the unique values, perspectives, and knowledge of First Nations.
                The partnership approach is in alignment with
                <a href="https://www2.gov.bc.ca/gov/content/governments/indigenous-people/new-relationship/united-nations-declaration-on-the-rights-of-indigenous-peoples">
                  B.C.’s Declaration on the Rights of Indigenous Peoples Act
                  <img class="external-link" src="/assets/images/external-link.png" alt="" />
                </a>,
                 and with B.C.’s commitment to reconciliation and a shared approach to land stewardship.
            </p>
          </div>
          <div class="col-md">
            <img src="assets/images/modernizing-lup-graphic.png" />
          </div>
        </div>
      </section>
      <section>
        <p>
          Land use planning is a transparent and inclusive process that involves engagement
           with local governments, stakeholders, industry, communities, and the public. It
           seeks to support the needs of a growing population and economy while promoting
           ecosystem health, biodiversity, and resilience in the face of emerging challenges,
            including cumulative effects and climate change.
        </p>
        <p>
          Engagement is the process of gathering interests, ideas, and perspectives from various
          groups. It occurs throughout a project to ensure input is understood and considered in
          planning-related decisions and direction.
        </p>
        <p>
          B.C.’s public service is committed to anti-racism and diversity, equity, and
          inclusion strategies to ensure all processes are free from discrimination.
           Racist or discriminatory comments received by planning teams throughout
           land use planning engagement periods will not be tolerated nor considered
            in the final planning outcomes.
        </p>
        <p>
          Visit the B.C. 
            <a href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/land-use-planning">
              government’s land use planning program homepage
              <img class="external-link" src="/assets/images/external-link.png" alt="" />
            </a>
          to learn more about provincial land use planning policy and guidance, completed provincial land use plans and legal direction, and spatial data.
        </p>
        <h2>Land Use Planning Process</h2>
        <p>
          Land use planning takes a phased approach that progressively builds recommended
          options, collecting and conducting analysis on key values identified and engaged
           on throughout the planning process. A land use planning process can be separated
            into four broad stages.
        </p>
        <img src="assets/images/lup-phases.png" alt="The Land Use Planning Phases, in order: the
        Pre-Planning and Initiation stage, the Plan Development stage, the Plan Evaluation and
        Approval stage, and the Implementation and Monitoring stage." />
        <h2>Pre-Planning and Initiation Stage</h2>
        <p>
          In this stage, government-to-government discussions are occurring, and land use
          issues are identified. Governments exchange and share perspectives on what is
           required to resolve challenges. These can be significant land use changes, more
           specific operational changes, or the need for interim measures to resolve issues.
            Governments also exchange ideas for improving land-based reconciliation,
            environmental opportunities, and sustainable economic activities. Collection
            of “base case” or status quo economic information, along with environmental
             information, is undertaken. A final decision is then made on whether land use
             planning is the correct approach. For the Province, a Cabinet and Treasury
              Board mandate is prepared for approval to move to the next planning stages.
        </p>
        <h2>Plan Development Stage</h2>
        <p>
          In this stage, agreements on process and information sharing are prepared, and
          co-developed baseline data continues to be collected. The base case socio-economic
          information continues to evolve as new information is received, and it’s used
          as a foundation against which new land use scenarios can be measured to assess
          changes. The planning partners then develop land use scenarios and options and
          undertake a detailed socio-economic environmental assessment to understand the
           magnitude and impacts, both positive and negative, of proposed shifts. Engagement
            plans are built, and engagement occurs with industry, stakeholders and groups,
             local governments, and the public throughout this phase. Interim protection
             measures also may be recommended by the planning teams for certain areas that
              may be subject to conservation area planning recommendations, in order to
              limit or prevent additional land tenures being acquired while the integrated
               land use plan is being developed.
        </p>
        <h2>Plan Evaluation and Approval Stage</h2>
        <p>
          Following assessments of stakeholder and public input by the planning partners,
          and weighing options against economic, environmental, and reconciliation objectives,
           a final recommendation is prepared for the partner governments to consider.
           The recommendation includes a jointly developed final land use plan with zones
            and direction for strategic land use activities, a fiscal plan for addressing
             implementation costs, and an outline of governance for the plan area by the
             Province and First Nation(s) in the area. The final land use plan must be
             approved by the Province and partner First Nation(s) before it moves to the next stage.
        </p>
        <h2>Implementation and Monitoring Stage</h2>
        <p>
          Following approval, the land use plan moves into the plan implementation stage.
          This is an ongoing process and may take years to fully implement as proper
          governance structures and legislation or regulation(s) are put in place to
          ensure that the planning partners’ shared vision is upheld and applied over
           time. The effectiveness of the plan is monitored by the Province and partner First Nation(s).
        </p>
      </section>
    </main>
  </div>
</section>
