.static-content {
  background: #fff
}

main {

  .modernizing-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
      max-width: 100%;
  }
}

.container {
  padding: 0;
}

.static-content {
  padding: 1.5rem;
}

.external-link {
  padding-bottom: 10px;
}
