<div class="project" id="anchor-point">
  <main class="project-info">
    <div class="hero-banner-alt">
      <div class="container">
        <div class="hero-banner__content">
          <h1>{{project?.name || '-'}}</h1>
          <p class="desc" [innerHTML]="(project?.description || '-') | newlines"></p>
          <div class="basic-info">
            <div>
              <label>Partner First Nation(s)</label>
              <p class="value">{{project?.partner || "-"}}</p>
            </div>
          </div><!--
          <div>
            <a class="btn btn-dark legislation-button" target=”_blank” href="http://www.bclaws.ca/civix/document/id/complete/statreg/02043_01">
              <label>Legislation</label>
              <p>2002 Environmental Assessment Act</p>
            </a>
          </div>-->
        </div>
      </div>
    </div>

    <div *ngIf="project.commentPeriodForBanner" class="container my-4 banner">
      <div class="m-3 py-3">
        <div class="row">
          <div class="col-md-6">
            <h2 class="mb-0">Public Comment Period is {{project.commentPeriodForBanner.commentPeriodStatus}}</h2>
            <h5>{{project.commentPeriodForBanner.dateStarted | date: 'MMMM d'}} -
              {{project.commentPeriodForBanner.dateCompleted | date}}</h5>
          </div>
          <div class="col-md-6 text-right">
            <div *ngIf="project.commentPeriodForBanner.commentPeriodStatus !== Open">
              <button type="button" class="btn btn-light" (click)="goToViewComments()">
                View Details
              </button>
              &nbsp;
              <button class="btn btn-light" (click)="addComment()" type="button"
                *ngIf="project.commentPeriodForBanner.commentPeriodStatus === 'Open'">Submit Comment</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p *ngIf="project.commentPeriodForBanner.informationLabel" class="mb-0">
              This Public Comment Period is regarding the <b>{{project.commentPeriodForBanner.informationLabel}}</b>
            </p>
            <p *ngIf="project.commentPeriodForBanner.informationLabel == null" class="mb-0">
              {{project.commentPeriodForBanner.instructions}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="project-tabs">
      <div class="container">
        <div class="tab-container">
          <div role="navigation">
            <ul class="nav-tabs" role="tablist">
              <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
                <a class="nav-link" role="tab" [routerLink]="tabLink.link" [replaceUrl]="true"
                  routerLinkActive="active">{{tabLink.label}}</a>
              </li>
            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>

    <section class="people">
      <div class="container">
        <h2>Contacts</h2>
        <div class="flex-container">
          <div class="inner-col">
            <h3>Engagement Lead</h3>
            <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                wiid="C937">person</i>{{project?.projectLead?.displayName || "-"}}</p>
            <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                wiid="C937">phone</i>{{project?.projectLead?.phoneNumber || "-"}}</p>
            <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                wiid="C937">email</i><a
                href="mailto:{{project?.projectLead?.email}}">{{project?.projectLead?.email || "-"}}</a></p>
          </div><!--
          <div class="inner-col">
            <h3>Project Director</h3>
            <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                wiid="C937">person</i>{{project?.projectDirector?.displayName || "-"}}</p>
            <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                wiid="C937">phone</i>{{project?.projectDirector?.phoneNumber || "-"}}</p>
            <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                wiid="C937">email</i><a
                href="mailto:{{project?.projectDirector?.email}}">{{project?.projectDirector?.email || "-"}}</a></p>
          </div>-->
        </div>
      </div>
    </section>
  </main>
</div>
