<div class="project" id="anchor-point">
  <main class="project-info">
    <div class="hero-banner-alt" [ngStyle]="{backgroundImage: getBannerURL() }">
      <div class="hero-banner__container">
        <div class="container">
          <div class="hero-banner__content">
            <h1 tabindex="-1">{{project?.name || '-'}}</h1>
            <ul *ngIf="projectLogosWithSource" class="project-logos">
              <li *ngFor="let logo of projectLogosWithSource">
                <a [attr.href]="logo.link ? logo.link : null">
                  <img [src]="logo.source" [alt]="logo.alt"/>
                </a>
              </li>
            </ul>
            <p class="desc" [innerHTML]="(project?.description || '-') | newlines"></p>
            <div class="basic-info">
              <div *ngIf="project?.agreements?.length > 0" class="agreements-label">
                <label>Agreement(s)</label>
              </div>
              <div *ngIf="projectFieldType(project?.agreements) === 'string'" class="agreements">
                <p class="value">{{project?.agreements || "-"}}</p>
              </div>
              <div *ngIf="projectFieldType(project?.agreements) ==='object'" class="agreements">
                <div class="agreement" *ngFor="let agreement of project.agreements; let i=index">
                  <div *ngIf="agreement.agreementName && agreement.agreementUrl else noAgreementURL">
                    <span class="value">
                      <a class="agreement-link" target="_blank" href="{{agreement.agreementUrl}}">
                        {{agreement.agreementName || "-" }}<span *ngIf="i !== project.agreements.length - 1">,</span>
                      </a>
                    </span>
                  </div>
                  <ng-template #noAgreementURL>
                    <p class="value">{{agreement.agreementName || "-" }}</p>
                    <span *ngIf="i !== project.agreements.length - 1">,</span>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="project.commentPeriodForBanner" class="container comment-banner-section">
      <div class="comment-banner-container">

        <div class="comment-banner-top-row">
          <div class="comment-banner-heading">
            <h2 class="mb-0">{{project?.engagementLabel || 'Public Comment Period'}} is {{project.commentPeriodForBanner.commentPeriodStatus}}</h2>
            <h3>{{project.commentPeriodForBanner.dateStarted | date: 'MMMM d'}} -
              {{project.commentPeriodForBanner.dateCompleted | date: 'longDate'}}</h3>
          </div>
          <div class="comment-banner-buttons">
            <button type="button" class="btn btn-light" (click)="goToViewComments()" [attr.aria-label]="CPActionAriaLabel(project.name, 'view')">
              View Details
            </button>
            <button class="btn btn-light" (click)="handleParticipate()" type="button" *ngIf="project.commentPeriodForBanner.commentPeriodStatus === 'Open'" [attr.aria-label]="CPActionAriaLabel(project.name, 'submit')">
              Participate Now
            </button>
          </div>
        </div>
        
        <div class="comment-banner-paragraph">
          <p *ngIf="project.commentPeriodForBanner.informationLabel">
            This {{project?.engagementLabel || 'Public Comment Period'}} is regarding the <b>{{project.commentPeriodForBanner.informationLabel}}</b>
          </p>
          <p *ngIf="project.commentPeriodForBanner.informationLabel == null">
            {{project.commentPeriodForBanner.instructions}}
          </p>
        </div>
      </div>
    </div>

    <section class="project-tabs">
      <div class="container">
        <div class="tab-container">
          <div role="navigation">
            <ul class="nav-tabs" role="tablist">
              <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
                <a class="nav-link" role="tab" [routerLink]="tabLink.link" [replaceUrl]="true"
                  routerLinkActive="active">{{tabLink.label}}</a>
              </li>
            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>

    <section class="people">
      <div class="container">

        <div class="people-item">

          <button *ngIf="project?.contactFormEnabled" class="btn btn-small contact-anonymous" (click)="launchContactForm()" type="button">
            <i _ngcontent-c11="" class="material-icons-outlined button-icon" role="presentation" wiid="C937" aria-hidden="true">email</i>
            <br>
            <span>Contact the Project Team</span>
          </button>

          <div *ngIf="!project?.contactFormEnabled" class="contact-info">

            <h2 class="people-contact-heading">Contact</h2>

            <p *ngIf="project?.projectLead?.displayName">
              <i _ngcontent-c11="" class="material-icons-outlined mr-3" role="presentation" wiid="C937" aria-hidden="true">person</i>
              <span>{{project?.projectLead?.displayName}}</span>
            </p>

            <p>
              <i _ngcontent-c11="" class="material-icons-outlined mr-3" role="presentation" wiid="C937" aria-hidden="true">work_outline</i>
              <span>Engagement Lead</span>
            </p>

            <p *ngIf="project?.projectLead?.phoneNumber">
              <i _ngcontent-c11="" class="material-icons-outlined mr-3" role="presentation" wiid="C937" aria-hidden="true">phone</i>
              <span>{{project?.projectLead?.phoneNumber}}</span>
            </p>

            <p *ngIf="project?.projectLead?.email">
              <i _ngcontent-c11="" class="material-icons-outlined mr-3" role="presentation" wiid="C937" aria-hidden="true">email</i>
              <a class="contacts-link" href="mailto:{{project?.projectLead?.email}}">
                <span>{{project?.projectLead?.email}}</span>
              </a>
            </p>

          </div>
        </div>
        <div class="people-item">

          <button class="btn btn-small sign-up" (click)="addEmail()" type="button">
            <i _ngcontent-c11="" class="material-icons-outlined button-icon" role="presentation" wiid="C937" aria-hidden="true">notifications_none</i>
            <br>
            <span>Sign up for project updates</span>
          </button>

        </div>
      </div>
    </section>
  </main>
</div>
