@import "~assets/styles/base.scss";
app-application-detail:host {
    display: block;
    // margin-top: 68px;
    z-index: 998;
}

@media (max-width: 991px) {
    //   app-application-detail:host {
    //     margin-top: 52px;
    //   }
}

.map-thumbnail {
    .map {
        position: relative;
        height: 300px;
        outline: none;
        touch-action: none;
        background-color: #445a71;
    }
}

.application-detail {
    .badge {
        text-transform: uppercase;
        font-size: 0.725rem;
        &-light {
            background: #ddd;
        }
    }
}

.container {
    padding: 2rem;
    .application-tombstone {
        >section {
            overflow-y: auto;
            background-color: #fff;
            padding: 1rem;
            border: 1px #ccc solid;
            border-radius: 5px;
            .item {
                word-wrap: break-word;
                border: 1px #ccc solid;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 0.5rem;
                margin-left: 0;
                margin-right: 0;
                >div {
                    padding: 0px;
                }
            }
            .item:last-of-type {
                margin-bottom: 0;
            }
            .organization-item {
                color: #fff;
                background-color: #38598a;
                padding: 5px 10px;
                p {
                    font-size: large;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
            .title {
                font-size: larger;
                font-weight: bold;
                color: $primary;
                margin-bottom: 5px;
            }
            label {
                font-weight: bold;
                color: $primary;
                margin-bottom: 0;
            }
            .value {
                font-size: smaller;
                line-height: 1.25rem;
                margin-bottom: 5px;
            }
            .map-item {
                display: table;
                width: 100%;
                overflow: hidden;
                &__thumbnail {
                    height: 250px;
                    transform: scale(1.4);
                }
                &:hover {
                    border: 1px #bbb solid;
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }
    .application-tabs {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        >button {
            margin-bottom: 1rem;
        }
        >section {
            position: relative;
            background-color: #fff;
            margin-top: 1rem;
            padding: 1rem;
            border: 1px #ccc solid;
            border-radius: 5px;
            min-height: 20rem;
            ul.nav-tabs {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        .application-tombstone {
            margin-bottom: 1rem;
        }
    }
}

.map-thumbnail {
    .map-container {
        display: block;
        position: relative;
        overflow: hidden;
        height: 250px;
        esri-map {
            @include fill-parent(absolute);
        }
    }
    .map {
        transform: scale(1.4);
    }
}

@media (min-width: 992px) {
    .application-detail {
        &:before {
            content: " ";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            height: 68px;
            border-bottom: 4px solid gold;
            background: $header-bg;
        }
    }
}