<div class="container application-detail" id="anchor-point">
  <div class="row">
    <div class="col-md-4 application-detail__meta">
      <section>
        <div class="item">
            <p class="title">{{application.proponent ? application.proponent.name : '-'}}</p>
            <div class="row">
            <div class="col-lg-6">
              <label class="name">Purpose</label>
              <p class="value">{{application.purpose | titlecase}}</p>
            </div>
            <div class="col-lg-6">
              <label class="name">Subpurpose</label>
              <p class="value">{{application.subpurpose | titlecase}}</p>
            </div>
          </div>
        </div>
        <div class="item map-section">
          <div class="map-section__thumbnail" (click)="gotoMap()">
            <app-application-map [application]="application" [zoom]="4"></app-application-map>
          </div>
        </div>
        <div class="item">
          <label class="name">Description</label>
          <p class="value" [innerHTML]="application.description | newlines"></p>
        </div>
        <div class="item">
          <label class="name">Crown Land File(s)</label>
          <p class="value">{{application.cl_files ? application.cl_files.join(', ') : 'none'}}</p>
        </div>
        <div class="item row">
          <div class="col-lg-6">
            <label class="name">Area (ha)</label>
            <p class="value">{{(application.areaHectares != NaN) ? application.areaHectares : '-'}}</p>
          </div>
          <div class="col-lg-6">
            <label class="name">Location</label>
            <p class="value">{{application.location}}</p>
          </div>
          <div class="col-lg-6">
            <label class="name">Region</label>
            <p class="value">{{application.region}}</p>
          </div>
        </div>
        <div class="item row">
          <div class="col-lg-6">
            <label class="name">Tenure Type</label>
            <p class="value">{{application.type | titlecase}}</p>
          </div>
          <div class="col-lg-6">
            <label class="name">Tenure Subtype</label>
            <p class="value">{{application.subtype | titlecase}}</p>
          </div>
          <div class="col-lg-6">
            <label class="name">Tenure Stage</label>
            <p class="value">{{application.stageCode}}</p>
          </div>
        </div>
        <div class="item">
          <label class="name">Contact</label>
          <p class="value">Name
            <br>Email
            <br>Address
            <br>Phone</p>
        </div>
      </section>
    </div>

    <main class="col-md-8 application-detail__tabs">
      <section>
        <h2 class="title">{{application.proponent ? application.proponent.name : '-'}}</h2>
        <p>Application: <strong>{{application.status | titlecase}}</strong><br>
        Commenting: <strong>{{application.commentingStatus | titlecase}}</strong></p>
        <button disabled>Add Comment</button>
        <div role="navigation">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
              <a class="nav-link" role="tab" [routerLink]="tabLink.link" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">{{tabLink.label}}</a>
            </li>
          </ul>
        </div>
        <router-outlet></router-outlet>
      </section>
    </main>
  </div>
</div>