@import "~assets/styles/base.scss";
app-application-detail:host {
    display: block;
    // margin-top: 68px;
    z-index: 998;
}

.application-detail {
    main {
        overflow-y: auto;
        background-color: #fff;
        padding: 1rem;
        border: 1px #ccc solid;
        border-radius: 5px;
        section {
            word-wrap: break-word;
            border: 1px #ccc solid;
            border-radius: 5px;
            padding: 10px;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0;
            margin-right: 0;
            >div {
                padding: 0px;
            }
        }
        section:last-of-type {
            margin-bottom: 0;
        }
        .title {
            font-size: larger;
            font-weight: bold;
            color: $primary;
            margin-bottom: 5px;
        }
        label {
            font-weight: bold;
            color: $primary;
            margin-bottom: 0;
        }
        .value {
            font-size: smaller;
            line-height: 1.25rem;
            margin-bottom: 5px;
        }
        .organization-item {
            margin-top: 0;
            color: #fff;
            background-color: #38598a;
            padding: 5px 10px;
            p {
                font-size: large;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .application-item {
            // .commenting-item {
            //     background-color: #ddd;
            //     margin: -10px -10px 0 -10px;
            //     padding: 5px 10px;
            //     font-weight: bold;
            // }
            .badge {
                text-transform: uppercase;
                font-size: 0.725rem;
                &-light {
                    background: #ddd;
                }
            }
        }
        .map-item {
            .map-container {
                display: block;
                position: relative;
                overflow: hidden;
                height: 250px;
            }
            .map {
                position: relative;
                height: 300px;
                outline: none;
                touch-action: none;
                background-color: #445a71;
                transform: scale(1.4);
            }
        }
        .shape-info-item {
            hr {
                margin: 1rem 0;
            }
        }
    }
    aside {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 0;
        button {
            margin-bottom: 1rem;
        }
        >section {
            position: relative;
            background-color: #fff;
            padding: 1rem;
            border: 1px #ccc solid;
            border-radius: 5px;
            min-height: 20rem;
            ul.nav-tabs {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (max-width: 991px) {
    .application-detail {
        main {
            margin-bottom: 1rem;
        }
    }
}

@media (min-width: 992px) {
    .application-detail {
        &:before {
            content: " ";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            height: 68px;
            border-bottom: 4px solid gold;
            background: $header-bg;
        }
        aside {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}