@import "~assets/styles/base.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
.application-detail {
    background: #ddd;
    margin: auto;
    padding: 2rem;
    &__meta>section {
        padding: 15px;
        background-color: white;
        border: 1px black solid;
        border-radius: 5px;
        >div {
            word-wrap: break-word;
            border: 1px #eee solid;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 0.5rem;
        }
        .title {
            font-weight: bold;
            color: #002663;
            margin-bottom: 0.5rem;
        }
        .name {
            font-weight: bold;
            color: #002663;
            margin-bottom: 0;
        }
        .value {
            font-size: smaller;
            line-height: 1.25rem;
            margin-bottom: 0.5rem;
        }
        .map-section {
            display: table;
            width: 100%;
            overflow: hidden;
            &__thumbnail {
                transform: scale(1.4);
            }
            &:hover {
                border: 1px #bbb solid;
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    &__tabs>section {
        position: relative;
        padding: 15px;
        background-color: white;
        min-height: 30rem;
        border: 1px black solid;
        border-radius: 5px;
        >button {
            position: absolute;
            right: 1em;
        }
    }
    .application-links {
        padding-top: 1rem;
    }
    .application-description {
        p {
            margin: 0;
            padding: 0.5rem 0.75rem;
        }
    }
    .application-details {
        // font-size: 0.85rem;
        &--list {
            li {
                @include align-items(start);
                +li {
                    border-top: 1px solid #fff;
                }
            }
            .name,
            .value {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 50%;
            }
        }
    }
}

@media (max-width: map-get($grid-breakpoints, md)) {
    .application-detail {
        &__meta {
            margin-bottom: 15px;
        }
    }
}