<div class="container" id="anchor-point">
  <div class="row">
    <main class="col-lg-5 application-tombstone">
      <section>
        <div class="item proponent-item">
          <p>{{application.proponent ? application.proponent.name : '-'}}</p>
        </div>

        <div class="item">
          <div class="row">
            <div class="col">
              <p class="title">{{applicationService.getStatus(application)}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Purpose</label>
              <p class="value">{{application.purpose | titlecase}}</p>
            </div>
            <div class="col-sm-6">
              <label>Subpurpose</label>
              <p class="value">{{application.subpurpose | titlecase}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="title">{{commentPeriodService.getStatus(application.currentPeriod)}}</p>
            </div>
          </div>
        </div>

        <div class="item map-item">
          <div class="map-item__thumbnail" (click)="gotoMap()" title="Click to see full page map">
            <app-application-map [application]="application" [zoom]="6"></app-application-map>
          </div>
        </div>

        <div class="item">
          <label>Description</label>
          <p class="value" [innerHTML]="application.description | newlines"></p>
        </div>

        <div class="item row">
          <div class="col-sm-6">
            <label>Area (ha)</label>
            <p class="value">{{(application.areaHectares != NaN) ? application.areaHectares : '-'}}</p>
          </div>
          <div class="col-sm-6">
            <label>Location</label>
            <p class="value">{{application.location}}</p>
          </div>
          <div class="col-sm-6">
            <label>Region</label>
            <p class="value">{{application.region}}</p>
          </div>
        </div>

        <div class="item row">
          <div class="col-sm-6">
            <label>Tenure Type</label>
            <p class="value">{{application.type | titlecase}}</p>
          </div>
          <div class="col-sm-6">
            <label>Tenure Subtype</label>
            <p class="value">{{application.subtype | titlecase}}</p>
          </div>
        </div>

        <div class="item">
          <label>Crown Land File(s)</label>
          <p class="value">{{application.cl_files ? application.cl_files.join(', ') : '-'}}</p>
        </div>
      </section>
    </main>

    <!-- TODO: instead of the tabs, this could be a map -->
    <aside class="col-lg-7 application-tabs">
      <section>
        <button class="btn btn-warning" (click)="addComment()" *ngIf="commentPeriodService.isOpen(application.currentPeriod)">Add Comment</button>
        <div role="navigation">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
              <a class="nav-link" role="tab" [routerLink]="tabLink.link" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive">{{tabLink.label}}</a>
            </li>
          </ul>
        </div>

        <router-outlet></router-outlet>

      </section>
    </aside>
  </div>
</div>