@import "~assets/styles/base.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
.container {
    padding: 2rem;
    .application-tombstone {
        >section {
            background-color: #fff;
            padding: 1rem;
            border: 1px #ccc solid;
            border-radius: 5px;
            .item {
                word-wrap: break-word;
                border: 1px #ccc solid;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 0.5rem;
                margin-left: 0;
                margin-right: 0;
                >div {
                    padding: 0px;
                }
            }
            .proponent-item {
                color: #fff;
                background-color: #38598a;
                padding: 5px 10px;
                p {
                    font-size: large;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
            span.badge {
                margin-bottom: 5px;
            }
            .title {
                font-size: larger;
                font-weight: bold;
                color: $primary;
                margin-bottom: 5px;
            }
            label {
                font-weight: bold;
                color: $primary;
                margin-bottom: 0;
            }
            .value {
                font-size: smaller;
                line-height: 1.25rem;
                margin-bottom: 5px;
            }
            .map-item {
                display: table;
                width: 100%;
                overflow: hidden;
                &__thumbnail {
                    height: 250px; // TODO: make this proportional to parent width
                    transform: scale(1.4);
                }
                &:hover {
                    border: 1px #bbb solid;
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }
    .application-tabs {
        margin-top: 0;
        >button {
            margin-bottom: 1rem;
        }
        >section {
            position: relative;
            background-color: #fff;
            padding: 1rem;
            border: 1px #ccc solid;
            border-radius: 5px;
            min-height: 20rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .container {
        .application-tombstone {
            margin-bottom: 1rem;
        }
    }
}