@import "~assets/styles/base.scss";

.map-container {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.map {
    position: relative;
    height: 100%;
    outline: none;
    touch-action: none;
    background-color: #445a71;
}