// Base
@import "~assets/styles/base.scss";

:host {
    @include flex-box;
    @include flex-direction(column);
    @include fill-parent(fixed);
    margin-top: 55px;
}

@media (min-width: 1200px) {
    :host {
        margin-top: 66px;
    }
}

.map-container {
    @include flex(1 1 auto);
    position: relative;

    esri-map {
        @include fill-parent(absolute);
    }
}

@media (min-width: 1024px) {
    .map-container {
        &:before {
            content: ' ';
            position: absolute;
            top: -66px;
            left: 0;
            width: 100%;
            height: 66px;
            background-color: $header-bg;
        }
    }
}
