<div class="popup-content" *ngIf="!app">
  Loading application details...
</div>

<div class="popup-content" *ngIf="app">
  <div class="file-number">Crown Land File: {{app['clFile'] || '-'}}</div>

  <div class="applicant-name">{{app['applicants'] | titlecase}}</div>
  <div class="purpose">{{app.purpose | titlecase}} - {{app.subpurpose | titlecase}}</div>

  <ul class="status-container">
    <li class="app-status"
      [ngClass]="{
        'abandoned':        applicationService.isAbandoned(app.appStatusCode),
        'under-review':     applicationService.isApplicationUnderReview(app.appStatusCode),
        'review-complete':  applicationService.isApplicationReviewComplete(app.appStatusCode),
        'approved':         applicationService.isDecisionApproved(app.appStatusCode),
        'not-approved':     applicationService.isDecisionNotApproved(app.appStatusCode),
        'unknown':          applicationService.isUnknown(app.appStatusCode)
      }">{{app.appStatus}}
    </li>
    <li class="commenting-status"
      [ngClass]="commentPeriodService.isOpen(app.cpStatusCode) ? 'commenting-open':'commenting-closed'">
      {{commentPeriodService.getStatusString(app.cpStatusCode)}}
    </li>
  </ul>

  <button class="app-link btn btn-primary" (click)="showDetails()">View Application Details</button>
</div>
