<div class="splash-modal">

  <button class="close-btn btn btn-icon gtm-splash-dismiss" type="button" aria-label="Close" (click)="dismiss()">
    <i class="material-icons">close</i>
  </button>

  <h2>Welcome to New EPIC!</h2>
  <div class="intro-text">
    <p>
        We have recently updated our Project Information Centre, you will notice a different look and feel.
    </p>
    <h3>
        To find a project:
    </h3>
    <ul>
        <li>Click on “Find Environmental Assessment Projects” on the front page or “Find Projects” in the header</li>
        <li>Enter your project name in the search field on the mapping interface and select the map pin</li>
        <li>A pop up with give you some details regarding the project selected, click “View Project Details” to go to the project landing page</li>
    </ul>
    <h3>
        Project Landing Pages:
    </h3>
    <p>
        Project information is now split over 3 tabs
    </p>
    <ul>
        <li>Project Information</li>
        <li>Commenting</li>
        <li>Documents</li>
    </ul>
    <p>
        Documents are now searchable, there is a search help located in the header to assist you.
    </p>
    <p>
        If you have any questions please contact us at epicsupport.eao@gov.bc.ca.
    </p>
  </div>
</div>
