/* You can add global styles to this file, and also import other style files */
//@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";

// Helpers
@import "assets/styles/helpers/helpers.scss";

// Typography
@import "assets/styles/themes/typography.scss";

// Layout
@import "assets/styles/layout.scss";

// Components
@import "assets/styles/components/accordion.scss";
@import "assets/styles/components/aside.scss";
@import "assets/styles/components/badge.scss";
@import "assets/styles/components/buttons.scss";
@import "assets/styles/components/card.scss";
@import "assets/styles/components/feature-block.scss";
@import "assets/styles/components/filter-bar.scss";
@import "assets/styles/components/form-elements.scss";
@import "assets/styles/components/hero-banner.scss";
@import "assets/styles/components/lists.scss";
@import "assets/styles/components/pagination.scss";
@import "assets/styles/components/spinner.scss";
@import "assets/styles/components/tab-nav.scss";
@import "assets/styles/components/table.scss";

// Map
@import "assets/styles/components/esri-map.scss";
