<div class="popup-content">
  <div class="popup-title">
    <span class="client-name__label">Project</span>
    <span class="client-name__value">{{proj?.name || '-'}}</span>
  </div>
  <div class="popup-body">
    <div class="app-details">
      <div class="meta-container">
        <ul>
          <li class="app-description" *ngIf="proj?.description">
            <div class="value" [innerHTML]="proj.description"></div>
          </li>
          <li>
            <span class="key">Project Phase:</span>
            <span class="value">{{proj?.projectPhase || '-'}}</span>
          </li>
          <li>
            <span class="key">Partner First Nation(s):</span>
            <span class="value">{{proj?.partner || '-'}}</span>
          </li>
          <li *ngIf="projectFieldType(proj?.agreements) ==='string'" class="agreements">
            <span class="key">Agreement(s):</span>
            <p class="agreement-value">{{proj?.agreements || "-"}}</p>
          </li>
          <li *ngIf="projectFieldType(proj?.agreements) ==='object'" class="agreements">
            <span class="key">Agreement(s):</span>
            <p class="value" *ngIf="proj.agreements.length === 0">-</p>
            <div class="agreement" *ngFor="let agreement of proj.agreements; let i=index">
              <div *ngIf="agreement.agreementName && agreement.agreementUrl else noAgreementURL" class="agreement-container">
                <p class="agreement-value"><a *ngIf="true" class="agreement-link" target="_blank"
                  href="{{agreement.agreementUrl}}">{{agreement.agreementName || "-" }}</a>
                </p>
                <span *ngIf="i !== proj.agreements.length - 1">, </span>
              </div>
              <ng-template #noAgreementURL>
                <p class="agreement-value">{{agreement.agreementName || "-" }}</p>
                <span *ngIf="i !== proj.agreements.length - 1">,</span>
              </ng-template>
            </div>
          </li>
        </ul>
      </div>

      <hr>

      <a class="app-link btn btn-main" [routerLink]="['/p', proj?._id]"
        title="View more information about this project">
        View Project Details
      </a>
    </div>
  </div>
</div>
