<div class="popup-content">
  <div class="popup-title">
    <span class="client-name__label">Project</span>
    <span class="client-name__value">{{proj?.name || '-'}}</span>
  </div>
  <div class="popup-body">
    <div class="app-details">
      <div class="meta-container">
        <ul>
          <li class="app-description" *ngIf="proj?.description">
            <div class="value" [clamp]="3" [innerHTML]="proj.description"></div>
          </li>
          <li>
            <span class="key">EAO Project Number:</span>
            <span class="value">{{proj?.epicProjectID || '-'}}</span>
          </li>
          <li>
            <span class="key">Decision:</span>
            <span class="value">{{proj?.eacDecision || '-'}}</span>
          </li>
          <li>
            <!-- Phase object not ready -->
            <span class="key">Phase:</span>
            <span class="value">{{proj?.currentPhaseName || '-'}}</span>
          </li>
          <li>
            <span class="key">Location:</span>
            <span class="value">{{proj?.location || '-'}}</span>
          </li>
          <li *ngIf="commentPeriodStatus">
            <span class="key">Comment Period Status:</span>
            <span class="value">{{commentPeriodStatus}}</span>
          </li>
        </ul>
      </div>

      <hr>

      <!-- Status -->
      <!-- <ul class="status-container">
        <li>
          <i class="material-icons" title="{{proj?.cpStatus}}">
            {{commentPeriodService.isOpen(proj?.currentPeriod) ? 'comment' : 'highlight_off'}}
          </i><span>{{proj?.cpStatus}}</span>
        </li>
        <li *ngVar="projectService.getStatusCode(proj?.status) as projStatusCode">
          
          <i class="material-icons" title="{{proj?.projStatus}}"
            *ngIf="projectService.isAccepted(projStatusCode)">
            access_time
          </i>

          <i class="material-icons" title="{{proj?.projStatus}}"
            *ngIf="projectService.isAllowed(projStatusCode)">
            error_outline
          </i>

          <i class="material-icons" title="{{proj?.projStatus}}"
            *ngIf="projectService.isDispGoodStanding(projStatusCode)
              || projectService.isOffered(projStatusCode)
              || projectService.isOfferAccepted(projStatusCode)">
            check
          </i>

          <i class="material-icons" title="{{proj?.projStatus}}"
            *ngIf="projectService.isCancelled(projStatusCode)
            || projectService.isAbandoned(projStatusCode)
            || projectService.isOfferNotAccepted(projStatusCode)">
            cancel
          </i>

          <i class="material-icons" title="{{proj?.projStatus}}"
            *ngIf="projectService.isDisallowed(projStatusCode)
            || projectService.isSuspended(projStatusCode)">
            warning
          </i>

          <i class="material-icons" title="{{proj?.projStatus}}"
            *ngIf="projectService.isUnknown(projStatusCode)">
            warning
          </i>
          <span>{{proj?.projStatus}}</span>
        </li>
      </ul> -->
      <a class="app-link btn btn-primary" [routerLink]="['/p', proj?._id]" title="View more information about this project">
        View Project Details
      </a>
    </div>
  </div>
</div>