// Base
@import "~assets/styles/base.scss";

$search-input-font-size: 0.9375rem;

.hero-banner {
    height: auto;

    &__content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 100%;
    }
}

@media (max-width: 567px) {
    .search-form {
        .date-range {
            &__spacer {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media (min-width: 992px) {
    .hero-banner {
        &__content {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        &__content {
            padding-top: 9rem;
            padding-bottom: 6rem;
        }
    }
}

.search-form {
    button {
        &[type="submit"] {
            font-weight: 700;
        }
    }

    &__btn-container {
        @include flex-box();
        @include flex-flow(column-reverse nowrap);
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__search-btn {
        width: 100%;
        color: #fff;
        border-color: $gold;
        background-color: darken($gold, 5%);
        text-transform: uppercase;
        font-size: 0.9375rem;

        &:active,
        &:focus,
        &:hover {
            border-color: $gold;
            background-color: $gold;
            color: $primary;
        }
    }

    &__toggle-advanced-btn {
        @include flex(0 0 auto);
        margin-top: 0.75rem;
        margin-bottom: 1.5rem;
        padding: 0.15rem;
        color: $gold;
        border: none;
        text-decoration: none;
        font-size: 0.85rem;


        i {
            margin-top: -2px;
            margin-right: 0.2rem;
        }
    }

    .ng2-tag-input {
        border-bottom: 10px solid red;
    }
}

@media (min-width: 768px) {
    .search-form {
        &__search-btn {
            width: 8rem;
        }
    }
}

.search-results {
    &__title {
        span {
            display: inline;
        }
    }

    &__header {
        padding: 1rem 0;
        
        .srch-count {
            font-weight: 600;
        }
    }
    &__footer {
        text-align: center;
    }

    &-item {
        position: relative;
        margin-bottom: 0.25rem;
        padding: 1rem;
        flex-flow: column wrap;
        align-items: left;
    
        &__actions {
            margin-top: 1.25rem;
            font-size: 0.875rem;

            a {

                + a {
                    &:before {
                        content: '|';
                        display: inline-block;
                        width: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    
        &__description {
            margin-top: 1rem;
            overflow: hidden;
            word-break: break-all;
            line-height: calc(0.875rem * 1.5);
            font-size: 0.875rem;
        }
    
        &__meta {
            margin-top: 0.4rem;
            font-size: 0.875rem;
        }
    
        &__project-name {
            margin-bottom: 0.4rem;
            line-height: 1rem;
            font-size: 0.975rem;
            font-weight: 400;
        }
    
        &__title {
            margin-bottom: 0.4rem;
            width: 100%;
            overflow: hidden;
            line-height: 1.4rem;
            text-overflow: ellipsis;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    &__no-results {
        + .search-results__footer {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .search-results {
        &-item {
            padding: 1.5rem;

            &__actions {
                margin-top: 1.25rem;
            }
            &__description {
                line-height: 1.5rem;
                font-size: 1rem;
            }
            &__meta {
                position: absolute;
                top: 0.75rem;
                right: 1.5rem;
            }
            &__project-name {
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
            }
            &__title {
                line-height: 1.8rem;
                font-size: 1.5rem;
            }
        }
    }
}

tag-input {
    &.form-control {
        padding: 0;
    }

    ::ng-deep {
        &.ng2-tag-input {
            padding: 0;
            border-bottom: none;

            * {
                font-family: "myriad-pro" !important;
            }

            &.ng2-tag-input--focused {
                border-bottom: none;
            }

            &__text-input {
                min-width: 200px;
                padding: 0.75rem 0.5rem;
                height: auto;
                font-size: $search-input-font-size;
                font-weight: 400;
                box-shadow: none;
            }

            .ng2-tags-container {
                padding-left: 0.15rem;
            }

            tag {
                padding: 0.2rem 0.6rem;
                height: auto;
                color: #fff;
                border-radius: 0.2rem;
                background-color: #5091cd;
                letter-spacing: 0;
                font-size: $search-input-font-size;
                font-weight: 400;

                &:hover {
                    color: #fff !important;
                    background-color: #5091cd !important; 
                }

                &__text {
                    margin-right: 0.4rem;
                }

                delete-icon {
                    margin-top: 1px;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}