<div class="hero-banner hb-sm">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <h1 tabindex="-1">Unsubscribe From Email Updates</h1>
      </div>
    </div>
  </div>
</div>
<section class="static-content">
  <div class="container" id="anchor-point">
    <main>
      <section *ngIf="!unsubscribed">
        <form #commentForm1="ngForm" (ngSubmit)="unsubscribe()" cdkTrapFocus>
          <p>Fill out the form below to unsubscribe from project updates:</p>
          <p class="form-warning">Please complete all required fields.</p>
          <fieldset>
            <div class="form-group">
              <label class="control-label" for="emailInput">Email Address (required)</label>
              <div class="form-control-container">
                <input class="form-control" type="text" name="emailInput" id="emailInput" required [(ngModel)]="emailAddress"
                  #name="ngModel" autofocus />
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger" role="alert">Email Address
                  is required to submit form</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="confirmEmailInput">Confirm Email Address (required)</label>
              <input class="form-control" type="text" name="confirmEmailInput" id="confirmEmailInput" required
                [(ngModel)]="confirmEmailAddress" #location="ngModel" />
              <div [hidden]="location.valid || location.pristine" class="alert alert-danger" role="alert">Email Address
                is required to submit form</div>
            </div>
          </fieldset>
          <button class="btn btn-main" type="button" aria-label="Submit your email address." (click)="unsubscribe()"
            [disabled]="!commentForm1.form.valid">Submit</button>
        </form>
      </section>
      <section *ngIf="unsubscribed">
        <p>Your email address {{ emailAddress }} has been unsubscribed.</p>
      </section>
    </main>
  </div>
</section>