@import "~assets/styles/base.scss";

// hide the footer when a component (e.g. the map) is shown full screen
.full-screen {
    +app-footer {
        display: none;
    }
}

.app-footer {
    border-top: 4px solid $gold;
    background: $footer-bg;
    color: $footer-color;
    text-align: center;
    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    section {
        padding: 1rem 1rem 2rem 1rem;
        border-bottom: 1px solid $bg-dark-border-color;
        &.last {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    h4 {
        margin-bottom: 1.25rem;
        font-size: 1rem;
        font-weight: 600;
    }
    p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    ul {
        padding: 0;
        font-size: 0.875rem;
        list-style-type: none;
        &.last {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 0.25rem;
        }
    }
    a {
        color: #FFF;
        &:focus,
        &:hover {
            color: $gold;
        }
    }
    .btn {
        font-size: 0.875rem;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    &.app-footer {
        section {
            padding-bottom: 1rem;
            border-bottom: none;
        }
        h4 {
            padding-bottom: 1.25rem;
            border-bottom: 1px solid $bg-dark-border-color;
        }
    }
}

.footer-nav {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid $bg-dark-border-color;
    text-align: center;
    .gov-links {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            line-height: 1rem;
            &:after {
                position: relative;
                top: -1px;
                display: inline-block;
                margin-left: 0.5rem;
                margin-right: 0.25rem;
                content: '|';
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    // .connect-links {
    //     margin-top: -0.5rem;
    //     margin-bottom: 0;
    //     li {
    //         margin: 0.25rem;
    //         display: inline-block;
    //         img {
    //             width: 2rem;
    //             height: 2rem;
    //         }
    //     }
    // }
}

@media (min-width: 760px) {
    .footer-nav {
        .gov-links {
            float: left;
            margin-bottom: 0;
        }
        // .connect-links {
        //     margin-right: 3.5rem;
        //     float: right;
        // }
    }
}

@media (min-width: 1200px) {
    // .footer-nav {
    //     .connect-links {
    //         margin-right: 0;
    //     }
    // }
}