@import "~assets/styles/base.scss";

body {
    overflow-y: scroll;
}

// Container
.container {
    margin: 0 auto;
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    width: 100%;
    max-width: 1100px;

    section {
        &.last {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 760px) {
    .container {
        padding-top: 3rem;
        padding-right: 2rem;
        padding-bottom: 3.5rem;
        padding-left: 2rem;
    }
}

// Main Element
main {
    h2 {
        margin-bottom: 1rem;
        line-height: 2rem;
        font-size: 1.75rem;
    }

    h3 {
        margin-bottom: 1.5rem;
        line-height: 1.75rem;
        font-size: 1.5rem;

        span {
            margin-top: 0.5rem;
            display: block;
            line-height: 1.25rem;
            font-size: 1rem;
        }
    }

    p {
        line-height: 1.4rem;
        font-size: 0.9375rem;
    }

    section {
        + section {
            margin-top: 2rem;
        }

        &.last {
            margin-bottom: 0;
        }

        &.add-spacer {
            padding-bottom: 2.5rem;
            border-bottom: 2px solid #CCC;
        }

        h3 {
            margin-bottom: 1.5rem;
        }

        h4 {
            margin-bottom: 1.5rem;
            line-height: 1.9rem;
        }

        h5 {
            line-height: 1.25rem;
            font-size: 1rem;
            font-weight: 600;
        }

        ul {
            margin-bottom: 1.75rem;
            list-style-type: square;
        }

        ol {
            margin-bottom: 1.75rem;
        }
    }

    ul.content-external-links {
        margin-bottom: 2rem;
    }

    // Named anchor helper
    .pg-anchor[id]:before {
        content:" ";
        display:block;
        height: 98px;
        margin:-98px 0 0;
    }

    .main-footer {
        padding: 1.5rem;
        background-color: rgba(0, 51, 102, 0.8);
        color: #FFF;

        a {
            color: $gold;
        }
    }
}

@media (min-width: 760px) {
    main {
        h2 {
            line-height: 2.5rem;
            font-size: 2rem;

            span {
                display: block;
            }
        }

        h3 {
            font-size: 1.75rem;
        }

        p {
            line-height: 1.8rem;
            font-size: 1rem;
        }
    }
}

hr {
    margin-top: 2.5rem;
    margin-bottom: 2.25rem;
    border-width: 2px;
}

/* Modal Positioning Fix */
.modal-open {
    overflow: auto;
    footer {
        margin-right: -17px;
        padding-right: 17px;
    }
}

/* class to make divs look like anchors */
.clickable {
    cursor: pointer;
    color: $link-color;
    &:focus,
    &:hover {
        text-decoration: underline;
    }
}