<div class="documents tab-pane" id="docs" role="tabpanel">
    <p class="tab-intro">
        <span [innerHTML]="application?.getContent('Other', 'Intro')"></span>
    </p>

    <section class="doc-section">
        <div class="accordion inspections-list" role="tablist" aria-multiselectable="false">
            <div class="accordion__collapse-item" *ngFor="let c of collections.items">
                <div class="accordion__collapse-header" role="tab" id="heading-{{c._id}}">
                    <a class="accordion__collapse-header--column toggle collapsed" data-toggle="collapse" href="#collapse-{{c._id}}" aria-expanded="true"
                        aria-controls="collapseOne">
                        <i class="material-icons open-icon">add</i>
                        <i class="material-icons close-icon">remove</i>
                    </a>
                    <span class="accordion__collapse-header--column inspections-list__name-col">{{c.displayName}}</span>
                    <span class="accordion__collapse-header--column inspections-list__date-col">{{c.date | date:'yyyy-MM-dd'}}</span>
                </div>
                <div class="collapse" role="tabpanel" id="collapse-{{c._id}}" attr.aria-labelledby="heading-{{c._id}}">
                    <div class="accordion__collapse-body">
                        <div class="inspections-list__related-documents card" *ngIf="c.documents.length > 0">
                            <div class="card-header">Related Documents</div>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let d of c.documents">
                                    <a href="{{d.ref}}" target="_blank">{{d.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>