@import "~assets/styles/base.scss";

.project-table {
    tbody {
        tr {
            background: transparent;

            .accordion__collapse-header {
                background: $table-row-bg;
            }

            &:nth-child(even) {
                .accordion__collapse-header {
                    background: $table-alt-row-bg;
                }
            }
        }
    }

    .accordion__collapse-header {
        background: transparent;
    }

    &__project-details {
        &--links {
            padding-top: 1.5rem;
        }
    }
}


.project-table {
    &__project-details {
        font-size: 0.85rem;

        &--description {
            margin-bottom: 1.25rem;

            &::ng-deep {
                p {
                    margin: 0;
                    line-height: calc(0.85rem * 1.5);
                    font-size: 0.85rem;
                }
            }
        }

        &--list {
            li {
                @include align-items(start);

                + li {
                    border-top: 1px solid #fff;
                }
            }

            .name, 
            .value {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 50%;
            }
        }
    }
}

@media (max-width: 760px) {
    .project-table {
        table-layout: auto;

        thead {
            display: block;
            width: 100%;
    
            tr {
                @include flex-box();
            }
    
            th {
                border-top: none;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
    
                &.project-table__name-col {
                    @include flex(1 1 auto);
                }
            }
        }

        &__operator-col {
            display: none;
        }
        &__type-col {
            width: 7.5rem;
            text-align: right;
        }

        &__project-details {
            &--links {
                .btn {
                    width: 100%;

                    +.btn {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 760px) {
    .project-table {
        &__operator-col {
            width: 38%;
        }

        &__type-col {
            width: 25%;
            text-align: left;
        }

        &__project-details {
            font-size: 0.9375rem;

            &--description {
                &::ng-deep {
                    p {
                        line-height: calc(0.9375rem * 1.5);
                        font-size: 0.9375rem;
                    }
                }
            }

            &--list {
                list-style-type: none;
    
                .name {
                    width: 10rem;
                }

                .value {
                    width: auto;
                }
            }

            &--links {
                .btn {
                    + .btn {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}