<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loading" id="anchor-point">
  <div class="hero-banner">
    <div class="hero-banner__container">
      <div class="container">
        <div class="hero-banner__content">
          <h1 tabindex="-1">List of projects</h1>
          <p>
            Use the list below to navigate to individual project pages.
            Only active land and water planning projects in B.C. are listed.
            Additional projects will be added to the list as they are initiated. 
            You can also <a class="hero-link" routerLink="/projects">go to a map view of the projects.</a>
          </p>
        </div>
        <label class="search-title" for="keywordInput">Search projects by title</label>
        <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
          <div class="search-area">
            <div class="input-group main-search-field">
              <input class="form-control" type="text" name="keywordInput"
                id="keywordInput" [(ngModel)]="tableParams.keywords" autofocus />
              <div *ngIf="!showAdvancedSearch || !isShowingFilter()" class="input-group-append">
                <!-- prevent searching if input is empty or we're already searching -->
                <button class="btn btn-main search-button" type="submit">
                  <span><i class="material-icons search-hourglass" aria-hidden="true">search</i> Search</span>
                </button>
              </div>
            </div>
          </div>
          <app-project-list-filters class="app-filters"
            [projects]="filterApps"
            [tableParams]="tableParams"
            (updateMatching)="updateMatching($event)">
          </app-project-list-filters>
          <div class="results">
            <div *ngIf="!loading && tableParams.totalListItems == 0">
              <p>0 results found</p>
            </div>
            <div *ngIf="!loading && tableParams.totalListItems > 0">
              <p>{{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s</span> found</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <section class="project-list table-container">
    <div class="container">
      <p class="plist-instructions">{{projects.length > 0 ? 'Click on a project to view more information' : 'Change the search or filter to try again'}}.</p>
      <div *ngIf="projects.length > 0">
        <app-table-template
          [columns]="projectTableColumns"
          [data]="projectTableData"
          (onColumnSort)='handleColumnSort($event)'
          (onPageNumUpdate)='handlePageChange($event)'>
        </app-table-template>
      </div>
    </div>
  </section>
</main>
