<div id="modal-instructions">Use tab to navigate form elements.</div>

<!-- FIRST PAGE -->
<form cdkTrapFocus>
  <div class="modal-header">
    <h4 class="modal-title">Submit a Comment</h4>
    <button class="btn btn-icon close-btn gtm-submit-comment_cancel-pg1" type="button" aria-label="Close"
      (click)="closeDialog()">
      <i class="material-icons">
        close
      </i>
    </button>
  </div>

<!-- only show when submitting larger submissions -->
<div class="modal-content progress-content" *ngIf="submitting && (totalSize > 100000)">
  <div class="modal-body submitting-modal">
    <h4 class="modal-title">Submitting your comment...</h4>
    <mat-progress-bar color="primary" mode="buffer" [value]="progressValue" [bufferValue]="progressBufferValue">
    </mat-progress-bar>
  </div>
</div>


  <mat-progress-bar *ngIf="this.currentPage === 2 && this.close === false && this.submitting === false" mode="determinate" value="{{ formProgress }}"></mat-progress-bar>

  <div id="survey-window" class="survey-window">

  <div class="modal-content" *ngIf="this.close === true">
    <section class="close-warning">
      <h4>Are you sure you wish to close?</h4>
      <p>Your responses will be lost.</p>
      <div class="close-buttons">
        <button class="btn btn-primary" (click)="activeModal.dismiss()">Close</button>
        <button class="btn btn-secondary" (click)="this.close = false">Cancel</button>
      </div>
    </section>
  </div>

  <div class="modal-content" *ngIf="this.currentPage === 1 && this.close === false">


    <div class="modal-body">
      <section>
        <h2>How it Works</h2>
        <p>All accepted comments submitted to the <em>{{project?.name || 'project'}}</em> technical planning team will be evaluated and considered throughout the
        land use planning process. Comments may be quoted or summarized in a publicly available ‘What We Heard’ report following
        the engagement period. Comments will not be considered if - in the technical planning team’s view - they are profane,
        abusive or do not relate to the matter being consulted upon.</p>
        <p> All attachments must be no larger than <strong>5MB</strong> and must be a
          <strong>.png, .pdf, .gif, .jpg, .jpeg, or .bmp</strong> file.</p>
      </section>
      <section class="m-b-0">
        <h2>Collection Statement</h2>
        <p>Personal information collected through this comment period will inform the <em>{{project?.name || 'project'}}</em> technical planning team under section
        26 (c) and 26 (e) of the <a class="paragraph-link" href="http://www.bclaws.ca/Recon/document/ID/freeside/96165_00" target="_blank">Freedom of Information and Protection of Privacy Act (“FOIPPA”)</a>. Please do not include any
        personally identifiable information about yourself or others in your responses. If you have any questions about the
        collection, use and disclosure of your personal information, please contact:</p>
        <p class="m-b-0">Director, Resource Planning and Assessment Branch<br>Ministry of Forests, Lands, Natural Resource Operations and Rural Development<br><a class="paragraph-link" href="mailto:landuseplanning@gov.bc.ca">landuseplanning@gov.bc.ca</a>
          <br>PO Box 9484, STN PROV GOVT<br>Victoria BC, V8W 9W6<br>250-208-3591
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-main" aria-label="Go to next page of comment submission form." (click)="p1_next()">Next</button>
    </div>
  </div>

<!-- Contact Information Form-->
<form cdkTrapFocus [formGroup]="surveyResponseForm" class="survey-form-window">
  <div class="modal-content" *ngIf="this.currentPage === 2 && this.close === false && this.submitting === false">
    <div class="modal-body">
      <p class="form-warning"><span class="required">*</span> = Required Field</p>
      <div class="survey">
        <!-- <div class="survey-canvas-list-item">
          <div class="form-group">
            <label class="control-label" for="author"><span class="question-count">1. </span>Your Name<span class="required">*</span></label>
            <input class="form-control" formControlName="author" value="">
            <p *ngIf="author.invalid && author.touched" class="danger">This field is required.</p>
          </div>
          <div class="form-group">
            <label class="control-label" for="location"><span class="question-count">2. </span>Location<span class="required">*</span></label>
            <input class="form-control" formControlName="location" value="">
            <p *ngIf="location.invalid && location.touched" class="danger">This field is required.</p>
          </div>
        </div> -->
        <div
        class="survey-canvas-list-item"
        *ngFor="let entry of surveyResponseForm.controls.responses.controls; let i = index">
        <div [formGroup]="entry">
          <div class="form-group" *ngIf="survey.questions[i].type === 'smallText'">
            <div class="question"><span class="question-count">{{countArray[i]}}. </span><label class="control-label the-thing" for="textAnswer" [innerHTML]="survey.questions[i].questionText"></label><span *ngIf="survey.questions[i].answerRequired" class="required">*</span></div>
            <label for="textAnswer">Please do not include any personally identifiable information about yourself or others in your responses.</label>
            <input class="form-control" formControlName="textAnswer">
            <p *ngIf="entry.invalid &&  entry.touched" class="danger">This field is required. <span *ngIf="survey.questions[i].maxChars">{{survey.questions[i].maxChars}} character limit.</span></p>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'largeText'">
            <div class="question"><span class="question-count">{{countArray[i]}}. </span><label class="control-label" for="textAnswer" [innerHTML]="survey.questions[i].questionText"></label><span *ngIf="survey.questions[i].answerRequired" class="required">*</span></div>
            <label for="textAnswer">Please do not include any personally identifiable information about yourself or others in your responses.</label>
            <textarea class="form-control" rows="5" formControlName="textAnswer" value="large text"></textarea>
            <p *ngIf="entry.invalid &&  entry.touched" class="danger">This field is required. <span *ngIf="survey.questions[i].maxChars">{{survey.questions[i].maxChars}} character limit.</span></p>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'singleChoice'">
            <div class="question"><span class="question-count">{{countArray[i]}}. </span><label class="control-label" for="choices" [innerHTML]="survey.questions[i].questionText"></label><span *ngIf="survey.questions[i].answerRequired" class="required">*</span></div>
            <!-- <br> -->
            <label class="" for="choices">(Make one selection)</label>
            <div class="choices">
              <div *ngFor="let choice of survey.questions[i].choices; let j = index">
                <label class="form-check-label" for="choice">
                  <input class="form-check-input" type="radio" formControlName="singleChoice" value="{{choice}}">
                  {{choice}}
              </label>
              </div>
              <div *ngIf="survey.questions[i].other">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" formControlName="singleChoice" value="other">
                  <label>Other: <input class="form-other-input" formControlName="otherText"></label>
                </label>
              </div>
            </div>
            <p *ngIf="entry.invalid && entry.touched && !survey.questions[i].other" class="danger">Please make a selection.</p>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'multiChoice'">
            <div class="question"><span class="question-count">{{countArray[i]}}. </span><label class="control-label" for="choices" [innerHTML]="survey.questions[i].questionText"></label><span *ngIf="survey.questions[i].answerRequired" class="required">*</span></div>
            <!-- <br> -->
            <label class="" for="choices">(Please make {{chooseAmount(survey.questions[i])}} selection(s).)</label>
            <div class="choices">
                <div *ngFor="let choice of entry.controls.multiChoices.controls; let j = index">
                  <label class="form-check-label" for="choice">
                    <input class="form-check-input" size=20 type="checkbox" name="{{i}}" (change)="checkedState($event, i, survey.questions[i])" [formControl]="choice" value="{{survey.questions[i].choices[j]}}">
                    {{survey.questions[i].choices[j]}}
                  </label>
                </div>
                <div *ngIf="survey.questions[i].other">
                  <label class="form-check-label">
                    <input class="form-check-input" size=20 type="checkbox" (change)="checkedState($event, i, survey.questions[i])" formControlName="other" value="other">
                    <label>Other: <input class="form-other-input" formControlName="otherText"></label>
                  </label>
                </div>
            </div>
            <p *ngIf="entry.invalid && entry.touched" class="danger">Please make {{chooseAmount(survey.questions[i])}} selection(s).</p>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'likert'">
            <div class="question"><span class="question-count">{{countArray[i]}}. </span><label class="control-label" for="choices" [innerHTML]="survey.questions[i].questionText"></label><span *ngIf="survey.questions[i].answerRequired" class="required">*</span></div>
            <div *ngFor="let attribute of entry.controls.attributeChoices.controls; let ai = index">
              <div [formGroup]="attribute">
                <label class="attribute">{{survey.questions[i].attributes[ai].attribute}}</label>
                <ul class='likert'>
                  <li *ngFor="let choice of survey.questions[i].attributes[ai].choices; let ci = index">
                    <input class="form-check-input" type="radio" formControlName="choice" value="{{choice}}">
                    <label class="form-check-label" for="choice">{{choice}}</label>
                  </li>
                </ul>
                <p *ngIf="entry.invalid && entry.touched" class="danger">Please make a selection.</p>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="survey.questions[i].type === 'info'">
            <div class="control-label" [innerHTML]="survey.questions[i].infoText"></div>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'email'">
            <label class="control-label" for="emailAnswer"><span class="question-count">{{countArray[i]}}. </span>{{survey.questions[i].emailText}}<span *ngIf="survey.questions[i].answerRequired" class="required">*</span></label>
            <input class="form-control" formControlName="emailAnswer" email>
            <p *ngIf="entry.invalid &&  entry.touched" class="danger">Must be a valid email address.</p>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'phoneNumber'">
            <label class="control-label" for="phoneNumberAnswer"><span class="question-count">{{countArray[i]}}. </span>{{survey.questions[i].phoneNumberText}}<span *ngIf="survey.questions[i].answerRequired" class="required">*</span></label>
            <input class="form-control" formControlName="phoneNumberAnswer">
            <p *ngIf="entry.invalid &&  entry.touched" class="danger">Must be a valid phone number.</p>
          </div>
          <div class="form-group" *ngIf="survey.questions[i].type === 'docPicker'">
            <div class="question"><span class="question-count">{{countArray[i]}}. </span><label class="control-label" for="choices" [innerHTML]="survey.questions[i].docPickerText"></label><span *ngIf="survey.questions[i].answerRequired" class="required">*</span></div>
            <label class="doc-format-label">All attachments must be no larger than 5MB and must be a .png, .pdf, .gif, .jpg, .jpeg, or .bmp file.</label>
            <app-file-upload [maxFiles]="50" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="commentFiles"
            (filesChange)="addFiles($event); commentFiles = []"></app-file-upload>
            <ul class="doc-list mb-3" *ngIf="documents?.length > 0">
              <li *ngFor="let doc of documents">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">{{doc.internalOriginalName}}</span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" [attr.aria-label]="makeAriaLabel(doc.internalOriginalName)" title="Remove this file" (click)="deleteFile(doc, documents)">
                    <i class="material-icons" aria-hidden="true">delete</i>
                  </button>
                </span>
              </li>
            </ul>
            <div *ngIf="documents?.length === 0">
              <p>No attached files.</p>
            </div>
            <p *ngIf="entry.invalid &&  entry.touched" class="danger">This field is required.</p>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light btn-back" type="button" aria-label="Go to previous page of comment submission form." (click)="p2_back()">Back</button>
      <div *ngIf="!surveyResponseForm.valid" class="form-warning">Please complete all required fields.</div>
      <button class="btn btn-main btn-submit" type="button" aria-label="Submit your comment." (click)="p2_next()"
        [disabled]=!surveyResponseForm.valid>Submit</button>
    </div>
  </div>
</form>
</div>



<!-- Success -->
<div class="modal-content thank-you-content" *ngIf="this.currentPage === 3">
  <div class="modal-body thank-you-body">
    <div class="thank-you-icon"></div>
    <h4 class="thank-you-header">Thank you for your comment!</h4>
    <p class="thank-you-text">All comments will be provided to the technical planning team.</p>
    <button class="btn btn-primary gtm-submit-comment-done" type="button"
      (click)="activeModal.close('closed page4')">Back to Project Details</button>
  </div>
</div>
