@import "~assets/styles/base/base.scss";


#modal-instructions {
  display: none;
}

.modal-body {
  min-height: 22rem;
  text-align: left;
}

.submitting-modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;

  h4 {
    padding: 1rem;
  }
}

.thank-you-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    align-self: center;
  }
}

.thank-you-text  {
  padding: 1rem;
}

.close-warning {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-back {
  margin-right: auto;
}


.close-warning {

  h4 {
    padding: 2rem 2rem 0 2rem;
  }

  button {
    margin: 1rem;
  }
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.required {
  color: black;
  font-size: 1.25rem;
}

.danger {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  color: red;
}

.form-warning {
  color: #3979b4;
  font-weight: bold;
}

.survey-window {
  overflow: auto;
}

.survey-form-window {
  max-height: 75vh;
}

.form-group {
  margin-bottom: 2rem;
}

.control-label {
  font-size: 1rem;
}

.choices {
  margin-left: 2rem;
}

.info-display {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}

div .attribute {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}

div .likert {
  list-style:none;
  width:100%;
  margin:0;
  display:block;
  // border-bottom:2px solid #efefef;
}

div .likert:last-of-type {border-bottom:0;}
div .likert:before {
  content: '';
  position:relative;
  top: 16px;
  left: 9.5%;
  display: block;
  background-color: lightgrey;
  height:4px;
  width:77%;
}

div .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}

div .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;

}
div .likert li label {
  width:100%;
}

app-file-upload {
  margin: 1rem;
}
