@import "~assets/styles/base.scss";
main {
    color: $font-gray;
    .home-banner {
        display: table;
        padding-top: 1rem;
        background-position: center;
        background-size: cover;
        background-image: url("~assets/images/map.jpg");
        background-repeat: no-repeat;
        &__content {
            margin-top: 1rem;
            margin-bottom: 1rem;
            h1 {
                font-size: 2rem;
                line-height: 2rem;
                span {
                    display: inline-block;
                }
            }
            h2 {
                font-size: 1.5rem;
                line-height: 1.5rem;
                span {
                    display: inline-block;
                }
            }
            .btn {
                margin-top: 1rem;
            }
            .btn.inverted {
                color: $font-gray;
                border: 2px solid $font-gray;
                background-color: #fff;
                text-transform: unset;
                &:active,
                &:focus,
                &:hover {
                    border-color: $gold;
                    background: darken($gold, 8%);
                    font-weight: 700;
                }
            }
            .badge {
                color: $gold;
            }
        }
        .about-info {
            margin-top: 1rem;
            .fast-fact {
                color: $font-gray;
                background-color: #fff;
                border: 1px solid $font-gray;
            }
        }
        .feature-blocks {
            a {
                color: white;
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .home-banner {
            padding-top: 2rem;
            &__content {
                h1 {
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
                h2 {
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                }
                p {
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                }
                .btn {
                    margin-top: 1.5rem;
                }
            }
        }
        .about-info {
            margin-top: 1.5rem;
            .fast-fact {
                box-shadow: 3px 3px 9px;
                border-radius: 5px;
            }
        }
    }
}

@media (min-width: 992px) {
    main {
        .home-banner {
            &__content {
                h1 {
                    font-size: 2.8rem;
                    line-height: 2.8rem;
                }
                h2 {
                    line-height: 2rem;
                    font-size: 2rem;
                }
            }
        }
    }
}