<div class="hero-banner home-banner">
	<div class="container">
		<div class="container__inner-container">
			<div class="hero-banner__content">
				<h1 id="pgTitle">
					<span>NRTS Public Review & Comment</span>
					<span class="badge" id="alpha" title="Initial release of PRC">ALPHA</span>
				</h1>
				<p>NRTS Lorem Ipsum.</p>
				<div class="hero-banner__content--cta-btns">
					<strong>Find Applications in British Columbia...</strong>
					<a class="btn slide-l-btn hero-btn inverted" href="/applications" [routerLink]="['/applications']">
						<i class="material-icons">list</i>
						<span>List</span>
					</a>
					<span>or</span>
					<a class="btn slide-l-btn hero-btn inverted" href="/search" [routerLink]="['/search']">
						<i class="material-icons">search</i>
						<span>Search</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<main id="anchor-point">
	<div class="bg-default">
		<div class="site-intro container">
			<div class="row">
				<div class="col-lg-8">
					<section class="about-info mb-0">
						<h2>About the Natural Resource Transformation Secretariat</h2>
						<p>The NRTS was established to deliver transformation projects for the natural resource sector and is currently delivering
							the Natural Resource Permitting Project.</p>
						<p>Responsibilities of the NRTS include:</p>
						<li class="col-xs-12 col-sm-6 col-lg-12">consulting and communicating with government, industry, citizens and businesses to ensure the Secretariat continues
							meeting their needs</li>
						<li class="col-xs-12 col-sm-6 col-lg-12">working with ministries to facilitate sector-wide changes – from legislative and policy support to staff education,
							training and how they do business</li>
						<li class="col-xs-12 col-sm-6 col-lg-12">developing the technology that will support the new way of offering government sector services</li>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="fast-facts">
						<h4>Fast Facts about the Natural Resource Transformation Secretariat in British Columbia</h4>
						<ul class="row mb-0">
							<li class="col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">1<sup>B</sup></span>
									<span class="metric-desc">2017 Lorem</span>
								</div>
							</li>
							<li class="col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">2<sup>M</sup></span>
									<span class="metric-desc">Ipsum</span>
								</div>
							</li>
							<li class=" col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">3</span>
									<span class="metric-desc">Span</span>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="fb-container bg-faded">
		<section class="container">
			<h2>Public Review &amp; Comment in British Columbia</h2>
			<div class="row feature-blocks">
				<div class="col-md-4">
					<div class="feature-block">
						<h3>The Application Lifecycle</h3>
						<p>It can take several seconds to fulfill an application, which is a lot</p>
						<a class="btn inverted" href="/lifecycle" [routerLink]="['/lifecycle']">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Find Applications in BC</h3>
						<p>The NRTS PRC website currently profiles&nbsp;<strong>{{numApplications}}</strong>&nbsp;applications</p>
						<a class="btn inverted" href="/applications" [routerLink]="['/applications']">List</a>
						<span>&nbsp;</span>
						<a class="btn inverted" href="/search" [routerLink]="['/search']">Search</a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- <div class="fb-container" id="bottom">
		<section class="container mt-0">
			<h2>Our Processes &amp; Procedures</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Legislation</h3>
						<p>Learn about the key statutes and regulations that apply to NRTS activities in the province of British Columbia.</p>
						<a class="btn inverted" href="/legislation" [routerLink]="['/legislation']">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Authorizations</h3>
						<p>Certificates and permits issued under the Blank Act.  Read subsection foo for more details.  Maybe a few more.</p>
						<a class="btn inverted" href="/authorizations" [routerLink]="['/authorizations']">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Compliance Oversight</h3>
						<p>Several provincial agencies work together to provide integrated oversight of British Columbia’s NRS sector</p>
						<a class="btn inverted" href="/compliance-oversight" [routerLink]="['/compliance-oversight']">Learn More</a>
					</div>
				</div>
			</div>
		</section>
	</div> -->
</main>