@import "~assets/styles/base/base.scss";

:host {
  @include flex(1 1 auto);
  display: block;
  background: $bg-default;
}

.hero-banner__version {
  margin-top: -0.25rem;
  margin-left: -0.25rem;
  display: inline-block;
  color: $gold;
  font-size: 0.875rem;
  font-weight: 700;
  vertical-align: top;
}

@media (max-width: 767px) {
  .hero-banner h1 {
    line-height: 2rem;
    font-size: 1.75rem;
  }

  .hero-banner__version {
    margin-top: -0.3rem;
  }
}