<div class="hero-banner">
	<div class="container">
		<div class="container-inner">
			<div class="hero-banner__content">
				<h1>BC Environmental Assessment Office <span class="hero-banner__version">BETA</span></h1>
				<p>British Columbia's environmental assessment process provides opportunities for Aboriginal groups, government agencies and the public to influence the outcome of environmental assessments in British Columbia.</p>
				<div class="hero-banner__actions">
					<div class="hero-banner__actions-buttons">
						<a class="btn slide-l-btn hero-btn inverted" href="/projects" [routerLink]="['/projects']">
							<i class="material-icons">list</i><span>Find Projects</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<main>
	<div id="anchor-point">
		<section class="container">
			<h2>About the BC Environmental Assessment Process</h2>
			<p>Learn more about how the Environmental Assessment Office neutrally administers a process that is predictable, transparent, timely, procedurally fair, and holds all participants accountable.</p>
		</section>
	</div>

	<!-- <div class="bg-light">
		<section class="container">
			<h2>Help us build a better website</h2>
			<p class="mb-4">The Applications, Comments & Reasons for Decision website is evolving and we are looking for your ideas on how we can improve it. If you are interested in providing us with feedback about your experience using this website, please <a href="mailto:ACRFD.Feedback@gov.bc.ca">send us your feedback</a>.</p>
			<a class="btn content-btn-alt slide-l-btn" href="mailto:ACRFD.Feedback@gov.bc.ca">
				<i class="material-icons">email</i><span>Send Feedback</span>
			</a>
		</section>
	</div> -->
</main>