<div *ngIf="listType != 'comments'">
  This is supposed to be a regular non-expandable list.
</div>
<div class="text-center">
    <div class="page-controls">
      <pagination-controls (pageChange)="updatePageNumber($event)" id="server"></pagination-controls>
    </div>
  </div>
<div *ngIf="listType == 'comments'">
  <ng-template ngFor let-item
    [ngForOf]="items | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalComments }"
    let-i="index">
    <app-expandable-items [listType]="listType" [item]="item" [itemIndex]="i"></app-expandable-items>
  </ng-template>
</div>
<div class="text-center pt-3">
  <div class="page-controls">
    <pagination-controls (pageChange)="updatePageNumber($event)" id="server"></pagination-controls>
  </div>
</div>