<div class="comments" id="anchor-point">
  <section>
    <h1>
      {{commentPeriodHeader}}
    </h1>
    <h2>
      {{commentPeriod.dateStarted | date:'mediumDate'}} - {{commentPeriod.dateCompleted | date:'mediumDate'}}
    </h2>
    <p>
      This Public Comment Period is regarding the <b>{{commentPeriod.informationLabel}}</b>
    </p>
  </section>
  <!-- <section>
    <div class="spinner-container" *ngIf="loading" [@visibility]>
        <div class="spinner-new rotating"></div>
    </div>
    <div *ngFor="let comment of commentPeriod?.comments">
      {{comment.comment}}
    </div>
  </section> -->
  
  <section>
    <div *ngIf="commentPeriod.comments?.length === 0">
        <em>No comments have been received for this project at this time.</em>
    </div>
    <div class="list-group">
        <ng-template ngFor let-item [ngForOf]="commentPeriod.comments">
            <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <div class="comment__author">
                        <div *ngIf="item.author && item.Anonymous !== true; else anonymous">
                            <span>{{item.author}}</span>
                            <span *ngIf="item.author.location">, {{item.location}}</span>
                        </div>
                        <ng-template #anonymous>
                            <em>Anonymous</em>
                        </ng-template>
                    </div>
                    <div class="comment__date">
                        {{(item.dateAdded | date:'longDate') || "-"}}
                    </div>
                </div>
                <p class="comment__text">{{item.comment}}</p>
                <div class="comment__buttons ">
                    <div class="clickable" (click)="viewDetails(item._id)">Read More &nbsp; &rsaquo;</div>
                </div>
            </div>
        </ng-template>
    </div>
  </section>
</div>