<div class="flex-panel">
  <div class="flex-panel__header">
    <h3 class="title">Find Applications</h3>
  </div>

  <div class="flex-panel__scroll">
    <div class="find-form">
      <div class="form-group">
        <label class="control-label">Enter Crown Land Number or Disposition Transaction ID</label>
        <input class="form-control gtm-filter-cl-file" type="number" id="clidDtidInput"
          (keydown.arrowup)="$event.preventDefault()"
          (keydown.arrowdown)="$event.preventDefault()"
          (keyup.enter)="applyAllFilters()"
          (mousewheel)="$event.preventDefault()"
          [(ngModel)]="_clidDtidFilter" />
      </div>
      <div class="form-btns">
        <button class="btn btn-primary gtm-apply-filters find-btn-lg-device" type="button" title="Apply filters"
          (click)="applyAllFilters()">
          Find
        </button>
        <button class="btn btn-primary gtm-apply-filters find-btn-sm-device" type="button" title="Apply filters"
          (click)="applyAllFilters();hideSidePanel.emit()">
          Find
        </button>
        <button class="btn btn-light" type="button" title="Clear filters"
          (click)="clearAllFilters()">
          Clear
        </button>
      </div>
    </div>
    <section>
      <h3>What is a Crown Land File Number?</h3>
      <p>A Crown Land File Number is a unique seven digit number, regionally based, to identify an application or tenure
        on Crown land. For example, a Crown Land file number might identify a specific Aquaculture lease or a set of Right
        of Way tenures.</p>
    </section>
    <section>
      <h3>What is a Disposition Transaction ID?</h3>
      <p>This is an identifier unique to each application. It represents a specific instance of a particular activity in
        a particular parcel of Crown land. For example, two applications may share the same Crown Land File Number if they
        are the same activity in the same parcel of land, but will have unique Disposition Transaction IDs.</p>
    </section>
    <section>
      <p>
        Don't have either of these numbers?
        <button class="show-explore-btn btn btn-link" (click)="showExplore()">Explore Applications</button>
      </p>
    </section>
  </div>
</div>

<div style="display: none;">
    <fieldset class="additional-filters" (click)="$event.stopPropagation()">
        <div class="form-group typeahead-container">
          <label for="applicantInput">Applicant Name</label>
          <input type="text" class="form-control gtm-filter-applicant" placeholder="Applicant Name" id="applicantInput" [(ngModel)]="_applicantFilter">
        </div>
    </fieldset>
</div>