@import "~assets/styles/base/base.scss";

.is-invalid ~ .invalid-feedback {
  display: inline-block;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.input-group.is-invalid {
  .form-control {
    border-color: #dc3545;
  }

  .input-group-append {
    .btn-icon {
      border-color: #dc3545;
    }
  }
}