<tr
  *ngFor="let activity of activities | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }">
  <td scope="row" data-label="Headline" class="col-10">
    <span class="font-weight-bold">{{activity.headline || '-'}}</span>
    <br>
    <span>{{activity.project?.name}}</span>
    <br>
    <br>
    <span [innerHtml]="activity.content"></span>
    <a *ngIf="activity.project" class="btn content-btn-alt" [routerLink]="['/p', activity.project._id ]">
      <span>View Project</span>
    </a>
    <a *ngIf="isSingleDoc(activity?.documentUrl) && !activity?.documentUrl.includes('docs?folder')"
      class="btn content-btn-alt" (click)="goToItem(activity?.documentUrl)">
      <span>View Document(s)</span>
    </a>
    <button *ngIf="activity?.pcp"
      class="btn content-btn-alt" (click)="goToCP(activity)">
      <span>Submit/ View Comment(s)</span>
    </button>
  </td>
  <td scope="row" data-label="Date" class="col-2">{{activity.dateAdded | date:'longDate'}}</td>
</tr>
