<tr
  *ngFor="let activity of activities | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }">
  <td scope="row" data-label="Headline" class="col-10">
    <span class="font-weight-bold">{{activity.project.name || '-'}}</span>
    <br>
    <span>{{activity.headline || '-'}}</span>
    <br>
    <br>
    <span [innerHtml]="activity.content"></span>
    <a *ngIf="activity.project" class="btn content-btn-alt" [routerLink]="['/p', activity.project._id ]">
      <span>View Project</span>
    </a>
    <a *ngIf="isSingleDoc(activity?.documentUrl)" class="btn content-btn-alt" href="{{activity.documentUrl}}">
      <span>View Document(s)</span>
    </a>
    <a *ngIf="isSingleDoc(activity?.contentUrl)" class="btn content-btn-alt" href="{{activity.contentUrl}}">
      <span>Submit/View Comment(s)</span>
    </a>
  </td>
  <td scope="row" data-label="Date" class="col-2">{{activity.dateUpdated | date:'longDate'}}</td>
</tr>